workflowsDays of Social Media Gold.json
{
  "active": false,
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Find Record (First Click)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split campaign_id": {
      "main": [
        [
          {
            "node": "format Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Record (First Click)2": {
      "main": [
        [
          {
            "node": "Search Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Record (All Submissions) EVENTS2": {
      "main": [
        [
          {
            "node": "Create Record (Mini-Produkte)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Record (Mini-Produkte)2": {
      "main": [
        [
          {
            "node": "FIRST UTM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create/Update & Autosell3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Record (All Submissions) Master2": {
      "main": [
        [
          {
            "node": "Create Record (All Submissions) EVENTS2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to List3": {
      "main": [
        [
          {
            "node": "Add Tag3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tag3": {
      "main": [
        [
          {
            "node": "Only continue if number is valid4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Contact4": {
      "main": [
        [
          {
            "node": "Contact does not exist2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Contact exists2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact exists2": {
      "main": [
        [
          {
            "node": "Update Contact4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact does not exist2": {
      "main": [
        [
          {
            "node": "Create Contact2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Record (All Submissions) Master2": {
      "main": [
        [
          {
            "node": "Update Record (All Submissions) EVENTS2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Record (All Submissions) EVENTS2": {
      "main": [
        [
          {
            "node": "Update Record (Mini-Produkte)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Contact List (DOSM Day 2)3": {
      "main": [
        [
          {
            "node": "Add to Contact List (DOSM Day 3)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Contact List (DOSM Day 2)5": {
      "main": [
        [
          {
            "node": "Add to Contact List (DOSM Day 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Contact List (DOSM Day 1)5": {
      "main": [
        [
          {
            "node": "Add to Contact List (DOSM Day 2)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Contact List (DOSM Day 1)6": {
      "main": [
        [
          {
            "node": "Add to Contact List (DOSM Day 2)5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format Phone": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only continue if number is valid4": {
      "main": [
        [
          {
            "node": "Find Contact4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create/Update & Autosell3": {
      "main": [
        [
          {
            "node": "Create/Update4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create/Update4": {
      "main": [
        [
          {
            "node": "Add to List3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact4": {
      "main": [
        [
          {
            "node": "Add to Contact List (DOSM Day 1)5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Contact2": {
      "main": [
        [
          {
            "node": "Add to Contact List (DOSM Day 1)6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GOLD1": {
      "main": [
        [
          {
            "node": "Split campaign_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Events": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Record (Events)": {
      "main": [
        [
          {
            "node": "Search Record (All Submissions)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update Record (Events)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Record (All Submissions) Master2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Record (All Submissions)": {
      "main": [
        [
          {
            "node": "Update Record (All Submissions)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Record (All Submissions)": {
      "main": [
        [
          {
            "node": "Search Record (Mini-Produkte)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Record (Mini-Produkte)": {
      "main": [
        [
          {
            "node": "Update Record (Mini-Produkte)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FIRST UTM": {
      "main": [
        [
          {
            "node": "Update Record (All Submissions) Master2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "GOLD1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-06T13:19:51.558Z",
  "id": "5REIwMM9A8yk0sbn",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Days of Social Media Gold",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0e5ab86-95ac-48f3-9e16-289b98c3e222",
              "name": "E-Mail",
              "value": "={{ $('Webhook').item.json.body['payer[email]'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "97b081e8-dcf8-40fc-ba33-e246cbc6a82d",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        620
      ]
    },
    {
      "parameters": {
        "jsCode": "// Liste von speziellen Wörtern, die nicht aufgespalten werden sollen\nconst specialWords = [\n    \"paid_search\",\n    \"paid_social\",\n    \"paid_video\",\n    \"organic_search\",\n    \"organic_social\",\n    \"user_reviews\"\n];\n\n// Join the special words into a regex pattern\nconst specialWordsPattern = specialWords.join(\"|\");\n\n// Iteriere durch die eingehenden Items\nreturn items.map(item => {\n    // Get campaign_id from input data\n    const input_data = item.json.body;\n    if (input_data && input_data.campaign_id) {\n        const campaign_id = input_data.campaign_id;\n        \n        // Regex pattern to find all parts, treating special words as single units\n        const pattern = new RegExp(`${specialWordsPattern}|[^_]+`, 'g');\n        let words = campaign_id.match(pattern);\n        \n        // Replace \"undefined\" words with \"organic\"\n        words = words.map(word => word === 'undefined' ? 'organic' : word);\n        \n        // Assign words to respective variables, handling the case when there are fewer words than expected\n        const Source = words[0] || \"\";\n        const Medium = words[1] || \"\";\n        const Campaign = words[2] || \"\";\n        const Term = words[3] || \"\";\n        const Content = words[4] || \"\";\n        \n        // Check if Placement is \"organic\" or \"undefined\"\n        let Placement = \"\";\n        if (words.length > 5 && words[5] !== \"organic\" && words[5] !== \"undefined\") {\n            Placement = words.slice(5).join(\"_\");\n        }\n        \n        // Create an object with the UTM parameters\n        const output = {\n            Source,\n            Medium,\n            Campaign,\n            Term,\n            Content,\n            Placement,\n        };\n        \n        // Return the new JSON structure for n8n\n        return {\n            json: {\n                ...item.json,\n                output,\n            }\n        };\n    }\n    \n    // If no campaign_id is present, return the item unchanged\n    return {\n        json: item.json\n    };\n});"
      },
      "id": "2b197443-5f9c-4bb9-81a7-251457cb918d",
      "name": "Split campaign_id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        620
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app7bQ0CiN5j1RECH",
          "mode": "list",
          "cachedResultName": "Final Tracking",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH"
        },
        "table": {
          "__rl": true,
          "value": "tblj0vg3XIYidUfPB",
          "mode": "list",
          "cachedResultName": "All Submissions",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH/tblj0vg3XIYidUfPB"
        },
        "filterByFormula": "=\"{{ $('Webhook').item.json.body['payer[email]'] }}\"={E-Mail}",
        "returnAll": false,
        "limit": 1,
        "options": {
          "view": {
            "__rl": true,
            "value": "viwpB5iqJmrioRtKS",
            "mode": "list",
            "cachedResultName": "First Click",
            "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH/tblj0vg3XIYidUfPB/viwpB5iqJmrioRtKS"
          }
        }
      },
      "id": "aceac87c-5c09-4fd3-8a20-7924745cfd37",
      "name": "Find Record (First Click)2",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1100,
        620
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "IBvQYb808RuFQZfA",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appT9Q0lTbgTyRrHE",
          "mode": "list",
          "cachedResultName": "MP LIVE EVENTS",
          "cachedResultUrl": "https://airtable.com/appT9Q0lTbgTyRrHE"
        },
        "table": {
          "__rl": true,
          "value": "tblWLy8iXGxhOEra5",
          "mode": "list",
          "cachedResultName": "All Submissions",
          "cachedResultUrl": "https://airtable.com/appT9Q0lTbgTyRrHE/tblWLy8iXGxhOEra5"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Datum": "={{ $('Webhook').item.json.body.created_date }}",
            "E-Mail": "={{ $('Webhook').item.json.body['payer[email]'] }}",
            "Vorname": "={{ $('Webhook').item.json.body['payer[first_name]'] }}",
            "Nachname": "={{ $('Webhook').item.json.body['payer[last_name]'] }}",
            "Full Name": "={{ $('Webhook').item.json.body['payer[first_name]'] }} {{ $('Webhook').item.json.body['payer[last_name]'] }}",
            "Telefonnummer": "={{ $('format Phone').item.json.Phone }}",
            "utm_source": "={{ $('Split campaign_id').item.json.output.Source }}",
            "utm_medium": "={{ $('Split campaign_id').item.json.output.Medium }}",
            "utm_campaign": "={{ $('Split campaign_id').item.json.output.Campaign }}",
            "utm_term": "={{ $('Split campaign_id').item.json.output.Term }}",
            "utm_content": "={{ $('Split campaign_id').item.json.output.Content }}",
            "Placement": "={{ $('Split campaign_id').item.json.output.Placement }}",
            "URL Path": "={{ $('Webhook').item.json.body['sellables[][product][slug]'] }}",
            "Count": 1,
            "Lead Herkunft": "📲 DOSM Gold",
            "first_utm_source": "={{ $('Find Record (First Click)2').item.json.utm_source }}",
            "first_utm_campaign": "={{ $('Find Record (First Click)2').item.json.utm_campaign }}",
            "first_utm_medium": "={{ $('Find Record (First Click)2').item.json.utm_medium }}",
            "first_utm_term": "={{ $('Find Record (First Click)2').item.json.utm_term }}",
            "first_utm_content": "={{ $('Find Record (First Click)2').item.json.utm_content }}",
            "first_placement": "={{ $('Find Record (First Click)2').item.json.Placement }}",
            "first_url_path": "={{ $('Find Record (First Click)2').item.json['URL Path'] }}",
            "Lead Herkunft First": "={{ $('Find Record (First Click)2').item.json['Lead Herkunft'] }}",
            "Affiliate": "🔵 Intern"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Datum",
              "displayName": "Datum",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Herkunft",
              "displayName": "Lead Herkunft",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "E-Mail",
              "displayName": "E-Mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Vorname",
              "displayName": "Vorname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nachname",
              "displayName": "Nachname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Telefonnummer",
              "displayName": "Telefonnummer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Placement",
              "displayName": "Placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL Path",
              "displayName": "URL Path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Count",
              "displayName": "Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_source",
              "displayName": "first_utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_campaign",
              "displayName": "first_utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_medium",
              "displayName": "first_utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_term",
              "displayName": "first_utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_content",
              "displayName": "first_utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_placement",
              "displayName": "first_placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_url_path",
              "displayName": "first_url_path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Herkunft First",
              "displayName": "Lead Herkunft First",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Erstellt",
              "displayName": "Erstellt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Affiliate",
              "displayName": "Affiliate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "pid",
              "displayName": "pid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prid",
              "displayName": "prid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "DOSM Day 1",
              "displayName": "DOSM Day 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DOSM Day 2",
              "displayName": "DOSM Day 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DOSM Day 3",
              "displayName": "DOSM Day 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DOSM Day 4",
              "displayName": "DOSM Day 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DOSM Day 1 ID",
              "displayName": "DOSM Day 1 ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DOSM Day 2 ID",
              "displayName": "DOSM Day 2 ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DOSM Day 3 ID",
              "displayName": "DOSM Day 3 ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DOSM Day 4 ID",
              "displayName": "DOSM Day 4 ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Zuletzt geändert",
              "displayName": "Zuletzt geändert",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "928516ba-03ac-4e92-b0d7-8703161bfa6f",
      "name": "Create Record (All Submissions) EVENTS2",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1960,
        940
      ],
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "airtableTokenApi": {
          "id": "IBvQYb808RuFQZfA",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app7bQ0CiN5j1RECH",
          "mode": "list",
          "cachedResultName": "Final Tracking",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH"
        },
        "table": {
          "__rl": true,
          "value": "tbl4nYxtZoBS5J4tn",
          "mode": "list",
          "cachedResultName": "Mini - Produkte",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH/tbl4nYxtZoBS5J4tn"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Datum": "={{ $('Webhook').item.json.body.created_date }}",
            "E-Mail": "={{ $('Webhook').item.json.body['payer[email]'] }}",
            "Vollständiger Name": "={{ $('Webhook').item.json.body['payer[first_name]'] }} {{ $('Webhook').item.json.body['payer[last_name]'] }}",
            "Handynummer": "={{ $('format Phone').item.json.Phone }}",
            "Produkt": "={{ $('Webhook').item.json.body['product[name]'] }}",
            "Anzahlung / Revenue": "={{ $('Webhook').item.json.body['product[price]'] }}",
            "Payment Method": "={{ $('Webhook').item.json.body.payment_method }}",
            "Payment Plan / Status": "={{ $('Webhook').item.json.body.payment_state }}",
            "Anzahl Raten": 0,
            "Hausnummer": "={{ $('Webhook').item.json.body['payer[street_number]'] }}",
            "utm_source": "={{ $('Split campaign_id').item.json.output.Source }}",
            "Produktpreis": 0,
            "utm_medium": "={{ $('Split campaign_id').item.json.output.Medium }}",
            "utm_campaign": "={{ $('Split campaign_id').item.json.output.Campaign }}",
            "utm_term": "={{ $('Split campaign_id').item.json.output.Term }}",
            "utm_content": "={{ $('Split campaign_id').item.json.output.Content }}",
            "Placement": "={{ $('Split campaign_id').item.json.output.Placement }}",
            "Lead Herkunft Last": "={{ $json.fields['Lead Herkunft'] }}",
            "Affiliate": "🔵 Intern",
            "Lead Herkunft First": "={{ $('Find Record (First Click)2').item.json['Lead Herkunft'] }}",
            "first_utm_source": "={{ $('Find Record (First Click)2').item.json.utm_source }}",
            "first_utm_campaign": "={{ $('Find Record (First Click)2').item.json.utm_campaign }}",
            "first_utm_medium": "={{ $('Find Record (First Click)2').item.json.utm_medium }}",
            "first_utm_term": "={{ $('Find Record (First Click)2').item.json.utm_term }}",
            "first_utm_content": "={{ $('Find Record (First Click)2').item.json.utm_content }}",
            "first_placement": "={{ $('Find Record (First Click)2').item.json.Placement }}",
            "Vorname": "={{ $('Webhook').item.json.body['payer[first_name]'] }}",
            "Nachname": "={{ $('Webhook').item.json.body['payer[last_name]'] }}",
            "Count": 1,
            "Land": "={{ $('Webhook').item.json.body['payer[country]'] }}",
            "Stadt": "={{ $('Webhook').item.json.body['payer[city]'] }}",
            "PLZ": "={{ $('Webhook').item.json.body['payer[zip]'] }}",
            "Strasse ": "={{ $('Webhook').item.json.body['payer[street]'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Datum",
              "displayName": "Datum",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Zuletzt geändert",
              "displayName": "Zuletzt geändert",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Erstellt",
              "displayName": "Erstellt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "E-Mail",
              "displayName": "E-Mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Vollständiger Name",
              "displayName": "Vollständiger Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Handynummer",
              "displayName": "Handynummer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Produkt",
              "displayName": "Produkt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Produktpreis",
              "displayName": "Produktpreis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Anzahlung / Revenue",
              "displayName": "Anzahlung / Revenue",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Payment Method",
              "displayName": "Payment Method",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Payment Plan / Status",
              "displayName": "Payment Plan / Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Anzahl Raten",
              "displayName": "Anzahl Raten",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Raten",
              "displayName": "Raten",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Land",
              "displayName": "Land",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Stadt",
              "displayName": "Stadt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PLZ",
              "displayName": "PLZ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Strasse ",
              "displayName": "Strasse ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hausnummer",
              "displayName": "Hausnummer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Placement",
              "displayName": "Placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Herkunft Last",
              "displayName": "Lead Herkunft Last",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Herkunft First",
              "displayName": "Lead Herkunft First",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_source",
              "displayName": "first_utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_medium",
              "displayName": "first_utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_campaign",
              "displayName": "first_utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_term",
              "displayName": "first_utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_content",
              "displayName": "first_utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_placement",
              "displayName": "first_placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Affiliate",
              "displayName": "Affiliate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PID",
              "displayName": "PID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PRID",
              "displayName": "PRID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Affiliate Name",
              "displayName": "Affiliate Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Vorname",
              "displayName": "Vorname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nachname",
              "displayName": "Nachname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Count",
              "displayName": "Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "53c98ac1-c086-456b-b58e-7f5a1f0b50ed",
      "name": "Create Record (Mini-Produkte)2",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2180,
        940
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "IBvQYb808RuFQZfA",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app7bQ0CiN5j1RECH",
          "mode": "list",
          "cachedResultName": "Final Tracking",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH"
        },
        "table": {
          "__rl": true,
          "value": "tblj0vg3XIYidUfPB",
          "mode": "list",
          "cachedResultName": "All Submissions",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH/tblj0vg3XIYidUfPB"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Datum": "={{ $('Webhook').item.json.body.created_date }}",
            "Lead Herkunft": "📲 DOSM Gold",
            "E-Mail": "={{ $('Webhook').item.json.body['payer[email]'] }}",
            "Vorname": "={{ $('Webhook').item.json.body['payer[first_name]'] }}",
            "Nachname": "={{ $('Webhook').item.json.body['payer[last_name]'] }}",
            "Full Name": "={{ $('Webhook').item.json.body['payer[first_name]'] }} {{ $('Webhook').item.json.body['payer[last_name]'] }}",
            "Telefonnummer": "={{ $('format Phone').item.json.Phone }}",
            "utm_source": "={{ $('Split campaign_id').item.json.output.Source }}",
            "utm_medium": "={{ $('Split campaign_id').item.json.output.Medium }}",
            "utm_campaign": "={{ $('Split campaign_id').item.json.output.Campaign }}",
            "utm_term": "={{ $('Split campaign_id').item.json.output.Term }}",
            "utm_content": "={{ $('Split campaign_id').item.json.output.Content }}",
            "Placement": "={{ $('Split campaign_id').item.json.output.Placement }}",
            "Count": 1,
            "URL Path": "={{ $('Webhook').item.json.body['product[slug]'] }}",
            "Affiliate": "🔵 Intern",
            "first_utm_source": "={{ $json.utm_source }}",
            "first_utm_campaign": "={{ $json.utm_campaign }}",
            "first_utm_medium": "={{ $json.utm_medium }}",
            "first_utm_content": "={{ $json.utm_content }}",
            "first_utm_term": "={{ $json.utm_term }}",
            "first_placement": "={{ $json.Placement }}",
            "first_url_path": "={{ $json['URL Path'] }}",
            "Lead Herkunft First": "={{ $json['Lead Herkunft'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Datum",
              "displayName": "Datum",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Herkunft",
              "displayName": "Lead Herkunft",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "E-Mail",
              "displayName": "E-Mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Vorname",
              "displayName": "Vorname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nachname",
              "displayName": "Nachname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Telefonnummer",
              "displayName": "Telefonnummer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Placement",
              "displayName": "Placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Count",
              "displayName": "Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL Path",
              "displayName": "URL Path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_source",
              "displayName": "first_utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_campaign",
              "displayName": "first_utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_medium",
              "displayName": "first_utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_content",
              "displayName": "first_utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_term",
              "displayName": "first_utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_placement",
              "displayName": "first_placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_url_path",
              "displayName": "first_url_path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Herkunft First",
              "displayName": "Lead Herkunft First",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Zuletzt geändert",
              "displayName": "Zuletzt geändert",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Erstellt",
              "displayName": "Erstellt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Affiliate",
              "displayName": "Affiliate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "pid",
              "displayName": "pid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prid",
              "displayName": "prid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "f49e252e-9250-43e7-840a-8e29c59d6274",
      "name": "Create Record (All Submissions) Master2",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1760,
        940
      ],
      "executeOnce": false,
      "credentials": {
        "airtableTokenApi": {
          "id": "IBvQYb808RuFQZfA",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactList",
        "listId": 35,
        "contactId": "={{ $json.id }}"
      },
      "id": "9ffdb68b-a71e-429e-956d-c0d0d767fd09",
      "name": "Add to List3",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2820,
        940
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "activeCampaignApi": {
          "id": "teATeM55lqOgZIOH",
          "name": "ActiveCampaign account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "149",
        "contactId": "={{ $('Create/Update4').item.json.id }}"
      },
      "id": "6baae7ed-1d5d-4d02-a809-d938fcad5eb9",
      "name": "Add Tag3",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        3040,
        940
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "activeCampaignApi": {
          "id": "teATeM55lqOgZIOH",
          "name": "ActiveCampaign account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.superchat.com/v1.0/contacts/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "0cdf445e-330f-4179-84a6-faab5838663e"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": {\n    \"value\": [\n      {\n        \"operator\": \"=\",\n        \"field\": \"phone\",\n        \"value\": \"{{ $('format Phone').item.json.Phone }}\"\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "4a54885a-38ff-4bdd-a976-6d0fe06bad72",
      "name": "Find Contact4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3500,
        940
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f9f88955-5e3a-4bf6-ae7f-df9f73c91ef6",
              "leftValue": "={{ $json.results }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d95a8a5b-2c70-446c-a5e6-4c17aabc143a",
      "name": "Contact exists2",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        3760,
        820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4c88e4d7-b0e0-46be-9530-1f01f8f79e4b",
              "leftValue": "={{ $json.results }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0a631fae-a549-489c-b09b-3911101bfc5d",
      "name": "Contact does not exist2",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        3760,
        1060
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app7bQ0CiN5j1RECH",
          "mode": "list",
          "cachedResultName": "Final Tracking",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH"
        },
        "table": {
          "__rl": true,
          "value": "tblj0vg3XIYidUfPB",
          "mode": "list",
          "cachedResultName": "All Submissions",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH/tblj0vg3XIYidUfPB"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Create Record (All Submissions) Master2').item.json.id }}",
            "first_utm_source": "={{ $('Split campaign_id').item.json.output.Source }}",
            "first_utm_medium": "={{ $('Split campaign_id').item.json.output.Medium }}",
            "first_utm_campaign": "={{ $('Split campaign_id').item.json.output.Campaign }}",
            "first_utm_term": "={{ $('Split campaign_id').item.json.output.Term }}",
            "first_utm_content": "={{ $('Split campaign_id').item.json.output.Content }}",
            "first_placement": "={{ $('Split campaign_id').item.json.output.Placement }}",
            "first_url_path": "={{ $('Create Record (All Submissions) Master2').item.json.fields['URL Path'] }}",
            "Lead Herkunft First": "={{ $('Create Record (All Submissions) Master2').item.json.fields['Lead Herkunft'] }}",
            "Count": 1
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Datum",
              "displayName": "Datum",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Herkunft",
              "displayName": "Lead Herkunft",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "E-Mail",
              "displayName": "E-Mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Vorname",
              "displayName": "Vorname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nachname",
              "displayName": "Nachname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Telefonnummer",
              "displayName": "Telefonnummer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Placement",
              "displayName": "Placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Count",
              "displayName": "Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL Path",
              "displayName": "URL Path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_source",
              "displayName": "first_utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_campaign",
              "displayName": "first_utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_medium",
              "displayName": "first_utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_term",
              "displayName": "first_utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_content",
              "displayName": "first_utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_placement",
              "displayName": "first_placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_url_path",
              "displayName": "first_url_path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Herkunft First",
              "displayName": "Lead Herkunft First",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Zuletzt geändert",
              "displayName": "Zuletzt geändert",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Erstellt",
              "displayName": "Erstellt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Affiliate",
              "displayName": "Affiliate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "pid",
              "displayName": "pid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prid",
              "displayName": "prid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "43fefc96-b535-4638-b662-46d6cec1316d",
      "name": "Update Record (All Submissions) Master2",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2620,
        720
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "IBvQYb808RuFQZfA",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appT9Q0lTbgTyRrHE",
          "mode": "list",
          "cachedResultName": "MP LIVE EVENTS",
          "cachedResultUrl": "https://airtable.com/appT9Q0lTbgTyRrHE"
        },
        "table": {
          "__rl": true,
          "value": "tblWLy8iXGxhOEra5",
          "mode": "list",
          "cachedResultName": "All Submissions",
          "cachedResultUrl": "https://airtable.com/appT9Q0lTbgTyRrHE/tblWLy8iXGxhOEra5"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Create Record (All Submissions) EVENTS2').item.json.id }}",
            "first_utm_source": "={{ $('Split campaign_id').item.json.output.Source }}",
            "first_utm_medium": "={{ $('Split campaign_id').item.json.output.Medium }}",
            "first_utm_campaign": "={{ $('Split campaign_id').item.json.output.Campaign }}",
            "first_utm_term": "={{ $('Split campaign_id').item.json.output.Term }}",
            "first_utm_content": "={{ $('Split campaign_id').item.json.output.Content }}",
            "first_placement": "={{ $('Split campaign_id').item.json.output.Placement }}",
            "first_url_path": "={{ $('Create Record (All Submissions) EVENTS2').item.json.fields['URL Path'] }}",
            "Lead Herkunft First": "={{ $('Create Record (All Submissions) EVENTS2').item.json.fields['Lead Herkunft'] }}",
            "Count": 1
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Datum",
              "displayName": "Datum",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Herkunft",
              "displayName": "Lead Herkunft",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "E-Mail",
              "displayName": "E-Mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Vorname",
              "displayName": "Vorname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nachname",
              "displayName": "Nachname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Telefonnummer",
              "displayName": "Telefonnummer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Placement",
              "displayName": "Placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL Path",
              "displayName": "URL Path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Count",
              "displayName": "Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_source",
              "displayName": "first_utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_campaign",
              "displayName": "first_utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_medium",
              "displayName": "first_utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_term",
              "displayName": "first_utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_content",
              "displayName": "first_utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_placement",
              "displayName": "first_placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_url_path",
              "displayName": "first_url_path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Herkunft First",
              "displayName": "Lead Herkunft First",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Erstellt",
              "displayName": "Erstellt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Affiliate",
              "displayName": "Affiliate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "pid",
              "displayName": "pid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prid",
              "displayName": "prid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "DOSM Day 1",
              "displayName": "DOSM Day 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "DOSM Day 2",
              "displayName": "DOSM Day 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "DOSM Day 3",
              "displayName": "DOSM Day 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "DOSM Day 4",
              "displayName": "DOSM Day 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Zuletzt geändert",
              "displayName": "Zuletzt geändert",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "59363dd6-449e-4c67-9f40-f1ccaae391af",
      "name": "Update Record (All Submissions) EVENTS2",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2820,
        720
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "IBvQYb808RuFQZfA",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.superchat.com/v1.0/contacts/{{ $('Update Contact4').item.json.id }}/contact-lists",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "0cdf445e-330f-4179-84a6-faab5838663e"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "cl_0TTozpiYWM96t92uS3ken"
            }
          ]
        },
        "options": {}
      },
      "id": "983e81db-f061-4732-a2fb-d53196dd671e",
      "name": "Add to Contact List (DOSM Day 2)3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4360,
        820
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.superchat.com/v1.0/contacts/{{ $('Create Contact2').item.json.id }}/contact-lists",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "0cdf445e-330f-4179-84a6-faab5838663e"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "cl_0TTozpiYWM96t92uS3ken"
            }
          ]
        },
        "options": {}
      },
      "id": "3d9d6e05-6ef3-42be-bb91-906e13c9cf0e",
      "name": "Add to Contact List (DOSM Day 2)5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4360,
        1060
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.superchat.com/v1.0/contacts/{{ $json.id }}/contact-lists",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "0cdf445e-330f-4179-84a6-faab5838663e"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "cl_54LhEvAPhPbHGB7OFW8Ac"
            }
          ]
        },
        "options": {}
      },
      "id": "ef693909-8d18-4001-85db-ce222c8b7f8d",
      "name": "Add to Contact List (DOSM Day 1)5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4160,
        820
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.superchat.com/v1.0/contacts/{{ $json.id }}/contact-lists",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "0cdf445e-330f-4179-84a6-faab5838663e"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "cl_54LhEvAPhPbHGB7OFW8Ac"
            }
          ]
        },
        "options": {}
      },
      "id": "93c06e0d-5cce-4370-afc9-40ed48ee27ca",
      "name": "Add to Contact List (DOSM Day 1)6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4160,
        1060
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.superchat.com/v1.0/contacts/{{ $('Create Contact2').item.json.id }}/contact-lists",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "0cdf445e-330f-4179-84a6-faab5838663e"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "cl_TWCb2NsvMh1JycEjaErUv"
            }
          ]
        },
        "options": {}
      },
      "id": "4b20c973-09b5-4bf2-8ad1-79e0ba3a2915",
      "name": "Add to Contact List (DOSM Day 3)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4560,
        1060
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// JSON-Eingabe: Die Struktur entspricht der übergebenen Beispielstruktur\nconst data = $json;\n\n// Extrahiere die Telefonnummer aus payer[phone]\nlet phone = data.body[\"payer[phone]\"];\n\n// Liste aller Ländervorwahlen\nconst countryCodes = [\"1\", \"30\", \"31\", \"32\", \"33\", \"34\", \"36\", \"39\", \"40\", \"41\", \"43\", \"44\", \"45\", \"46\", \"47\", \"48\", \"49\", \"52\", \"62\", \"971\", \"420\", \"423\", \"27\"];\n\n// Funktion zur Bereinigung der Telefonnummer\nfunction cleanPhoneNumber(phone) {\n    // Entferne Leerzeichen, Bindestriche, Klammern und sonstige Sonderzeichen\n    phone = phone.replace(/[\\s()-]/g, \"\");\n\n    // Entferne führende Nullen (vor dem Ländercode)\n    while (phone.startsWith(\"0\")) {\n        phone = phone.substring(1);\n    }\n\n    // Wenn keine \"+\" vorhanden ist, füge sie hinzu (E.164 Format benötigt das \"+\" Zeichen)\n    if (!phone.startsWith(\"+\")) {\n        phone = \"+\" + phone;\n    }\n\n    // Prüfe auf doppelte Ländervorwahl\n    phone = removeDuplicateCountryCode(phone, countryCodes);\n\n    // Ländervorwahl validieren und überprüfen, ob nach der Ländervorwahl keine Null steht\n    for (let code of countryCodes) {\n        const pattern = new RegExp(`^(\\\\+${code})(0+)`); // Überprüfe auf eine oder mehrere Nullen nach dem Ländercode\n        if (pattern.test(phone)) {\n            // Entferne alle führenden Nullen nach der Ländervorwahl\n            phone = phone.replace(pattern, `+$1`); // Ersetze die Nullen durch nichts\n        }\n    }\n\n    // Entferne alle doppelten '+' Zeichen und lasse nur eines übrig\n    phone = phone.replace(/^\\+{2,}/, \"+\");\n\n    return phone;\n}\n\n// Funktion zur Überprüfung auf doppelte Ländervorwahl\nfunction removeDuplicateCountryCode(phone, countryCodes) {\n    for (let code of countryCodes) {\n        const doubleCodePattern = new RegExp(`^\\\\+${code}{2}`);\n        if (doubleCodePattern.test(phone)) {\n            // Entferne die doppelte Ländervorwahl\n            phone = phone.replace(`+${code}${code}`, `+${code}`);\n        }\n    }\n    return phone;\n}\n\n// Telefonnummer bereinigen und formatieren\nconst formattedPhone = cleanPhoneNumber(phone);\n\n// Berechnung der Anzahl der Zeichen inklusive des Plus-Zeichens\nconst phoneLength = formattedPhone.length;\n\n// Ausgabe: Bereinigte Telefonnummer im E.164-Format und die Anzahl der Zeichen\nreturn {\n    \"Phone\": formattedPhone,\n    \"PhoneLength\": phoneLength\n};\n"
      },
      "id": "1654cd54-7fda-445e-ad4c-9345a019b796",
      "name": "format Phone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "a1ea0ea5-e736-486e-9f29-6c0fb37c48f1",
              "leftValue": "={{ $('format Phone').item.json.PhoneLength }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "1e3310df-833a-4613-b29c-5412800a4033",
              "leftValue": "={{ $('format Phone').item.json.PhoneLength }}",
              "rightValue": 16,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4efb477c-0278-4fc4-b44c-0be5ed1a25c2",
      "name": "Only continue if number is valid4",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        3280,
        940
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.superchat.com/v1.0/contacts/{{ $('Update Contact4').item.json.id }}/contact-lists",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "0cdf445e-330f-4179-84a6-faab5838663e"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "cl_TWCb2NsvMh1JycEjaErUv"
            }
          ]
        },
        "options": {}
      },
      "id": "ccd6084e-cce8-4b27-a711-d270aa97d5c9",
      "name": "Add to Contact List (DOSM Day 3)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4560,
        820
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us-central1-crm-server-mymiapage.cloudfunctions.net/Create_Update_Lead_in_Close_Autosell_Infoproducts2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Webhook').item.json.body['payer[first_name]'] }} {{ $('Webhook').item.json.body['payer[last_name]'] }}"
            },
            {
              "name": "phone",
              "value": "={{ $('format Phone').item.json.Phone }}"
            },
            {
              "name": "email",
              "value": "={{ $('Webhook').item.json.body['payer[email]'] }}"
            },
            {
              "name": "kampagne",
              "value": "📲 Days of Social Media"
            },
            {
              "name": "utm_source",
              "value": "={{ $('Split campaign_id').item.json.output.Source }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $('Split campaign_id').item.json.output.Medium }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $('Split campaign_id').item.json.output.Campaign }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $('Split campaign_id').item.json.output.Term }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $('Split campaign_id').item.json.output.Content }}"
            },
            {
              "name": "placement",
              "value": "={{ $('Split campaign_id').item.json.output.Placement }}"
            },
            {
              "name": "Netto Auftragsvolumen",
              "value": "={{ $('Webhook').item.json.body['product[price]'] }}"
            },
            {
              "name": "produkt",
              "value": "={{ $('Webhook').item.json.body['product[name]'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "533ebbd4-a955-48e6-ae8b-d4c16153b30e",
      "name": "Create/Update & Autosell3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        940
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "email": "={{ $('Webhook').item.json.body['payer[email]'] }}",
        "updateIfExists": true,
        "additionalFields": {
          "fieldValues": {
            "property": [
              {
                "field": "1",
                "value": "={{ $('Split campaign_id').item.json.output.Source }}"
              },
              {
                "field": "2",
                "value": "={{ $('Split campaign_id').item.json.output.Campaign }}"
              },
              {
                "field": "3",
                "value": "={{ $('Split campaign_id').item.json.output.Medium }}"
              },
              {
                "field": "4",
                "value": "={{ $('Split campaign_id').item.json.output.Term }}"
              },
              {
                "field": "6",
                "value": "={{ $('Split campaign_id').item.json.output.Content }}"
              },
              {
                "field": "9",
                "value": "={{ $('Split campaign_id').item.json.output.Placement }}"
              }
            ]
          },
          "firstName": "={{ $('Webhook').item.json.body['payer[first_name]'] }}",
          "lastName": "={{ $('Webhook').item.json.body['payer[last_name]'] }}",
          "phone": "={{ $('format Phone').item.json.Phone }}"
        }
      },
      "id": "4d7a2467-8129-4526-9a3c-3153eacac8cb",
      "name": "Create/Update4",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2600,
        940
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "activeCampaignApi": {
          "id": "teATeM55lqOgZIOH",
          "name": "ActiveCampaign account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.superchat.com/v1.0/contacts/{{ $json.results[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "0cdf445e-330f-4179-84a6-faab5838663e"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"first_name\": \"{{ $('Webhook').item.json.body['payer[first_name]'] }}\",\n  \"last_name\": \"{{ $('Webhook').item.json.body['payer[last_name]'] }}\"\n}",
        "options": {}
      },
      "id": "fc1b8358-6a46-4b2c-988a-0fe01a377f69",
      "name": "Update Contact4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3960,
        820
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.superchat.com/v1.0/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "0cdf445e-330f-4179-84a6-faab5838663e"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"first_name\": \"{{ $('Webhook').item.json.body['payer[first_name]'] }}\",\n  \"last_name\": \"{{ $('Webhook').item.json.body['payer[last_name]'] }}\",\n  \"handles\": [\n    {\n      \"type\": \"phone\",\n      \"value\": \"{{ $('format Phone').item.json.Phone }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "8c34e169-d05b-4c3a-b50b-4da92dd682e8",
      "name": "Create Contact2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3960,
        1060
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "5a19e9cf-73ea-4d5d-9c00-15d1146a3137",
              "leftValue": "={{ $json.body['payer[phone]'] }}",
              "rightValue": "@eyl-marketing.de",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "094c53f4-0d48-4dcf-9faf-ddb3db845064",
              "leftValue": "={{ $('Webhook').item.json.body['product[name]'] }}",
              "rightValue": "Days of Social Media Gold Ticket",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d4e866fe-f0bf-43ef-8630-b483d115f2ad",
      "name": "GOLD1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -140,
        620
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appT9Q0lTbgTyRrHE",
          "mode": "list",
          "cachedResultName": "MP LIVE EVENTS",
          "cachedResultUrl": "https://airtable.com/appT9Q0lTbgTyRrHE"
        },
        "table": {
          "__rl": true,
          "value": "tblWLy8iXGxhOEra5",
          "mode": "list",
          "cachedResultName": "All Submissions",
          "cachedResultUrl": "https://airtable.com/appT9Q0lTbgTyRrHE/tblWLy8iXGxhOEra5"
        },
        "filterByFormula": "=AND(\n  \"{{ $('Webhook').item.json.body['payer[email]'] }}\"={E-Mail},\n  \"📲 DOSM Silver\"={Lead Herkunft}\n)",
        "returnAll": false,
        "limit": 1,
        "options": {
          "view": {
            "__rl": true,
            "value": "viw00TPimYqsy1HR7",
            "mode": "list",
            "cachedResultName": "Last Click",
            "cachedResultUrl": "https://airtable.com/appT9Q0lTbgTyRrHE/tblWLy8iXGxhOEra5/viw00TPimYqsy1HR7"
          }
        }
      },
      "id": "fe7e83e5-65d1-48a5-951d-392b76b32b95",
      "name": "Search Events",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1320,
        620
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "IBvQYb808RuFQZfA",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appT9Q0lTbgTyRrHE",
          "mode": "list",
          "cachedResultName": "MP LIVE EVENTS",
          "cachedResultUrl": "https://airtable.com/appT9Q0lTbgTyRrHE"
        },
        "table": {
          "__rl": true,
          "value": "tblWLy8iXGxhOEra5",
          "mode": "list",
          "cachedResultName": "All Submissions",
          "cachedResultUrl": "https://airtable.com/appT9Q0lTbgTyRrHE/tblWLy8iXGxhOEra5"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Search Events').item.json.id }}",
            "Upsell": "Upsell auf Gold",
            "Lead Herkunft": "📲 DOSM Gold"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Datum",
              "displayName": "Datum",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead Herkunft",
              "displayName": "Lead Herkunft",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "E-Mail",
              "displayName": "E-Mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Vorname",
              "displayName": "Vorname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Nachname",
              "displayName": "Nachname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefonnummer",
              "displayName": "Telefonnummer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Placement",
              "displayName": "Placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "URL Path",
              "displayName": "URL Path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Count",
              "displayName": "Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_utm_source",
              "displayName": "first_utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_utm_campaign",
              "displayName": "first_utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_utm_medium",
              "displayName": "first_utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_utm_term",
              "displayName": "first_utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_utm_content",
              "displayName": "first_utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_placement",
              "displayName": "first_placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_url_path",
              "displayName": "first_url_path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead Herkunft First",
              "displayName": "Lead Herkunft First",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Erstellt",
              "displayName": "Erstellt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Affiliate",
              "displayName": "Affiliate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "pid",
              "displayName": "pid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "prid",
              "displayName": "prid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DOSM Day 1",
              "displayName": "DOSM Day 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DOSM Day 2",
              "displayName": "DOSM Day 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DOSM Day 3",
              "displayName": "DOSM Day 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DOSM Day 4",
              "displayName": "DOSM Day 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DOSM Day 1 ID",
              "displayName": "DOSM Day 1 ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DOSM Day 2 ID",
              "displayName": "DOSM Day 2 ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DOSM Day 3 ID",
              "displayName": "DOSM Day 3 ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DOSM Day 4 ID",
              "displayName": "DOSM Day 4 ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Upsell",
              "displayName": "Upsell",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Zuletzt geändert",
              "displayName": "Zuletzt geändert",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "6f4edaf9-cb61-4e2e-9494-52018f2f9270",
      "name": "Update Record (Events)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1760,
        420
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "IBvQYb808RuFQZfA",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "df2f7c21-adfa-4888-87c2-bb550eec949b",
              "leftValue": "={{ $('Search Events').item.json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "998d96af-c923-403e-9fb7-8afe3faa191b",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1540,
        620
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app7bQ0CiN5j1RECH",
          "mode": "list",
          "cachedResultName": "Final Tracking",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH"
        },
        "table": {
          "__rl": true,
          "value": "tblj0vg3XIYidUfPB",
          "mode": "list",
          "cachedResultName": "All Submissions",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH/tblj0vg3XIYidUfPB"
        },
        "filterByFormula": "=AND(\n  \"{{ $('Webhook').item.json.body['payer[email]'] }}\"={E-Mail},\n  \"📲 DOSM Silver\"={Lead Herkunft}\n)",
        "returnAll": false,
        "limit": 1,
        "options": {
          "view": {
            "__rl": true,
            "value": "viwyg9zrk87mN8fTl",
            "mode": "list",
            "cachedResultName": "Last Click",
            "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH/tblj0vg3XIYidUfPB/viwyg9zrk87mN8fTl"
          }
        }
      },
      "id": "06958338-d90a-4b1b-9dfc-89f1f26c5571",
      "name": "Search Record (All Submissions)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1980,
        420
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "IBvQYb808RuFQZfA",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app7bQ0CiN5j1RECH",
          "mode": "list",
          "cachedResultName": "Final Tracking",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH"
        },
        "table": {
          "__rl": true,
          "value": "tblj0vg3XIYidUfPB",
          "mode": "list",
          "cachedResultName": "All Submissions",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH/tblj0vg3XIYidUfPB"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Lead Herkunft": "📲 DOSM Gold"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Datum",
              "displayName": "Datum",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead Herkunft",
              "displayName": "Lead Herkunft",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "E-Mail",
              "displayName": "E-Mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Vorname",
              "displayName": "Vorname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Nachname",
              "displayName": "Nachname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefonnummer",
              "displayName": "Telefonnummer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Placement",
              "displayName": "Placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Count",
              "displayName": "Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "URL Path",
              "displayName": "URL Path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_utm_source",
              "displayName": "first_utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_utm_campaign",
              "displayName": "first_utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_utm_medium",
              "displayName": "first_utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_utm_term",
              "displayName": "first_utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_utm_content",
              "displayName": "first_utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_placement",
              "displayName": "first_placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_url_path",
              "displayName": "first_url_path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead Herkunft First",
              "displayName": "Lead Herkunft First",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Zuletzt geändert",
              "displayName": "Zuletzt geändert",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Erstellt",
              "displayName": "Erstellt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Affiliate",
              "displayName": "Affiliate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "pid",
              "displayName": "pid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "prid",
              "displayName": "prid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "474d8734-78a7-4dd9-820b-79258713e07e",
      "name": "Update Record (All Submissions)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2200,
        420
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "IBvQYb808RuFQZfA",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app7bQ0CiN5j1RECH",
          "mode": "list",
          "cachedResultName": "Final Tracking",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH"
        },
        "table": {
          "__rl": true,
          "value": "tbl4nYxtZoBS5J4tn",
          "mode": "list",
          "cachedResultName": "Mini - Produkte",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH/tbl4nYxtZoBS5J4tn"
        },
        "filterByFormula": "=AND(   \"{{ $('Webhook').item.json.body['payer[email]'] }}\"={E-Mail},   \"Days of Social Media Silver Ticket\"={Produkt} )",
        "returnAll": false,
        "limit": 1,
        "options": {
          "view": {
            "__rl": true,
            "value": "viwYfSJwDXrO63TQL",
            "mode": "list",
            "cachedResultName": "Last Click",
            "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH/tbl4nYxtZoBS5J4tn/viwYfSJwDXrO63TQL"
          }
        }
      },
      "id": "4455c0ef-0276-4e11-b002-249cc58f7f9b",
      "name": "Search Record (Mini-Produkte)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2420,
        420
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "IBvQYb808RuFQZfA",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app7bQ0CiN5j1RECH",
          "mode": "list",
          "cachedResultName": "Final Tracking",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH"
        },
        "table": {
          "__rl": true,
          "value": "tbl4nYxtZoBS5J4tn",
          "mode": "list",
          "cachedResultName": "Mini - Produkte",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH/tbl4nYxtZoBS5J4tn"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Produkt": "={{ $('Webhook').item.json.body['product[name]'] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Datum",
              "displayName": "Datum",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Zuletzt geändert",
              "displayName": "Zuletzt geändert",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Erstellt",
              "displayName": "Erstellt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "E-Mail",
              "displayName": "E-Mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Vollständiger Name",
              "displayName": "Vollständiger Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Handynummer",
              "displayName": "Handynummer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Produkt",
              "displayName": "Produkt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Produktpreis",
              "displayName": "Produktpreis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Anzahlung / Revenue",
              "displayName": "Anzahlung / Revenue",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Payment Method",
              "displayName": "Payment Method",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Payment Plan / Status",
              "displayName": "Payment Plan / Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Anzahl Raten",
              "displayName": "Anzahl Raten",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Raten",
              "displayName": "Raten",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Land",
              "displayName": "Land",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Stadt",
              "displayName": "Stadt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PLZ",
              "displayName": "PLZ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Strasse ",
              "displayName": "Strasse ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Hausnummer",
              "displayName": "Hausnummer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Placement",
              "displayName": "Placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "URL Path",
              "displayName": "URL Path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead Herkunft Last",
              "displayName": "Lead Herkunft Last",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead Herkunft First",
              "displayName": "Lead Herkunft First",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_utm_source",
              "displayName": "first_utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_utm_medium",
              "displayName": "first_utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_utm_campaign",
              "displayName": "first_utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_utm_term",
              "displayName": "first_utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_utm_content",
              "displayName": "first_utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_placement",
              "displayName": "first_placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_url_path",
              "displayName": "first_url_path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Affiliate",
              "displayName": "Affiliate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PID",
              "displayName": "PID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PRID",
              "displayName": "PRID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Affiliate Name",
              "displayName": "Affiliate Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Vorname",
              "displayName": "Vorname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Nachname",
              "displayName": "Nachname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Count",
              "displayName": "Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "cc717c89-073d-4941-a9fd-7a7b0c8cc1e0",
      "name": "Update Record (Mini-Produkte)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2620,
        420
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "IBvQYb808RuFQZfA",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app7bQ0CiN5j1RECH",
          "mode": "list",
          "cachedResultName": "Final Tracking",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH"
        },
        "table": {
          "__rl": true,
          "value": "tbl4nYxtZoBS5J4tn",
          "mode": "list",
          "cachedResultName": "Mini - Produkte",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH/tbl4nYxtZoBS5J4tn"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Create Record (Mini-Produkte)2').item.json.id }}",
            "Lead Herkunft First": "={{ $('Create Record (All Submissions) Master2').item.json.fields['Lead Herkunft'] }}",
            "first_utm_source": "={{ $('Split campaign_id').item.json.output.Source }}",
            "first_utm_medium": "={{ $('Split campaign_id').item.json.output.Medium }}",
            "first_utm_campaign": "={{ $('Split campaign_id').item.json.output.Campaign }}",
            "first_utm_term": "={{ $('Split campaign_id').item.json.output.Term }}",
            "first_utm_content": "={{ $('Split campaign_id').item.json.output.Content }}",
            "first_placement": "={{ $('Split campaign_id').item.json.output.Placement }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Datum",
              "displayName": "Datum",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Zuletzt geändert",
              "displayName": "Zuletzt geändert",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Erstellt",
              "displayName": "Erstellt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "E-Mail",
              "displayName": "E-Mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Vollständiger Name",
              "displayName": "Vollständiger Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Handynummer",
              "displayName": "Handynummer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Produkt",
              "displayName": "Produkt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Produktpreis",
              "displayName": "Produktpreis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Anzahlung / Revenue",
              "displayName": "Anzahlung / Revenue",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Payment Method",
              "displayName": "Payment Method",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Payment Plan / Status",
              "displayName": "Payment Plan / Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Anzahl Raten",
              "displayName": "Anzahl Raten",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Raten",
              "displayName": "Raten",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Land",
              "displayName": "Land",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Stadt",
              "displayName": "Stadt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PLZ",
              "displayName": "PLZ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Strasse ",
              "displayName": "Strasse ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Hausnummer",
              "displayName": "Hausnummer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Placement",
              "displayName": "Placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead Herkunft Last",
              "displayName": "Lead Herkunft Last",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead Herkunft First",
              "displayName": "Lead Herkunft First",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_source",
              "displayName": "first_utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_medium",
              "displayName": "first_utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_campaign",
              "displayName": "first_utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_term",
              "displayName": "first_utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_content",
              "displayName": "first_utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_placement",
              "displayName": "first_placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Affiliate",
              "displayName": "Affiliate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PID",
              "displayName": "PID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PRID",
              "displayName": "PRID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Affiliate Name",
              "displayName": "Affiliate Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Vorname",
              "displayName": "Vorname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Nachname",
              "displayName": "Nachname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Count",
              "displayName": "Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "b3500740-b4f4-42e0-a348-5f2f7e46f925",
      "name": "Update Record (Mini-Produkte)1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3040,
        720
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "IBvQYb808RuFQZfA",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "de44d497-a140-4bb3-a512-0d5bf3973c5c",
              "leftValue": "={{ $('Find Record (First Click)2').item.json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2bf25f7-0e9c-44c9-806d-dc034e0830e4",
      "name": "FIRST UTM",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        2400,
        720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.webinarjam.com/webinarjam/register/",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "9a284655-a800-47fc-9397-b5748e9c6274"
            },
            {
              "name": "webinar_id",
              "value": "96"
            },
            {
              "name": "first_name",
              "value": "={{ $('Webhook').item.json.body['payer[first_name]'] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $('Webhook').item.json.body['payer[last_name]'] }}"
            },
            {
              "name": "email",
              "value": "={{ $('Webhook').item.json.body['payer[email]'] }}"
            },
            {
              "name": "schedule",
              "value": "104"
            }
          ]
        },
        "options": {}
      },
      "id": "913a8733-b69a-4fdf-b731-46a30f094bb7",
      "name": "Send to WebinarJam",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        380
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f8885a11-a2a6-4ea6-8f5e-49fa5e2b2f54",
        "options": {}
      },
      "id": "9b7a26da-fc2f-41be-97c6-e06a89ef8b22",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -340,
        620
      ],
      "webhookId": "f8885a11-a2a6-4ea6-8f5e-49fa5e2b2f54",
      "notes": "https://myablefy.com/cabinet/webhook_endpoints/5348/edit"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-11-06T13:22:42.353Z",
  "versionId": "e6948079-d1df-4805-aafa-bc093e20e51f"
}