workflows[WF-DF-0008] Social Chronicals | Airtable -> Clickup.json
{
  "active": true,
  "connections": {
    "Get Task Details": {
      "main": [
        [
          {
            "node": "ClickUp1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get formatted Clickup history data in description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform into key:value": {
      "main": [
        [
          {
            "node": "Get Task Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get formatted Clickup history data in description": {
      "main": [
        [
          {
            "node": "clean markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "clean markdown": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Lead": {
      "main": [
        [
          {
            "node": "Assemble Custom Activity Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp3": {
      "main": [
        [
          {
            "node": "Find Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "ClickUp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ClickUp3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Transform into key:value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Custom Activity": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Custom Activity Payload": {
      "main": [
        [
          {
            "node": "Create Custom Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2024-12-02T13:43:18.629Z",
  "id": "8Ql9FWBucky6mnEG",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[WF-DF-0008] Social Chronicals | Airtable -> Clickup",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "get",
        "id": "={{ $('Webhook').item.json.body['Clickup Task ID'] }}"
      },
      "id": "d0549b09-d49e-4165-9f28-47545b1c1aba",
      "name": "Get Task Details",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1200,
        320
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "LspYar39p5opLqSn",
          "name": "Clickup Mymiapage OAUTH"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Funktion zum Flachmachen des Objekts\nfunction flattenObject(obj, parentKey = '', result = {}) {\n  for (const key in obj) {\n    const fullKey = parentKey ? `${parentKey}.${key}` : key;\n\n    // Überspringe unerwünschte Keys (nur falls explizit angegeben)\n    if (['Zuletzt geändert', 'Datum'].includes(key) || ['Zuletzt geändert', 'Datum'].includes(fullKey)) {\n      continue;\n    }\n\n    if (typeof obj[key] === 'object' && obj[key] !== null && !Array.isArray(obj[key])) {\n      if (obj[key].hasOwnProperty('name')) {\n        result[fullKey] = obj[key].name; // Nur Name ins Ergebnis aufnehmen\n      } else {\n        flattenObject(obj[key], fullKey, result); // Weiter verschachteln\n      }\n    } else if (typeof obj[key] === 'string' || typeof obj[key] === 'number' || typeof obj[key] === 'boolean') {\n      // Zeilenumbrüche und überflüssige Leerzeichen entfernen\n      result[fullKey] = typeof obj[key] === 'string' ? obj[key].replace(/\\n/g, ' ').trim() : obj[key];\n\n      // Datum umwandeln, wenn der Key \"Erstellt\" ist\n      if (['Erstellt'].includes(key) || ['Erstellt'].includes(fullKey)) {\n        const date = new Date(obj[key]);\n        if (!isNaN(date)) {\n          result[fullKey] = date\n            .toLocaleString('de-DE', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' })\n            .replace(',', ''); // Datum in dd.mm.yyyy hh:mm Format\n        }\n      }\n    } else {\n      result[fullKey] = obj[key];\n    }\n  }\n  return result;\n}\n\n// Funktion zur formatierten Ausgabe für ClickUp\nfunction formatForClickUp(data) {\n  let formattedOutput = '';\n  for (const key in data) {\n    // Alle Werte einbeziehen, außer sie sind explizit leer\n    if (data[key] !== undefined && data[key] !== null) {\n      formattedOutput += `**${key}**:\\n${data[key]}\\n\\n`; // Key in Fettschrift, Wert in neuer Zeile\n    }\n  }\n  return formattedOutput.trim();\n}\n\n// Verarbeitung\nconst inputData = $node['Webhook'].json; // Ersetzen mit tatsächlichem Input in n8n\nconst flattenedData = flattenObject(inputData.body || inputData); // JSON Body verarbeiten\nconst formattedData = formatForClickUp(flattenedData);\n\nreturn {\n  normalizedData: flattenedData,\n  normalizedData_formatted: formattedData,\n};\n"
      },
      "id": "9eeaad3b-218c-4b98-bc6d-0f83ca816a32",
      "name": "Transform into key:value",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        980,
        320
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "id": "={{ $('Webhook').item.json.body['Clickup Task ID'] }}",
        "updateFields": {
          "content": "=# Onboarding Formular\n\n{{ $('Transform into key:value').item.json.normalizedData_formatted }}\n____________________\n\n{{ $json.cleanedMarkdown }}",
          "markdownContent": true
        }
      },
      "id": "2c2421ae-bcd4-47f6-8ab1-95030f3ab4e2",
      "name": "ClickUp",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2180,
        100
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "LspYar39p5opLqSn",
          "name": "Clickup Mymiapage OAUTH"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "update",
        "id": "={{ $('Get Task Details').item.json.id }}",
        "updateFields": {
          "content": "=# SC - Abschlussbericht\n\n{{ $('Transform into key:value').item.json.normalizedData_formatted }}\n____________________\n\n{{ $json.cleanedMarkdown }}\n",
          "markdownContent": true
        }
      },
      "id": "6217a704-8e4f-469c-aaad-8ec9109279d6",
      "name": "ClickUp3",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        2180,
        560
      ],
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "LspYar39p5opLqSn",
          "name": "Clickup Mymiapage OAUTH"
        }
      }
    },
    {
      "parameters": {
        "resource": "list",
        "team": "9015284078",
        "space": "90152854276",
        "folderless": true,
        "list": "901507317177"
      },
      "id": "07895b1c-2fc4-4e9a-a3f5-30d1590a9a2a",
      "name": "ClickUp1",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        1560,
        640
      ],
      "credentials": {
        "clickUpApi": {
          "id": "Rdiql52dzcuwBRR3",
          "name": "Clickup Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clickUpOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "include_markdown_description",
              "value": "true"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "c96ca69c-8db1-46fb-9451-8ecb077e198e",
      "name": "Get formatted Clickup history data in description",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        320
      ],
      "alwaysOutputData": true,
      "credentials": {
        "clickUpApi": {
          "id": "Rdiql52dzcuwBRR3",
          "name": "Clickup Personal Access Token"
        },
        "clickUpOAuth2Api": {
          "id": "LspYar39p5opLqSn",
          "name": "Clickup Mymiapage OAUTH"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Den Markdown-Text aus der vorherigen Node holen\nconst markdownDescription = $('Get formatted Clickup history data in description').item.json.body.markdown_description;\n\n// Entferne Leerzeilen zwischen Frage und Antwort\nconst cleanedMarkdown = markdownDescription\n    .replace(/:\\n\\n/g, ':\\n') // Entferne zusätzliche Leerzeilen zwischen Frage und Antwort\n    .replace(/\\n{3,}/g, '\\n\\n'); // Entferne überflüssige Leerzeilen (mehr als 2)\n\n// Bereinigten Text zurückgeben\nreturn {\n    cleanedMarkdown,\n};"
      },
      "id": "bf30f56b-7b31-4b87-85c2-6a912ad20390",
      "name": "clean markdown",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.close.com/api/v1/activity/custom/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YXBpXzFERmxjcmw3NmplbDNkMXZlbGtzc0ouNXFScjNzTmJtUlhGS1FXczhVaU1tMg=="
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$node[\"Assemble Custom Activity Payload\"].json}}",
        "options": {}
      },
      "id": "333ec89a-7197-42f2-852b-e3f2bda32900",
      "name": "Create Custom Activity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2840,
        560
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "=https://api.close.com/api/v1/lead/?query=email:{{ $('Webhook').item.json.body['E-Mail'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YXBpXzFERmxjcmw3NmplbDNkMXZlbGtzc0ouNXFScjNzTmJtUlhGS1FXczhVaU1tMg=="
            }
          ]
        },
        "options": {}
      },
      "id": "ebe2f972-ef74-49fc-84ee-4e4d00c82432",
      "name": "Find Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2400,
        560
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.tableId }}",
                    "rightValue": "app00WlzZtbAVQ20R/tbl1hekSpi1h31lD2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SC Onboarding Formular"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9a0c09d9-4151-40f8-bbdf-99b9c38dd657",
                    "leftValue": "={{ $('Webhook').item.json.body.tableId }}",
                    "rightValue": "app00WlzZtbAVQ20R/tblSgfncxdAoWdnR4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SC Abschlussbericht"
            }
          ]
        },
        "options": {}
      },
      "id": "981b0675-d8b7-4b2e-88f3-525deaa4a69c",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1820,
        320
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "be54875f-5e7d-41f6-87b6-db4c99e7519a",
        "options": {}
      },
      "id": "098a26cc-224f-434e-a5a0-90408f4374e1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        780,
        320
      ],
      "webhookId": "be54875f-5e7d-41f6-87b6-db4c99e7519a"
    },
    {
      "parameters": {
        "content": "## Airtable Formulare\n\nhttps://airtable.com/app00WlzZtbAVQ20R/pagyA1rBL7j9wcaAa/edit\nhttps://airtable.com/app00WlzZtbAVQ20R/pagf45krvk8ZviqD7/edit",
        "height": 120,
        "width": 470
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        280,
        320
      ],
      "id": "7cbb2082-3df1-45f5-ae5f-f7af7a316c52",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d9c8491f-2e17-4302-8313-00d25584d798",
              "leftValue": "={{ $('Transform into key:value').item.json.normalizedData['check_testimonial'].toString() }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3080,
        560
      ],
      "id": "3687c452-73c1-4aad-a4cf-97b849e6b331",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Transform into key:value').item.json.normalizedData_formatted }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Schreibe einen Abschlussbericht für einen Kunden im folgenden Format. Halte dich exakt an die vorgegebene Struktur und Begrenzungen:\n\nFormatbeschreibung:\n\t1.\tBeginne mit dem Abschnitt “BRANCHE”, gefolgt von der Branche des Kunden **und direkt darunter die Unterkategorie** – jeweils in einer eigenen Zeile.\n\t2.\tGliedere den Bericht in drei Abschnitte: “PROBLEM”, “LÖSUNG”, und “ERGEBNIS”.\n\t\t•\tJeder Abschnitt enthält maximal 4 Punkte.\n\t\t•\tNutze präzise, kurze und aussagekräftige Formulierungen.\n\t3.\tDie Überschriften sollen in großer, klarer Schrift stehen. Die Punkte in den Abschnitten sind durch Spiegelstriche (-) getrennt.\n\t4.\tHalte das Layout so nah wie möglich am folgenden Beispiel:\n\nBeispielformat:\tEingabedaten:\n\t•\tBranche des Kunden  \n\t•\tUnterkategorie der Branche  \n\t•\tDie größten Probleme des Kunden beim Start (max. 4 Punkte)  \n\t•\tDie Maßnahmen, die zur Lösung beigetragen haben (max. 4 Punkte)  \n\t•\tDie erzielten Ergebnisse des Kunden (max. 4 Punkte, inklusive Umsatz, Reichweite, Followerwachstum oder andere relevante Erfolge)\n\nRegeln:\n\t•\tEs dürfen nur maximal 4 Punkte pro Abschnitt aufgeführt werden.\n\t•\tVerwende keine zusätzlichen Elemente wie Insights, Videotestimonials oder Bilder.\n\t•\tHalte den Text einfach, präzise und professionell.\n\t•\tHalte dich strikt an die angegebene Struktur und das Layout.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        3320,
        540
      ],
      "id": "e6daff04-893a-4cca-8044-31aaa68f63e5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        3320,
        800
      ],
      "id": "e48ab3ac-f455-4542-bb2c-ab1653b56020",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "uDvhK6oJGGUhFIVq",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1) Hole das erste Lead-Objekt\nconst leadData = $node[\"Find Lead\"].json.data[0];\n\n// 2) Hole die normalisierten Felder\nconst nd = $node[\"Transform into key:value\"].json.normalizedData;\n\n// 3) Baue den Payload zusammen\nconst payload = {\n  custom_activity_type_id: \"actitype_33BosVOs2pqvBAODprtK5x\",\n  lead_id: leadData.id,\n  \"custom.cf_oDM7pw5xifuA2oxLPktBLYFfvHJn6ROxE9ub1TIoiSl\": nd[\"Wieviel Umsatz konnte der Kunde der Kunde erzielen?\"],\n  \"custom.cf_vg344nTJwuzj2cpuUUCdI7RJeOPIDNu7L4p0oMvTOIJ\": nd[\" Wieviel Reichweite konnte der Kunde erzielen?\"],\n  \"custom.cf_WcncPqdIkKRCHkMDFmTutN4vyGTsetRx2pYVzeBgmMp\": nd[\"Wie viele Follower hatte der Kunde beim Start\"],\n  \"custom.cf_dynIG22WeZwEu3xc7SRXKqb84ky96dpCqecP1h63HmS\": nd[\"Wie viele Follower hat der Kunde heute?\"],\n  \"custom.cf_3q8I6bd6G4HLAgIOPaBaX2dKbvBF0vCR0flbbdDzbX5\": nd[\"Welches Paket hatte der Kunde?\"],\n  \"custom.cf_tmPH0ddd0PLom162XMxntrZp7HvARr99A2WhS0wmiC8\": nd[\"Was war die Ausgangssituation des Kunden?\"],\n  \"custom.cf_AbHTjuF62Zdg5uuDwRzlmfOmAj41gH2LSLTkgXzLreH\": nd[\"Was ist jetzt die IST-Situation?\"],\n  \"custom.cf_l4py2ugBHtdV2KKtubyENddGBRMf6qnZYmirbMcLYmy\": nd[\"Weitere sekundäre Erfolge die mit der Zusammenarbeit hereingehen?\"],\n  \"custom.cf_vaMHLXJDguyVKE1ad6TeN8AdWemaEzrNFbMZ4ua5Ta0\": nd[\"Was war das größte Problem?\"],\n  \"custom.cf_RUaziggElnbdTCGspvDtQw9V8CE2lAGHNFr9XBeirFX\": nd[\"Ziel des Kunden?\"],\n  \"custom.cf_QTaA4RZ04rA2rBfqNh1aTbfTyWDdzSEQGXUH8NfB9wg\": nd[\"Nische des Kunden?\"],\n  \"custom.cf_v3zSI8yCiy9geWgTcPKuzqcRgcGesdHI1NjNaU6JzFf\": nd[\"Mit welchen Zielen ist der Kunde gestartet?\"],\n  \"custom.cf_720Gjm1mlXDLZtHpcwZWwqI2cJUegqQqGdKhTOR2qd1\": nd[\"Hat sich das Ziel des Kunden während der Betreuung verändert?\"],\n  \"custom.cf_EVQ4W3vFd5pWiFcGBS00y8ThA50bQ9BTqWlVHzYZo61\": nd[\"Wenn ja, warum?\"],\n  \"custom.cf_1yaSnaUewuzpeqhZ7JDWtSFapcayv96tv7Ft0m7BQky\": nd[\"Was waren die 4 größten Probleme des Kunden, als der Kunde gestartet ist?\"],\n  \"custom.cf_ju9YNK6FA9oxBU6pqQXzkt6zBkir0t79DuGOLmKYUPn\": nd[\"Was waren die 4 größten Probleme des Kunden, während der Betreuung?\"],\n  \"custom.cf_2HMcrZYKHFTwR9O3Rj0N0ch2GJDSiFNFlv47kQrwZzF\": nd[\"Welche 4 Lösungspunkte haben dem Kunden geholfen, um tolle Ergebnisse zu bekommen?\"],\n  \"custom.cf_n1JEC8xSgt3jFt2PHjaSuEYGZdaTRrPRiLXjV9VP48t\": nd[\"Welche 4 Haupterfolge hat der Kunde, durch die Betreuung?\"],\n  \"custom.cf_vtaLr8OVzbTbj3905TSc2ejv66j7xz30PhXMNQBLrVt\": nd[\"Gibt es weitere (persönliche) Erfolge, die erwähnenswert sind?\"],\n  \"custom.cf_jmbXFthxbcrkdAhYvLCuu2tIrF5eybqFumO5bsHabTN\": nd[\"Welche weiteren Persönlichen Erfolge konnte der Kunde erzielen?\"],\n  \"custom.cf_eoRbOsGh6xgI7luI6gBQ42GAp9elmaG8GD7CJ9W9ukc\": nd[\"Welche Branche?\"],\n  \"custom.cf_uncliv2PkCgKCTiSSqTYU5c8IotNMaTI7AUseewgdzo\": nd[\"In welche Kategorie passt im Kern die Lösung für den Kunden, die zum Erfolg geführt hat?\"],\n  \"custom.cf_pdSDMyds54pVwlU7jghg30hwGC0k4jQUVub7lmeYc3m\": nd[\"Videotestimonial URL\"],\n  \"custom.cf_jAsKZsHo5B8IuuomIUUTCJoBid5xC7pwAsNygIKeaIb\": nd[\"Sonstige relevante Sachen?\"],\n  \"custom.cf_KCFYAVKhB8RkSRuGZmAWJhomxKlbYwvytcZfk8Z0Cmv\": nd[\"Gab es Übungen, die dem Kunden besonders weitergeholfen haben?\"],\n  \"custom.cf_ZmlDCj7GfWFEwKJNdS1UcQJLYh2j63ADdv8jbgFgdy1\": nd[\"Warum hat der Kunde eine Pause gemacht?\"],\n  \"custom.cf_TodAmLOpHaP2Ajo5hNZNJNSl7N8XiDwq0WtYFmYiRnM\": nd[\"Wer hat den Kunden betreut?\"],\n  \"custom.cf_cXp4MQX9MoN3MWEp6ybb7GusXUhKwDZ18Wq7FPfNuw0\": nd[\"Wann wurde die Zusammenarbeit beendet?\"],\n\n  // Neue Felder für Unterkategorien\n  \"custom.cf_Sb82arScYsEXfZ6r2IORwBP0NhjKC5MYMJyCXSK0dGm\": nd[\"Branche_Unterkategorie_Coaching\"],\n  \"custom.cf_iMHwl99CRFTppJalYOrB6BvlXLFQCvMruAdzrOBG0z1\": nd[\"Branche_Unterkategorie_Unternehmer\"],\n  \"custom.cf_kx3suwaQZGx3UGhMyebJ5FP38hw0ybjbx4nZUtIYgxF\": nd[\"Branche_Unterkategorie_Network_Marketing\"],\n  \"custom.cf_AyRNuRv8PQyOEUq0di5OjRqXFAsffXugRkfTcDdZUoB\": nd[\"Branche_Unterkategorie_Persönlicher_Account\"]\n};\n\n// 4) Gib das fertige Objekt als einzigen Item zurück\nreturn [{ json: payload }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2620,
        560
      ],
      "id": "2c6fb89d-8e30-44ab-a69a-0988e90da825",
      "name": "Assemble Custom Activity Payload"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "team": "9010043031",
        "space": "90100106094",
        "folder": "90150392165",
        "list": "901500700679",
        "name": "=Testimonial Kundenerfolgsseite Mymiapage: {{ $('Webhook').item.json.body.Vorname }} {{ $('Webhook').item.json.body.Nachname }}",
        "additionalFields": {
          "assignees": [
            88767200,
            94728724
          ],
          "content": "=## Neues Testimonial hinzufügen\n\n## Figma\nhttps://www.figma.com/design/gm6K8nEHobwFlxRItUiCDX/Testimonial-page?node-id=50-2&p=f&t=gnNvMjGMdZpi2vNq-0\n\n### Insights\n[Zur Insights-Seite]({{ $('Transform into key:value').item.json.normalizedData['Insights URL'] }})\n\n### Video Testimonial\n[Video ansehen]({{ $('Transform into key:value').item.json.normalizedData['Videotestimonial URL'] }})\n\n### Foto für Webseite\n[Foto herunterladen]({{ $('Transform into key:value').item.json.normalizedData['Foto URL'] }})\n\n## Vorschlag für Testimonial:\n{{ $json.output }}\n\n### Details im Airtable-Datensatz\n[Zum Datensatz in Airtable](https://airtable.com/app00WlzZtbAVQ20R/{{ $('Transform into key:value').item.json.normalizedData.tableId }}/{{ $('Transform into key:value').item.json.normalizedData.recordId }}?blocks=hide)\n\n---\n\n### Originaldaten (formatierte Ansicht)\n{{ $('Transform into key:value').item.json.normalizedData_formatted }}\n",
          "markdownContent": true
        }
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        3760,
        540
      ],
      "id": "6b0f13f5-a7c5-420b-b54f-1238f09dc31e",
      "name": "Create Task",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "RgypMB6ecPqR2hME",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Airtable Formulare\n\nhttps://airtable.com/app00WlzZtbAVQ20R/pagyA1rBL7j9wcaAa/edit\nhttps://airtable.com/app00WlzZtbAVQ20R/pagf45krvk8ZviqD7/edit",
        "height": 120,
        "width": 470
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3440,
        320
      ],
      "id": "d7add44a-6c1d-476a-bfbc-78f3e8180f82",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2540,
        800
      ],
      "id": "c36ece91-9287-4e70-b373-c36660850a8b",
      "name": "Code"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "x-forwarded-for": "54.235.1.38",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "host": "n8n.mymiapage.de",
            "x-amzn-trace-id": "Root=1-686e8909-512f978d3693d01c0eb2ecbe",
            "content-length": "2785",
            "content-type": "application/json",
            "user-agent": "Mozilla/5.0 (compatible; AirtableScripting; +https://airtable.com/developers/scripting;)",
            "x-airtable-source": "app00WlzZtbAVQ20R/wflIKatV4vlbgorji",
            "accept": "*/*",
            "accept-encoding": "gzip,deflate"
          },
          "params": {},
          "query": {},
          "body": {
            "Clickup Task ID": "86c1uu1r1",
            "Vorname": "Daniel",
            "Nachname": "Formanek",
            "E-Mail": "daniel@eyl-marketing.de",
            "Wieviel Umsatz konnte der Kunde der Kunde erzielen?": 1,
            " Wieviel Reichweite konnte der Kunde erzielen?": 1,
            "Wie viele Follower hatte der Kunde beim Start": 1,
            "Wie viele Follower hat der Kunde heute?": 1,
            "Welches Paket hatte der Kunde?": {
              "id": "sel5raVjHMwgvkuFR",
              "name": "Social Chronicles",
              "color": "blueLight2"
            },
            "Was war die Ausgangssituation des Kunden?": "1",
            "Was ist jetzt die IST-Situation?": "1",
            "Weitere sekundäre Erfolge die mit der Zusammenarbeit hereingehen?": "1",
            "Was war das größte Problem?": "1",
            "Ziel des Kunden?": "1",
            "Nische des Kunden?": "1",
            "Mit welchen Zielen ist der Kunde gestartet?": "1",
            "Hat sich das Ziel des Kunden während der Betreuung verändert?": {
              "id": "sel4g1eWU8KuCardv",
              "name": "Ja",
              "color": "blueLight2"
            },
            "Wenn ja, warum?": "1",
            "Was waren die 4 größten Probleme des Kunden, als der Kunde gestartet ist?": "1",
            "Was waren die 4 größten Probleme des Kunden, während der Betreuung?": "1",
            "Welche 4 Lösungspunkte haben dem Kunden geholfen, um tolle Ergebnisse zu bekommen?": "1",
            "Welche 4 Haupterfolge hat der Kunde, durch die Betreuung?": "1",
            "Gibt es weitere (persönliche) Erfolge, die erwähnenswert sind?": {
              "id": "selW9VkszwkyZmos5",
              "name": "Ja",
              "color": "blueLight2"
            },
            "Welche weiteren Persönlichen Erfolge konnte der Kunde erzielen?": "1",
            "Welche Branche?": {
              "id": "selsgL5WfznZGsQIB",
              "name": "Coaching",
              "color": "redLight2"
            },
            "In welche Kategorie passt im Kern die Lösung für den Kunden, die zum Erfolg geführt hat?": {
              "id": "selz4vA6RCgZfGNPt",
              "name": "Storytelling",
              "color": "yellowLight2"
            },
            "Sind Insights vorhanden, die die Ergebnisse des Kunden zeigen?": {
              "id": "selafCUuOmWMPsbg0",
              "name": "Nein",
              "color": "yellowLight2"
            },
            "Insights URL": null,
            "Videotestimonial vorhanden?": {
              "id": "seldKHRtNtkNtUIxf",
              "name": "Nein",
              "color": "yellowLight2"
            },
            "Videotestimonial URL": null,
            "Foto für Webseite vorhanden?": {
              "id": "selLI1xVVG1fFrzbS",
              "name": "Nein",
              "color": "yellowLight2"
            },
            "Foto URL": null,
            "Sonstige relevante Sachen?": "1",
            "Gab es Übungen, die dem Kunden besonders weitergeholfen haben?": "1",
            "Hat der Kunde eine Pause gemacht?": {
              "id": "selthkg3yTPkPMlLS",
              "name": "Nein",
              "color": "cyanLight2"
            },
            "Warum hat der Kunde eine Pause gemacht?": null,
            "Wer hat den Kunden betreut?": {
              "id": "selsFfy84YhaHPoKl",
              "name": "Stephanie Bareuther",
              "color": "redLight2"
            },
            "Wann wurde die Zusammenarbeit beendet?": "2025-06-09",
            "Datum": "2025-07-09T15:21:42.000Z",
            "Erstellt": "2025-07-09T15:21:42.407Z",
            "Zuletzt geändert": null,
            "Berechnung": "recWBIoC8H91QrQh2",
            "check_testimonial": false,
            "checkbox_hinweis": "Wenn du dieses Feld aktivierst, darf dein Bericht (mit Namen/Bild) als öffentliches Kunden-Testimonial genutzt werden.",
            "recordId": "recWBIoC8H91QrQh2",
            "tableId": "app00WlzZtbAVQ20R/tblSgfncxdAoWdnR4"
          },
          "webhookUrl": "https://n8n.mymiapage.de/webhook/be54875f-5e7d-41f6-87b6-db4c99e7519a",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zwVmjda7oPTTXCQD",
    "timezone": "Europe/Berlin"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-12-10T15:27:46.642Z",
      "updatedAt": "2024-12-10T15:27:46.642Z",
      "id": "VvwxOzqj9tBZMm7s",
      "name": "airtable"
    },
    {
      "createdAt": "2024-12-10T15:27:49.326Z",
      "updatedAt": "2024-12-10T15:27:49.326Z",
      "id": "38bR0ks6f7wVJ5Zj",
      "name": "close"
    },
    {
      "createdAt": "2024-12-18T13:48:41.688Z",
      "updatedAt": "2024-12-18T13:48:41.688Z",
      "id": "lvBQmOdSQz5LnVk8",
      "name": "clickup"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-07-11T11:08:21.696Z",
  "versionId": "a4391c64-04e1-4594-82c5-1f90966c97b2"
}