workflowsClickup -> Trustpilot | Bewertung versenden.json
{
  "active": true,
  "connections": {
    "Bewertung versenden": {
      "main": [
        [
          {
            "node": "ActiveCampaign1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign1": {
      "main": [
        [
          {
            "node": "ActiveCampaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "ClickUp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-27T14:08:47.000Z",
  "id": "T74Lfy3yxetJ7iXU",
  "meta": null,
  "name": "Clickup -> Trustpilot | Bewertung versenden",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c809fcee-af86-4971-87ec-d68a4489eb6a",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -560,
        -200
      ],
      "id": "952e40b1-c2db-4504-8ec2-f3df0dcc5342",
      "name": "Bewertung versenden",
      "webhookId": "c809fcee-af86-4971-87ec-d68a4489eb6a",
      "notes": "https://app.clickup.com/9015284078/v/l/6-901502108774-1?pr=90150901171"
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "228",
        "contactId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        160,
        -200
      ],
      "id": "a3055165-ee72-4226-b6e9-777a8e68a1a9",
      "name": "ActiveCampaign",
      "credentials": {
        "activeCampaignApi": {
          "id": "teATeM55lqOgZIOH",
          "name": "ActiveCampaign account"
        }
      }
    },
    {
      "parameters": {
        "email": "={{ $('Bewertung versenden').item.json.body.payload.fields.find(field => field.field_id === '5390b6d4-6958-43dd-a9de-4e1bccb1b494').value }}",
        "updateIfExists": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        -120,
        -200
      ],
      "id": "590e768d-df9f-4007-9526-1aaf0db88768",
      "name": "ActiveCampaign1",
      "credentials": {
        "activeCampaignApi": {
          "id": "teATeM55lqOgZIOH",
          "name": "ActiveCampaign account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        480,
        -200
      ],
      "id": "1af9344d-c1a1-4808-9366-5cbdf6d22d69",
      "name": "Wait",
      "webhookId": "5149fecf-f743-41da-a9b2-ba124bba97b6"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "comment",
        "commentOn": "task",
        "id": "={{ $('Bewertung versenden').item.json.body.payload.id }}",
        "commentText": "Bewertungsemail erfolgreich versendet!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        840,
        -200
      ],
      "id": "f12c91ff-7701-4067-a409-be668c74625d",
      "name": "ClickUp",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "LspYar39p5opLqSn",
          "name": "Clickup Mymiapage OAUTH"
        }
      }
    }
  ],
  "pinData": {
    "Bewertung versenden": [
      {
        "json": {
          "headers": {
            "x-forwarded-for": "52.213.161.94",
            "x-forwarded-proto": "https",
            "x-forwarded-port": "443",
            "host": "n8n.mymiapage.de",
            "x-amzn-trace-id": "Root=1-685e720a-2651f4a35ddc97612dc5f17e",
            "content-length": "32311",
            "accept": "application/json, text/plain, */*",
            "content-type": "application/json",
            "user-agent": "axios/0.24.0",
            "x-datadog-trace-id": "542041198824700799",
            "x-datadog-parent-id": "542041198824700799",
            "x-datadog-sampling-priority": "-1",
            "x-datadog-tags": "_dd.p.tid=685e720a00000000",
            "x-b3-traceid": "685e720a000000000785b7993592bb7f",
            "x-b3-spanid": "0785b7993592bb7f",
            "x-b3-sampled": "0",
            "b3": "685e720a000000000785b7993592bb7f-0785b7993592bb7f-0",
            "traceparent": "00-685e720a000000000785b7993592bb7f-0785b7993592bb7f-00",
            "tracestate": "dd=t.tid:685e720a00000000;t.dm:-3;s:-1;p:0785b7993592bb7f"
          },
          "params": {},
          "query": {},
          "body": {
            "auto_id": "15ab79ce-1b65-4c4e-882d-d1477cc1d236:main",
            "trigger_id": "e24ca803-89c2-4bc8-9f37-5f67abbc9699",
            "date": "2025-06-27T10:27:22.234Z",
            "payload": {
              "id": "86bx451tm",
              "name": "Berivan Oezcelik",
              "content": "{\"ops\":[{\"insert\":\"Woche 10 nicht anwesend, da im Urlau die Zeitverschiebung in die Irre geführt hat. \"},{\"insert\":\"\\n\",\"attributes\":{\"block-id\":\"block-916fac91-d4c2-4f15-9141-9fd3ac60eb12\"}},{\"insert\":\"\\n\",\"attributes\":{\"block-id\":\"block-aa03f237-75dd-4a89-8c69-e6699c5b5f2e\"}},{\"insert\":\"/\"},{\"insert\":\"\\n\",\"attributes\":{\"block-id\":\"block-de5f2d95-453c-4fa4-a2d4-c0884b79dd1e\"}}]}",
              "lower_name": "berivan oezcelik",
              "html_content": null,
              "text_content": "Woche 10 nicht anwesend, da im Urlau die Zeitverschiebung in die Irre geführt hat. \n\n/",
              "content_size": "small",
              "sprint_points": null,
              "coverimage": null,
              "priority": null,
              "personal_priority": [],
              "draft_uuid": null,
              "custom_id": null,
              "custom_type": null,
              "status_id": "sc901502108774_qN3TN1bJ",
              "workspace_id": "9015284078",
              "subcategory": "901502108774",
              "direct_parent": null,
              "root_parent": null,
              "merged_to": null,
              "subtask_sort": null,
              "subtask_sort_dir": null,
              "reccurence": {
                "v1": {
                  "recurring": false,
                  "recur_type": null,
                  "recur_next": null,
                  "recur_new_status": null,
                  "recur_due_date": null,
                  "recur_data": null,
                  "recur_rule": null,
                  "recur_task": null,
                  "recur_skip_missed": false,
                  "recur_on_status": null,
                  "recur_on": null,
                  "recur_copy_original": false,
                  "recur_time": false,
                  "recur_immediately": false,
                  "recur_until": null,
                  "recur_dst": null,
                  "recur_tz_offset": null,
                  "recur_tz": null,
                  "recur_daily": false,
                  "recur_ignore_today": false
                },
                "v2": {
                  "set_time": false,
                  "create_new_task": false,
                  "periodically": false,
                  "simple_settings": false,
                  "ignore_weekends": false,
                  "recur_on_schedule": false
                }
              },
              "privacy": {
                "private": false,
                "public": false,
                "public_token": null,
                "public_permission_level": null,
                "public_fields": null,
                "public_share_expires_on": null,
                "public_sharing": false,
                "seo_optimized": false,
                "made_public_by": null,
                "made_public_time": null
              },
              "templating": {
                "template": false,
                "original_subcat": null,
                "template_name": null,
                "team_id": null,
                "template_field_ids": null,
                "permanent_template_id": null,
                "visibility": null
              },
              "states": {
                "is_archived": false,
                "is_deleted": false,
                "is_encrypted": false
              },
              "import": {
                "import_id": "a84f39fc-01d8-4102-9238-18788beb1e2a",
                "import_uuid": "ef12ef60-101c-431b-b6c6-2c458241b37e",
                "is_being_imported": false
              },
              "time_mgmt": {
                "is_summary_task": false,
                "start_date": null,
                "start_date_time": false,
                "date_closed": null,
                "date_created": "1704796864045",
                "date_updated": "1751020040100",
                "due_date": "1725148800000",
                "due_date_time": false,
                "date_deleted": null,
                "date_active": "1706004480995",
                "date_unstarted": "1705772992645",
                "date_done": null,
                "date_delegated": null,
                "time_estimate": null,
                "time_estimate_string": null,
                "time_spent": null,
                "sent_due_date_notif": false,
                "duration": {},
                "duration_is_elapsed": false
              },
              "checklists": [
                {
                  "resolved": 4,
                  "unresolved": 0,
                  "items": [
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711962982484",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": true,
                      "id": "dbd90fdc-0d41-4178-b26a-21f8f4481413",
                      "checklist_id": "b6b26c9f-b9f9-4582-b95f-63a649440e4f",
                      "name": "1. Call Anwesenheit?",
                      "orderindex": 0,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711962996206",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": true,
                      "id": "59c570f3-8002-4747-b73f-f5658eced9de",
                      "checklist_id": "b6b26c9f-b9f9-4582-b95f-63a649440e4f",
                      "name": "2. Call Anwesenheit?",
                      "orderindex": 1,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711963016986",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": true,
                      "id": "794590b7-28a0-4f2c-8dd4-639b892f1a55",
                      "checklist_id": "b6b26c9f-b9f9-4582-b95f-63a649440e4f",
                      "name": "3. Call Anwesenheit?",
                      "orderindex": 2,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711963024291",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": true,
                      "id": "c9326e26-fbec-411e-808b-bf077deb0b33",
                      "checklist_id": "b6b26c9f-b9f9-4582-b95f-63a649440e4f",
                      "name": "4. Call Anwesenheit?",
                      "orderindex": 3,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    }
                  ],
                  "id": "b6b26c9f-b9f9-4582-b95f-63a649440e4f",
                  "name": "Gruppencall Anwesenheit (1. Monat)",
                  "task_id": "86bx451tm",
                  "encrypted": false,
                  "date_created": "1711962617966",
                  "creator": 82712065,
                  "orderindex": 1,
                  "show_completed": false
                },
                {
                  "resolved": 4,
                  "unresolved": 0,
                  "items": [
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711963127245",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": true,
                      "id": "4d546d90-623e-4f7e-be12-669f549d830f",
                      "checklist_id": "d7efd1eb-2e42-4911-9230-a0a527362381",
                      "name": "1. Call Anwesenheit?",
                      "orderindex": 0,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711963138480",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": true,
                      "id": "02e5fa6a-b7c0-4d62-8784-dc13cb10b6d3",
                      "checklist_id": "d7efd1eb-2e42-4911-9230-a0a527362381",
                      "name": "2. Call Anwesenheit?",
                      "orderindex": 0.5,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711963130841",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": true,
                      "id": "76337ffc-ffc1-400e-a392-a391b3ebd4c2",
                      "checklist_id": "d7efd1eb-2e42-4911-9230-a0a527362381",
                      "name": "3. Call Anwesenheit?",
                      "orderindex": 1,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711963148317",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": true,
                      "id": "c57b77aa-70ef-4ed9-8aee-e33023732da8",
                      "checklist_id": "d7efd1eb-2e42-4911-9230-a0a527362381",
                      "name": "4. Call Anwesenheit?",
                      "orderindex": 2,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    }
                  ],
                  "id": "d7efd1eb-2e42-4911-9230-a0a527362381",
                  "name": "Gruppencall Anwesenheit (2. Monat)",
                  "task_id": "86bx451tm",
                  "encrypted": false,
                  "date_created": "1711963112528",
                  "creator": 82712065,
                  "orderindex": 2,
                  "show_completed": false
                },
                {
                  "resolved": 4,
                  "unresolved": 0,
                  "items": [
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711963240587",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": true,
                      "id": "88b46608-e77c-40d3-adf7-0fe504a79a2e",
                      "checklist_id": "3b4c0f5b-14fd-4dbd-85c2-934908cd0504",
                      "name": "1. Call Anwesenheit?",
                      "orderindex": 0,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711963245514",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": true,
                      "id": "2d68693a-5e23-41b0-9651-6fccd26e93f3",
                      "checklist_id": "3b4c0f5b-14fd-4dbd-85c2-934908cd0504",
                      "name": "2. Call Anwesenheit?",
                      "orderindex": 1,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711963254215",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": true,
                      "id": "3d6091a7-ff5f-4353-86dd-cb23ecbc4064",
                      "checklist_id": "3b4c0f5b-14fd-4dbd-85c2-934908cd0504",
                      "name": "3. Call Anwesenheit?",
                      "orderindex": 1.5,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711963249026",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": true,
                      "id": "744fb9fd-563f-40ea-8abc-11025867ece9",
                      "checklist_id": "3b4c0f5b-14fd-4dbd-85c2-934908cd0504",
                      "name": "4. Call Anwesenheit?",
                      "orderindex": 2,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    }
                  ],
                  "id": "3b4c0f5b-14fd-4dbd-85c2-934908cd0504",
                  "name": "Gruppencall Anwesenheit (3. Monat)",
                  "task_id": "86bx451tm",
                  "encrypted": false,
                  "date_created": "1711963228344",
                  "creator": 82712065,
                  "orderindex": 3,
                  "show_completed": false
                },
                {
                  "resolved": 3,
                  "unresolved": 1,
                  "items": [
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711963893185",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": true,
                      "id": "d2a8f599-aa07-4b58-a173-9c39c05c3225",
                      "checklist_id": "051f4398-93ad-4d5d-bec1-3eb891f77404",
                      "name": "1. Call Anwesenheit?",
                      "orderindex": 0,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711963897307",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": false,
                      "id": "4f7a5c4b-b8bd-441d-87f5-c343a1067074",
                      "checklist_id": "051f4398-93ad-4d5d-bec1-3eb891f77404",
                      "name": "2. Call Anwesenheit? Hat im Urlaub die Zeitverschiebung verwechselt",
                      "orderindex": 1,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711963902767",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": true,
                      "id": "f824462b-b554-4a7d-8477-00c7b767f629",
                      "checklist_id": "051f4398-93ad-4d5d-bec1-3eb891f77404",
                      "name": "3. Call Anwesenheit?",
                      "orderindex": 2,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711963910523",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": true,
                      "id": "ae791094-3c53-4f98-b9af-5402be8dcd3e",
                      "checklist_id": "051f4398-93ad-4d5d-bec1-3eb891f77404",
                      "name": "4. Call Anwesenheit?",
                      "orderindex": 3,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    }
                  ],
                  "id": "051f4398-93ad-4d5d-bec1-3eb891f77404",
                  "name": "Gruppencall Anwesenheit (4. Monat)",
                  "task_id": "86bx451tm",
                  "encrypted": false,
                  "date_created": "1711963383929",
                  "creator": 82712065,
                  "orderindex": 4,
                  "show_completed": true
                },
                {
                  "resolved": 4,
                  "unresolved": 0,
                  "items": [
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711963931848",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": true,
                      "id": "2dc1c867-3e4e-43e0-a82e-3ec4c666f8d2",
                      "checklist_id": "0270f084-0545-48ad-8ae4-17339609473d",
                      "name": "1. Call Anwesenheit?",
                      "orderindex": 0,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711963936081",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": true,
                      "id": "8ef24d2a-ed8d-4387-bc86-9d92e4fb33f2",
                      "checklist_id": "0270f084-0545-48ad-8ae4-17339609473d",
                      "name": "2. Call Anwesenheit?",
                      "orderindex": 1,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711963942016",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": true,
                      "id": "8caebe0d-b27a-47d0-bbcb-ebb10f0f6382",
                      "checklist_id": "0270f084-0545-48ad-8ae4-17339609473d",
                      "name": "3. Call Anwesenheit?",
                      "orderindex": 2,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711963955610",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": true,
                      "id": "cee2ba6f-e711-405c-9924-c97e2d5cb8c1",
                      "checklist_id": "0270f084-0545-48ad-8ae4-17339609473d",
                      "name": "4. Call Anwesenheit?",
                      "orderindex": 3,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    }
                  ],
                  "id": "0270f084-0545-48ad-8ae4-17339609473d",
                  "name": "Gruppencall Anwesenheit (5. Monat)",
                  "task_id": "86bx451tm",
                  "encrypted": false,
                  "date_created": "1711963910724",
                  "creator": 82712065,
                  "orderindex": 5,
                  "show_completed": false
                },
                {
                  "resolved": 4,
                  "unresolved": 0,
                  "items": [
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711963970065",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": true,
                      "id": "303983df-95ad-48bc-90ec-25211e7c88f1",
                      "checklist_id": "8d651ff8-3900-4404-8e4e-c676718c04df",
                      "name": "1. Call Anwesenheit?",
                      "orderindex": 0,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711963978047",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": true,
                      "id": "e7c9b87d-944f-4094-843b-eba7912d3239",
                      "checklist_id": "8d651ff8-3900-4404-8e4e-c676718c04df",
                      "name": "2. Call Anwesenheit?",
                      "orderindex": 0.5,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711963973009",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": true,
                      "id": "728692cd-3cfd-43a7-8f31-5bbc7e019b5f",
                      "checklist_id": "8d651ff8-3900-4404-8e4e-c676718c04df",
                      "name": "3. Call Anwesenheit?",
                      "orderindex": 1,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711963988171",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": true,
                      "id": "b7a04d49-8279-4356-8284-66ca41270a3d",
                      "checklist_id": "8d651ff8-3900-4404-8e4e-c676718c04df",
                      "name": "4. Call Anwesenheit?",
                      "orderindex": 2,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    }
                  ],
                  "id": "8d651ff8-3900-4404-8e4e-c676718c04df",
                  "name": "Gruppencall Anwesenheit (6. Monat)",
                  "task_id": "86bx451tm",
                  "encrypted": false,
                  "date_created": "1711963959868",
                  "creator": 82712065,
                  "orderindex": 6,
                  "show_completed": false
                },
                {
                  "resolved": 2,
                  "unresolved": 2,
                  "items": [
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711964041390",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": true,
                      "id": "b58d5d88-7e4a-4fd0-9f0a-8a3295a9c3fd",
                      "checklist_id": "2aa95995-7a09-4baa-99ac-62dcf8fa8798",
                      "name": "1. Call Anwesenheit?",
                      "orderindex": 0,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711964046253",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": true,
                      "id": "388e16ba-2cbe-4a4f-8593-7916423f16cd",
                      "checklist_id": "2aa95995-7a09-4baa-99ac-62dcf8fa8798",
                      "name": "2. Call Anwesenheit?",
                      "orderindex": 1,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711964056337",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": false,
                      "id": "6540b5a8-44f0-4535-aff9-852251890c4a",
                      "checklist_id": "2aa95995-7a09-4baa-99ac-62dcf8fa8798",
                      "name": "3. Call Anwesenheit?",
                      "orderindex": 3,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711964050746",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": false,
                      "id": "531506eb-75d1-491e-accb-09c6a253aaf1",
                      "checklist_id": "2aa95995-7a09-4baa-99ac-62dcf8fa8798",
                      "name": "4. Call Anwesenheit?",
                      "orderindex": 4,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    }
                  ],
                  "id": "2aa95995-7a09-4baa-99ac-62dcf8fa8798",
                  "name": "Gruppencall Anwesenheit (7. Monat)",
                  "task_id": "86bx451tm",
                  "encrypted": false,
                  "date_created": "1711964031708",
                  "creator": 82712065,
                  "orderindex": 7,
                  "show_completed": false
                },
                {
                  "resolved": 0,
                  "unresolved": 4,
                  "items": [
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711964076381",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": false,
                      "id": "7af3cbc8-4b84-40cc-a63c-3b69de543654",
                      "checklist_id": "7001ac28-90d2-4e40-ab14-d532de16c6a8",
                      "name": "1. Call Anwesenheit?",
                      "orderindex": 0,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711964082244",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": false,
                      "id": "7ea14a14-67ba-4341-915a-cf38d10507b2",
                      "checklist_id": "7001ac28-90d2-4e40-ab14-d532de16c6a8",
                      "name": "2. Call Anwesenheit?",
                      "orderindex": 1,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711964090307",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": false,
                      "id": "3c0c162d-466f-4280-983f-b040e5e43893",
                      "checklist_id": "7001ac28-90d2-4e40-ab14-d532de16c6a8",
                      "name": "3. Call Anwesenheit?",
                      "orderindex": 2,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711964096786",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": false,
                      "id": "0b650fee-ed2f-4c3a-84b4-b116131d4873",
                      "checklist_id": "7001ac28-90d2-4e40-ab14-d532de16c6a8",
                      "name": "4. Call Anwesenheit?",
                      "orderindex": 3,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    }
                  ],
                  "id": "7001ac28-90d2-4e40-ab14-d532de16c6a8",
                  "name": "Gruppencall Anwesenheit (8. Monat)",
                  "task_id": "86bx451tm",
                  "encrypted": false,
                  "date_created": "1711964065292",
                  "creator": 82712065,
                  "orderindex": 8,
                  "show_completed": false
                },
                {
                  "resolved": 0,
                  "unresolved": 4,
                  "items": [
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711964122465",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": false,
                      "id": "29ac150a-787e-4e57-b925-a1cd6f1d8644",
                      "checklist_id": "15140560-e757-4718-914b-3cc92dabfde2",
                      "name": "1. Call Anwesenheit?",
                      "orderindex": 0,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711964127094",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": false,
                      "id": "7888e429-5387-4131-bc29-2c3344bc9b1f",
                      "checklist_id": "15140560-e757-4718-914b-3cc92dabfde2",
                      "name": "2. Call Anwesenheit?",
                      "orderindex": 1,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711964132579",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": false,
                      "id": "0957fba0-70eb-4bf0-9701-5046281073a4",
                      "checklist_id": "15140560-e757-4718-914b-3cc92dabfde2",
                      "name": "3. Call Anwesenheit?",
                      "orderindex": 2,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711964136607",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": false,
                      "id": "f4c9854a-e551-488e-b998-b8b321317a5e",
                      "checklist_id": "15140560-e757-4718-914b-3cc92dabfde2",
                      "name": "4. Call Anwesenheit?",
                      "orderindex": 3,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    }
                  ],
                  "id": "15140560-e757-4718-914b-3cc92dabfde2",
                  "name": "Gruppencall Anwesenheit (9. Monat)",
                  "task_id": "86bx451tm",
                  "encrypted": false,
                  "date_created": "1711964112514",
                  "creator": 82712065,
                  "orderindex": 9,
                  "show_completed": false
                },
                {
                  "resolved": 0,
                  "unresolved": 4,
                  "items": [
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711964152723",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": false,
                      "id": "53337ab4-a320-4346-8616-03503d03daa9",
                      "checklist_id": "6d7c7f35-37fd-4e68-86b7-b54169caebb5",
                      "name": "1. Call Anwesenheit?",
                      "orderindex": 0,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711964156960",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": false,
                      "id": "98c774c1-4826-4291-8928-d062f4e92246",
                      "checklist_id": "6d7c7f35-37fd-4e68-86b7-b54169caebb5",
                      "name": "2. Call Anwesenheit?",
                      "orderindex": 1,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711964161120",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": false,
                      "id": "b7e2c891-563b-43b7-b103-225698e22ac5",
                      "checklist_id": "6d7c7f35-37fd-4e68-86b7-b54169caebb5",
                      "name": "3. Call Anwesenheit?",
                      "orderindex": 2,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711964189999",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": false,
                      "id": "09e63681-71ae-4637-9ac6-71fb37e09573",
                      "checklist_id": "6d7c7f35-37fd-4e68-86b7-b54169caebb5",
                      "name": "4. Call Anwesenheit?",
                      "orderindex": 3,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    }
                  ],
                  "id": "6d7c7f35-37fd-4e68-86b7-b54169caebb5",
                  "name": "Gruppencall Anwesenheit (10. Monat)",
                  "task_id": "86bx451tm",
                  "encrypted": false,
                  "date_created": "1711964140784",
                  "creator": 82712065,
                  "orderindex": 10,
                  "show_completed": false
                },
                {
                  "resolved": 0,
                  "unresolved": 4,
                  "items": [
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711964203977",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": false,
                      "id": "77c387f0-3465-41f6-a246-cc27d46e7061",
                      "checklist_id": "54a5bd57-6960-4325-b9df-c5282778c621",
                      "name": "1. Call Anwesenheit?",
                      "orderindex": 0,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711964208450",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": false,
                      "id": "48fdf358-8acf-4afa-95a9-415d7648b67b",
                      "checklist_id": "54a5bd57-6960-4325-b9df-c5282778c621",
                      "name": "2. Call Anwesenheit?",
                      "orderindex": 1,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711964261316",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": false,
                      "id": "5e22a298-fcdd-48ad-9cd3-eab7ea0a171a",
                      "checklist_id": "54a5bd57-6960-4325-b9df-c5282778c621",
                      "name": "3. Call Anwesenheit?",
                      "orderindex": 2,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711964276473",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": false,
                      "id": "c44f9c7b-7e38-4e62-80ea-8ec392fe1e16",
                      "checklist_id": "54a5bd57-6960-4325-b9df-c5282778c621",
                      "name": "4. Call Anwesenheit?",
                      "orderindex": 3,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    }
                  ],
                  "id": "54a5bd57-6960-4325-b9df-c5282778c621",
                  "name": "Gruppencall Anwesenheit (11. Monat)",
                  "task_id": "86bx451tm",
                  "encrypted": false,
                  "date_created": "1711964193866",
                  "creator": 82712065,
                  "orderindex": 11,
                  "show_completed": false
                },
                {
                  "resolved": 0,
                  "unresolved": 4,
                  "items": [
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711964287221",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": false,
                      "id": "11c600e2-1a50-449a-8efb-97d966207901",
                      "checklist_id": "2df5105c-d5ca-412f-acc9-f480b2090add",
                      "name": "1. Call Anwesenheit?",
                      "orderindex": 0,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711964303049",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": false,
                      "id": "a92534f4-fe64-4534-82ca-1cebaf432069",
                      "checklist_id": "2df5105c-d5ca-412f-acc9-f480b2090add",
                      "name": "2. Call Anwesenheit?",
                      "orderindex": 1,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711964309128",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": false,
                      "id": "b2d65ca8-c7de-4755-a24b-30ffed6c00c6",
                      "checklist_id": "2df5105c-d5ca-412f-acc9-f480b2090add",
                      "name": "3. Call Anwesenheit?",
                      "orderindex": 2,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    },
                    {
                      "assignee": null,
                      "creator": 82712065,
                      "date_created": "1711964314369",
                      "date_deleted": null,
                      "group_assignee": null,
                      "deleted": false,
                      "encrypted": false,
                      "resolved": false,
                      "id": "6883bd59-a13b-40da-9e77-f9349d6a97f5",
                      "checklist_id": "2df5105c-d5ca-412f-acc9-f480b2090add",
                      "name": "4. Call Anwesenheit?",
                      "orderindex": 3,
                      "parent": null,
                      "start_date": null,
                      "start_date_time": null,
                      "due_date": null,
                      "due_date_time": null,
                      "sent_due_date_notif": null,
                      "children": []
                    }
                  ],
                  "id": "2df5105c-d5ca-412f-acc9-f480b2090add",
                  "name": "Gruppencall Anwesenheit (12. Monat)",
                  "task_id": "86bx451tm",
                  "encrypted": false,
                  "date_created": "1711964280442",
                  "creator": 82712065,
                  "orderindex": 12,
                  "show_completed": false
                }
              ],
              "ownership": {
                "created_by_email": null,
                "owner": 62512347,
                "creator": 62512347,
                "deleted_by": null,
                "source": "import",
                "delegator": null,
                "form_id": null,
                "merged_to": null
              },
              "subtask_ids": [],
              "tags": [
                "b - persönlicher account",
                "gruppencall",
                "inaktiv"
              ],
              "fields": [
                {
                  "field_id": "00a796cb-928c-4c15-808c-aecd5ac7383c",
                  "value_options": null,
                  "value_deleted": false,
                  "value_richtext": null,
                  "reasoning": null,
                  "task_id": "86bx451tm",
                  "type": 5
                },
                {
                  "field_id": "1bb1e052-dff5-45f1-bc2c-6e9f1769303b",
                  "value": true,
                  "value_options": null,
                  "value_deleted": false,
                  "value_richtext": null,
                  "reasoning": null,
                  "task_id": "86bx451tm",
                  "type": 6
                },
                {
                  "field_id": "319d8f86-5f25-441b-8567-6ea8f94d8438",
                  "value": "War im Job gefangen und dann krank. ",
                  "value_options": null,
                  "value_deleted": false,
                  "value_richtext": null,
                  "reasoning": null,
                  "task_id": "86bx451tm",
                  "type": 5
                },
                {
                  "field_id": "37c113e9-ba17-4e47-a79a-13903312183e",
                  "value": "Marie Siber",
                  "value_options": null,
                  "value_deleted": false,
                  "value_richtext": null,
                  "reasoning": null,
                  "task_id": "86bx451tm",
                  "type": 15
                },
                {
                  "field_id": "3a734005-495d-43c2-8382-4c114b19d2e2",
                  "value": 1704769200000,
                  "value_options": {
                    "time": false
                  },
                  "value_deleted": false,
                  "value_richtext": null,
                  "reasoning": null,
                  "task_id": "86bx451tm",
                  "type": 4
                },
                {
                  "field_id": "4233c982-c83c-4cae-a9d4-d7a70df418f9",
                  "value_options": null,
                  "value_deleted": false,
                  "value_richtext": null,
                  "reasoning": null,
                  "task_id": "86bx451tm",
                  "type": 5
                },
                {
                  "field_id": "4b4c3968-45fd-4182-92c5-d4f0acf49d3d",
                  "value": "TikTok",
                  "value_options": null,
                  "value_deleted": false,
                  "value_richtext": null,
                  "reasoning": null,
                  "task_id": "86bx451tm",
                  "type": 5
                },
                {
                  "field_id": "5390b6d4-6958-43dd-a9de-4e1bccb1b494",
                  "value": "berivan.68@hotmail.de",
                  "value_options": null,
                  "value_deleted": false,
                  "value_richtext": null,
                  "reasoning": null,
                  "task_id": "86bx451tm",
                  "type": 2
                },
                {
                  "field_id": "72f032b8-3698-4ed5-90d8-a2fcc8f9967f",
                  "value": "https://drive.google.com/drive/folders/1XvSowKvvFuV_LLKuuMgKycbM1qt7QVgX",
                  "value_options": null,
                  "value_deleted": false,
                  "value_richtext": null,
                  "reasoning": null,
                  "task_id": "86bx451tm",
                  "type": 0
                },
                {
                  "field_id": "7660b436-5ea5-4afb-b560-70ca8c95793f",
                  "value": 33,
                  "value_options": null,
                  "value_deleted": false,
                  "value_richtext": null,
                  "reasoning": null,
                  "task_id": "86bx451tm",
                  "type": 7
                },
                {
                  "field_id": "8198c95c-dec1-4078-a8ac-cb3094210c5b",
                  "value": "Strategie, wie sie dran bleibt und Aufzeigen, wie sie vorgehen kann. ",
                  "value_options": null,
                  "value_deleted": false,
                  "value_richtext": null,
                  "reasoning": null,
                  "task_id": "86bx451tm",
                  "type": 5
                },
                {
                  "field_id": "8ad0652b-ffc1-4558-9b35-f2474d250f91",
                  "value": true,
                  "value_options": null,
                  "value_deleted": false,
                  "value_richtext": null,
                  "reasoning": null,
                  "task_id": "86bx451tm",
                  "type": 6
                },
                {
                  "field_id": "8c325a6c-cce6-4ec6-af18-6f85d9b76869",
                  "value": "3852ddd7-b897-46f4-8beb-ed756414c87e",
                  "value_options": null,
                  "value_deleted": false,
                  "value_richtext": null,
                  "reasoning": null,
                  "task_id": "86bx451tm",
                  "type": 1
                },
                {
                  "field_id": "8c838aa8-c177-4fa7-aa28-0004a6a16efb",
                  "value": 0,
                  "value_options": null,
                  "value_deleted": false,
                  "value_richtext": null,
                  "reasoning": null,
                  "task_id": "86bx451tm",
                  "type": 7
                },
                {
                  "field_id": "99cd33a2-6361-4f78-b84d-229684f81dbd",
                  "value": "Arbeitslos",
                  "value_options": null,
                  "value_deleted": false,
                  "value_richtext": null,
                  "reasoning": null,
                  "task_id": "86bx451tm",
                  "type": 15
                },
                {
                  "field_id": "a282646f-7194-4df0-97c3-09e6800d5620",
                  "value": "d4d54139-a625-456f-841c-31b38704d72b",
                  "value_options": null,
                  "value_deleted": false,
                  "value_richtext": null,
                  "reasoning": null,
                  "task_id": "86bx451tm",
                  "type": 1
                },
                {
                  "field_id": "d52a143c-4ac8-495d-89be-82c6aa214f07",
                  "value": "Insta, Tiktok aktiver als Insta, Youtube, Pinterest nur für Inspo",
                  "value_options": null,
                  "value_deleted": false,
                  "value_richtext": null,
                  "reasoning": null,
                  "task_id": "86bx451tm",
                  "type": 5
                },
                {
                  "field_id": "ee85fac5-78df-49d7-81fe-3b25cb451dac",
                  "value": "+49 176 20312411",
                  "value_options": null,
                  "value_deleted": false,
                  "value_richtext": null,
                  "reasoning": null,
                  "task_id": "86bx451tm",
                  "type": 3
                },
                {
                  "field_id": "f8d1d867-b89c-4a2f-b7d5-8e5066eb90ff",
                  "value": "Abendstudium Ausbildung zu Heilpraktiker (März 2024 Prüfung). 10 Jahre Führungskraft bei Douglas, Leitung von ca. 14 Mitarbeitern.",
                  "value_options": null,
                  "value_deleted": false,
                  "value_richtext": null,
                  "reasoning": null,
                  "task_id": "86bx451tm",
                  "type": 15
                }
              ],
              "lists": [
                {
                  "list_id": "901502108774",
                  "type": "home"
                }
              ],
              "users": [
                {
                  "userid": 82712065,
                  "type": "assigned"
                },
                {
                  "userid": 62512347,
                  "type": "watcher"
                },
                {
                  "userid": 82611345,
                  "type": "watcher"
                },
                {
                  "userid": 82712065,
                  "type": "watcher"
                },
                {
                  "userid": 82732822,
                  "type": "watcher"
                },
                {
                  "userid": 88659418,
                  "type": "watcher"
                },
                {
                  "userid": 62512347,
                  "type": "owner"
                },
                {
                  "userid": 62512347,
                  "type": "creator"
                }
              ],
              "groups": [],
              "related_tasks": [],
              "related_tasks_count": {
                "dependsOn": 0,
                "dependedBy": 0
              },
              "attachments": [
                {
                  "attachment_id": "ab22913f-772c-44b2-a72d-338bf2a7200a.mp4",
                  "type": "linked"
                },
                {
                  "attachment_id": "e41976aa-0336-4383-bd18-874fd6d3be93.jpg",
                  "type": "linked"
                },
                {
                  "attachment_id": "dee5931b-06f7-4af7-8301-a9cf1ac7f003.jpg",
                  "type": "linked"
                },
                {
                  "attachment_id": "0a29b290-b84b-48b4-8ac6-d11fae1379f0.jpg",
                  "type": "linked"
                },
                {
                  "attachment_id": "69123628-9d60-453c-ac4d-3a2cdad40704.jpg",
                  "type": "linked"
                },
                {
                  "attachment_id": "c35a5ab0-7dba-411b-b86c-1fe50afe5c95.jpg",
                  "type": "linked"
                },
                {
                  "attachment_id": "665e019d-0029-4f6f-a0ba-c72a2b6e2e24.jpg",
                  "type": "linked"
                },
                {
                  "attachment_id": "d08d34aa-4d9b-4fd6-b9bf-3cd176eeb6c7",
                  "type": "linked"
                }
              ],
              "docs": [],
              "_version_vector": {
                "workspace_id": 9015284078,
                "object_type": "task",
                "object_id": "86bx451tm",
                "vector": [
                  {
                    "master_id": 23,
                    "version": 1714128704264000,
                    "deleted": false
                  },
                  {
                    "master_id": 31,
                    "version": 1751020040115000,
                    "deleted": false
                  }
                ]
              }
            }
          },
          "webhookUrl": "https://n8n.mymiapage.de/webhook/c809fcee-af86-4971-87ec-d68a4489eb6a",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-02T07:56:21.579Z",
  "versionId": "4463e3a1-1e20-4795-93a6-215438ddddce"
}