workflowsDays of Social Media Diamond.json
{
  "active": false,
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Find Record (First Click)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split campaign_id": {
      "main": [
        [
          {
            "node": "format Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Record (First Click)3": {
      "main": [
        [
          {
            "node": "Search Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Record (All Submissions) EVENTS3": {
      "main": [
        [
          {
            "node": "Create Record (Mini-Produkte)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Record (Mini-Produkte)3": {
      "main": [
        [
          {
            "node": "FIRST UTM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create/Update & Autosell6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Record (All Submissions) Master3": {
      "main": [
        [
          {
            "node": "Create Record (All Submissions) EVENTS3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to List5": {
      "main": [
        [
          {
            "node": "Add Tag5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tag5": {
      "main": [
        [
          {
            "node": "Only continue if number is valid7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Contact7": {
      "main": [
        [
          {
            "node": "Contact does not exist3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Contact exists3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact exists3": {
      "main": [
        [
          {
            "node": "Update Contact7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact does not exist3": {
      "main": [
        [
          {
            "node": "Create Contact3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Record (All Submissions) Master3": {
      "main": [
        [
          {
            "node": "Update Record (All Submissions) EVENTS3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Record (All Submissions) EVENTS3": {
      "main": [
        [
          {
            "node": "Airtable5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Contact List (DOSM Day 2)6": {
      "main": [
        [
          {
            "node": "Add to Contact List (DOSM Day 3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Contact List (DOSM Day 2)8": {
      "main": [
        [
          {
            "node": "Add to Contact List (DOSM Day 3)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Contact List (DOSM Day 1)8": {
      "main": [
        [
          {
            "node": "Add to Contact List (DOSM Day 2)6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Contact List (DOSM Day 1)9": {
      "main": [
        [
          {
            "node": "Add to Contact List (DOSM Day 2)8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Contact List (DOSM Day 3)1": {
      "main": [
        [
          {
            "node": "Add to Contact List (DOSM Day 4)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format Phone": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only continue if number is valid7": {
      "main": [
        [
          {
            "node": "Find Contact7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Contact List (DOSM Day 3)": {
      "main": [
        [
          {
            "node": "Add to Contact List (DOSM Day 4)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create/Update & Autosell6": {
      "main": [
        [
          {
            "node": "Create/Update7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create/Update7": {
      "main": [
        [
          {
            "node": "Add to List5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact7": {
      "main": [
        [
          {
            "node": "Add to Contact List (DOSM Day 1)8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Contact3": {
      "main": [
        [
          {
            "node": "Add to Contact List (DOSM Day 1)9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DIAMOND": {
      "main": [
        [
          {
            "node": "Split campaign_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Events": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Record (Events)": {
      "main": [
        [
          {
            "node": "Search Record (All Submissions)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update Record (Events)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Record (All Submissions) Master3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Record (All Submissions)": {
      "main": [
        [
          {
            "node": "Update Record (All Submissions)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Record (All Submissions)": {
      "main": [
        [
          {
            "node": "Search Record (Mini-Produkte)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Record (Mini-Produkte)": {
      "main": [
        [
          {
            "node": "Update Record (Mini-Produkte)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FIRST UTM": {
      "main": [
        [
          {
            "node": "Update Record (All Submissions) Master3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "DIAMOND",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-06T13:21:39.650Z",
  "id": "zH37j7cl8xhQzd6f",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Days of Social Media Diamond",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0e5ab86-95ac-48f3-9e16-289b98c3e222",
              "name": "E-Mail",
              "value": "={{ $('Webhook').item.json.body['payer[email]'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "2162f063-505c-407c-9467-41b4f617f141",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "// Liste von speziellen Wörtern, die nicht aufgespalten werden sollen\nconst specialWords = [\n    \"paid_search\",\n    \"paid_social\",\n    \"paid_video\",\n    \"organic_search\",\n    \"organic_social\",\n    \"user_reviews\"\n];\n\n// Join the special words into a regex pattern\nconst specialWordsPattern = specialWords.join(\"|\");\n\n// Iteriere durch die eingehenden Items\nreturn items.map(item => {\n    // Get campaign_id from input data\n    const input_data = item.json.body;\n    if (input_data && input_data.campaign_id) {\n        const campaign_id = input_data.campaign_id;\n        \n        // Regex pattern to find all parts, treating special words as single units\n        const pattern = new RegExp(`${specialWordsPattern}|[^_]+`, 'g');\n        let words = campaign_id.match(pattern);\n        \n        // Replace \"undefined\" words with \"organic\"\n        words = words.map(word => word === 'undefined' ? 'organic' : word);\n        \n        // Assign words to respective variables, handling the case when there are fewer words than expected\n        const Source = words[0] || \"\";\n        const Medium = words[1] || \"\";\n        const Campaign = words[2] || \"\";\n        const Term = words[3] || \"\";\n        const Content = words[4] || \"\";\n        \n        // Check if Placement is \"organic\" or \"undefined\"\n        let Placement = \"\";\n        if (words.length > 5 && words[5] !== \"organic\" && words[5] !== \"undefined\") {\n            Placement = words.slice(5).join(\"_\");\n        }\n        \n        // Create an object with the UTM parameters\n        const output = {\n            Source,\n            Medium,\n            Campaign,\n            Term,\n            Content,\n            Placement,\n        };\n        \n        // Return the new JSON structure for n8n\n        return {\n            json: {\n                ...item.json,\n                output,\n            }\n        };\n    }\n    \n    // If no campaign_id is present, return the item unchanged\n    return {\n        json: item.json\n    };\n});"
      },
      "id": "e3df1e7d-5bda-45fd-bf1d-fe3a0bfcf110",
      "name": "Split campaign_id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        640
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app7bQ0CiN5j1RECH",
          "mode": "list",
          "cachedResultName": "Final Tracking",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH"
        },
        "table": {
          "__rl": true,
          "value": "tblj0vg3XIYidUfPB",
          "mode": "list",
          "cachedResultName": "All Submissions",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH/tblj0vg3XIYidUfPB"
        },
        "filterByFormula": "=\"{{ $('Webhook').item.json.body['payer[email]'] }}\"={E-Mail}",
        "returnAll": false,
        "limit": 1,
        "options": {
          "view": {
            "__rl": true,
            "value": "viwpB5iqJmrioRtKS",
            "mode": "list",
            "cachedResultName": "First Click",
            "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH/tblj0vg3XIYidUfPB/viwpB5iqJmrioRtKS"
          }
        }
      },
      "id": "24b667d6-fde9-4e38-93b9-4c8aaffe86b7",
      "name": "Find Record (First Click)3",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1280,
        640
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "IBvQYb808RuFQZfA",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appT9Q0lTbgTyRrHE",
          "mode": "list",
          "cachedResultName": "MP LIVE EVENTS",
          "cachedResultUrl": "https://airtable.com/appT9Q0lTbgTyRrHE"
        },
        "table": {
          "__rl": true,
          "value": "tblWLy8iXGxhOEra5",
          "mode": "list",
          "cachedResultName": "All Submissions",
          "cachedResultUrl": "https://airtable.com/appT9Q0lTbgTyRrHE/tblWLy8iXGxhOEra5"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Datum": "={{ $('Webhook').item.json.body.created_date }}",
            "E-Mail": "={{ $('Webhook').item.json.body['payer[email]'] }}",
            "Vorname": "={{ $('Webhook').item.json.body['payer[first_name]'] }}",
            "Nachname": "={{ $('Webhook').item.json.body['payer[last_name]'] }}",
            "Full Name": "={{ $('Webhook').item.json.body['payer[first_name]'] }} {{ $('Webhook').item.json.body['payer[last_name]'] }}",
            "Telefonnummer": "={{ $('format Phone').item.json.Phone }}",
            "utm_source": "={{ $('Split campaign_id').item.json.output.Source }}",
            "utm_medium": "={{ $('Split campaign_id').item.json.output.Medium }}",
            "utm_campaign": "={{ $('Split campaign_id').item.json.output.Campaign }}",
            "utm_term": "={{ $('Split campaign_id').item.json.output.Term }}",
            "utm_content": "={{ $('Split campaign_id').item.json.output.Content }}",
            "Placement": "={{ $('Split campaign_id').item.json.output.Placement }}",
            "URL Path": "={{ $('Webhook').item.json.body['sellables[][product][slug]'] }}",
            "Count": 1,
            "Lead Herkunft": "📲 DOSM Diamond",
            "first_utm_source": "={{ $('Find Record (First Click)3').item.json.utm_source }}",
            "first_utm_campaign": "={{ $('Find Record (First Click)3').item.json.utm_campaign }}",
            "first_utm_medium": "={{ $('Find Record (First Click)3').item.json.utm_medium }}",
            "first_utm_term": "={{ $('Find Record (First Click)3').item.json.utm_term }}",
            "first_utm_content": "={{ $('Find Record (First Click)3').item.json.utm_content }}",
            "first_placement": "={{ $('Find Record (First Click)3').item.json.Placement }}",
            "first_url_path": "={{ $('Find Record (First Click)3').item.json['URL Path'] }}",
            "Lead Herkunft First": "={{ $('Find Record (First Click)3').item.json['Lead Herkunft'] }}",
            "Affiliate": "🔵 Intern"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Datum",
              "displayName": "Datum",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Herkunft",
              "displayName": "Lead Herkunft",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "E-Mail",
              "displayName": "E-Mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Vorname",
              "displayName": "Vorname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nachname",
              "displayName": "Nachname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Telefonnummer",
              "displayName": "Telefonnummer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Placement",
              "displayName": "Placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL Path",
              "displayName": "URL Path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Count",
              "displayName": "Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_source",
              "displayName": "first_utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_campaign",
              "displayName": "first_utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_medium",
              "displayName": "first_utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_term",
              "displayName": "first_utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_content",
              "displayName": "first_utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_placement",
              "displayName": "first_placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_url_path",
              "displayName": "first_url_path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Herkunft First",
              "displayName": "Lead Herkunft First",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Erstellt",
              "displayName": "Erstellt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Affiliate",
              "displayName": "Affiliate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "pid",
              "displayName": "pid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prid",
              "displayName": "prid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "DOSM Day 1",
              "displayName": "DOSM Day 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DOSM Day 2",
              "displayName": "DOSM Day 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DOSM Day 3",
              "displayName": "DOSM Day 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DOSM Day 4",
              "displayName": "DOSM Day 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DOSM Day 1 ID",
              "displayName": "DOSM Day 1 ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DOSM Day 2 ID",
              "displayName": "DOSM Day 2 ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DOSM Day 3 ID",
              "displayName": "DOSM Day 3 ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DOSM Day 4 ID",
              "displayName": "DOSM Day 4 ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Zuletzt geändert",
              "displayName": "Zuletzt geändert",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "2ddbf7ac-6db4-487f-8b9b-06cb405ee837",
      "name": "Create Record (All Submissions) EVENTS3",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2180,
        880
      ],
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "airtableTokenApi": {
          "id": "IBvQYb808RuFQZfA",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app7bQ0CiN5j1RECH",
          "mode": "list",
          "cachedResultName": "Final Tracking",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH"
        },
        "table": {
          "__rl": true,
          "value": "tbl4nYxtZoBS5J4tn",
          "mode": "list",
          "cachedResultName": "Mini - Produkte",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH/tbl4nYxtZoBS5J4tn"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Datum": "={{ $('Webhook').item.json.body.created_date }}",
            "E-Mail": "={{ $('Webhook').item.json.body['payer[email]'] }}",
            "Vollständiger Name": "={{ $('Webhook').item.json.body['payer[first_name]'] }} {{ $('Webhook').item.json.body['payer[last_name]'] }}",
            "Handynummer": "={{ $('format Phone').item.json.Phone }}",
            "Produkt": "={{ $('Webhook').item.json.body['product[name]'] }}",
            "Anzahlung / Revenue": "={{ $('Webhook').item.json.body['product[price]'] }}",
            "Payment Method": "={{ $('Webhook').item.json.body.payment_method }}",
            "Payment Plan / Status": "={{ $('Webhook').item.json.body.payment_state }}",
            "Anzahl Raten": 0,
            "Hausnummer": "={{ $('Webhook').item.json.body['payer[street_number]'] }}",
            "utm_source": "={{ $('Split campaign_id').item.json.output.Source }}",
            "Produktpreis": 0,
            "utm_medium": "={{ $('Split campaign_id').item.json.output.Medium }}",
            "utm_campaign": "={{ $('Split campaign_id').item.json.output.Campaign }}",
            "utm_term": "={{ $('Split campaign_id').item.json.output.Term }}",
            "utm_content": "={{ $('Split campaign_id').item.json.output.Content }}",
            "Placement": "={{ $('Split campaign_id').item.json.output.Placement }}",
            "Lead Herkunft Last": "={{ $json.fields['Lead Herkunft'] }}",
            "Affiliate": "🔵 Intern",
            "Lead Herkunft First": "={{ $('Find Record (First Click)3').item.json['Lead Herkunft'] }}",
            "first_utm_source": "={{ $('Find Record (First Click)3').item.json.utm_source }}",
            "first_utm_campaign": "={{ $('Find Record (First Click)3').item.json.utm_campaign }}",
            "first_utm_medium": "={{ $('Find Record (First Click)3').item.json.utm_medium }}",
            "first_utm_term": "={{ $('Find Record (First Click)3').item.json.utm_term }}",
            "first_utm_content": "={{ $('Find Record (First Click)3').item.json.utm_content }}",
            "first_placement": "={{ $('Find Record (First Click)3').item.json.Placement }}",
            "Vorname": "={{ $('Webhook').item.json.body['payer[first_name]'] }}",
            "Nachname": "={{ $('Webhook').item.json.body['payer[last_name]'] }}",
            "Count": 1,
            "Land": "={{ $('Webhook').item.json.body['payer[country]'] }}",
            "Stadt": "={{ $('Webhook').item.json.body['payer[city]'] }}",
            "PLZ": "={{ $('Webhook').item.json.body['payer[zip]'] }}",
            "Strasse ": "={{ $('Webhook').item.json.body['payer[street]'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Datum",
              "displayName": "Datum",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Zuletzt geändert",
              "displayName": "Zuletzt geändert",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Erstellt",
              "displayName": "Erstellt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "E-Mail",
              "displayName": "E-Mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Vollständiger Name",
              "displayName": "Vollständiger Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Handynummer",
              "displayName": "Handynummer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Produkt",
              "displayName": "Produkt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Produktpreis",
              "displayName": "Produktpreis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Anzahlung / Revenue",
              "displayName": "Anzahlung / Revenue",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Payment Method",
              "displayName": "Payment Method",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Payment Plan / Status",
              "displayName": "Payment Plan / Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Anzahl Raten",
              "displayName": "Anzahl Raten",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Raten",
              "displayName": "Raten",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Land",
              "displayName": "Land",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Stadt",
              "displayName": "Stadt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PLZ",
              "displayName": "PLZ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Strasse ",
              "displayName": "Strasse ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hausnummer",
              "displayName": "Hausnummer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Placement",
              "displayName": "Placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Herkunft Last",
              "displayName": "Lead Herkunft Last",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Herkunft First",
              "displayName": "Lead Herkunft First",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_source",
              "displayName": "first_utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_medium",
              "displayName": "first_utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_campaign",
              "displayName": "first_utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_term",
              "displayName": "first_utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_content",
              "displayName": "first_utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_placement",
              "displayName": "first_placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Affiliate",
              "displayName": "Affiliate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PID",
              "displayName": "PID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PRID",
              "displayName": "PRID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Affiliate Name",
              "displayName": "Affiliate Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Vorname",
              "displayName": "Vorname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nachname",
              "displayName": "Nachname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Count",
              "displayName": "Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "ca17da77-ff9a-4959-96e2-8198abf62c47",
      "name": "Create Record (Mini-Produkte)3",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2400,
        880
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "IBvQYb808RuFQZfA",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "app7bQ0CiN5j1RECH",
          "mode": "list",
          "cachedResultName": "Final Tracking",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH"
        },
        "table": {
          "__rl": true,
          "value": "tblj0vg3XIYidUfPB",
          "mode": "list",
          "cachedResultName": "All Submissions",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH/tblj0vg3XIYidUfPB"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Datum": "={{ $('Webhook').item.json.body.created_date }}",
            "Lead Herkunft": "📲 DOSM Diamond",
            "E-Mail": "={{ $('Webhook').item.json.body['payer[email]'] }}",
            "Vorname": "={{ $('Webhook').item.json.body['payer[first_name]'] }}",
            "Nachname": "={{ $('Webhook').item.json.body['payer[last_name]'] }}",
            "Full Name": "={{ $('Webhook').item.json.body['payer[first_name]'] }} {{ $('Webhook').item.json.body['payer[last_name]'] }}",
            "Telefonnummer": "={{ $('format Phone').item.json.Phone }}",
            "utm_source": "={{ $('Split campaign_id').item.json.output.Source }}",
            "utm_medium": "={{ $('Split campaign_id').item.json.output.Medium }}",
            "utm_campaign": "={{ $('Split campaign_id').item.json.output.Campaign }}",
            "utm_term": "={{ $('Split campaign_id').item.json.output.Term }}",
            "utm_content": "={{ $('Split campaign_id').item.json.output.Content }}",
            "Placement": "={{ $('Split campaign_id').item.json.output.Placement }}",
            "Count": 1,
            "URL Path": "={{ $('Webhook').item.json.body['product[slug]'] }}",
            "Affiliate": "🔵 Intern",
            "first_utm_source": "={{ $json.utm_source }}",
            "first_utm_campaign": "={{ $json.utm_campaign }}",
            "first_utm_medium": "={{ $json.utm_medium }}",
            "first_utm_content": "={{ $json.utm_content }}",
            "first_utm_term": "={{ $json.utm_term }}",
            "first_placement": "={{ $json.Placement }}",
            "first_url_path": "={{ $json['URL Path'] }}",
            "Lead Herkunft First": "={{ $json['Lead Herkunft'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Datum",
              "displayName": "Datum",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Herkunft",
              "displayName": "Lead Herkunft",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "E-Mail",
              "displayName": "E-Mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Vorname",
              "displayName": "Vorname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nachname",
              "displayName": "Nachname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Telefonnummer",
              "displayName": "Telefonnummer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Placement",
              "displayName": "Placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Count",
              "displayName": "Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL Path",
              "displayName": "URL Path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_source",
              "displayName": "first_utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_campaign",
              "displayName": "first_utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_medium",
              "displayName": "first_utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_content",
              "displayName": "first_utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_term",
              "displayName": "first_utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_placement",
              "displayName": "first_placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_url_path",
              "displayName": "first_url_path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Herkunft First",
              "displayName": "Lead Herkunft First",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Zuletzt geändert",
              "displayName": "Zuletzt geändert",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Erstellt",
              "displayName": "Erstellt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Affiliate",
              "displayName": "Affiliate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "pid",
              "displayName": "pid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prid",
              "displayName": "prid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "1836dbc2-4ba2-47f0-95e5-cfc60f52b888",
      "name": "Create Record (All Submissions) Master3",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1980,
        880
      ],
      "executeOnce": false,
      "credentials": {
        "airtableTokenApi": {
          "id": "IBvQYb808RuFQZfA",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactList",
        "listId": 35,
        "contactId": "={{ $json.id }}"
      },
      "id": "123701f1-b4ea-48f8-8951-39a31d2e0a4d",
      "name": "Add to List5",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        3040,
        880
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "activeCampaignApi": {
          "id": "teATeM55lqOgZIOH",
          "name": "ActiveCampaign account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "150",
        "contactId": "={{ $('Create/Update7').item.json.id }}"
      },
      "id": "e25d693b-c85b-40ad-a3a5-cabcfa7beb8e",
      "name": "Add Tag5",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        3260,
        880
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "activeCampaignApi": {
          "id": "teATeM55lqOgZIOH",
          "name": "ActiveCampaign account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.superchat.com/v1.0/contacts/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "0cdf445e-330f-4179-84a6-faab5838663e"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": {\n    \"value\": [\n      {\n        \"operator\": \"=\",\n        \"field\": \"phone\",\n        \"value\": \"{{ $('format Phone').item.json.Phone }}\"\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "4d146bc4-abd9-4e08-955e-cdcac5e70f77",
      "name": "Find Contact7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3680,
        880
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f9f88955-5e3a-4bf6-ae7f-df9f73c91ef6",
              "leftValue": "={{ $json.results }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1b66b758-46b2-44e0-b483-02e97df1e17d",
      "name": "Contact exists3",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        3960,
        720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4c88e4d7-b0e0-46be-9530-1f01f8f79e4b",
              "leftValue": "={{ $json.results }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ddc63e0f-378a-48d9-b8d7-b6f33439abe2",
      "name": "Contact does not exist3",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        3960,
        960
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app7bQ0CiN5j1RECH",
          "mode": "list",
          "cachedResultName": "Final Tracking",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH"
        },
        "table": {
          "__rl": true,
          "value": "tbl4nYxtZoBS5J4tn",
          "mode": "list",
          "cachedResultName": "Mini - Produkte",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH/tbl4nYxtZoBS5J4tn"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Create Record (Mini-Produkte)3').item.json.id }}",
            "Lead Herkunft First": "={{ $('Create Record (All Submissions) Master3').item.json.fields['Lead Herkunft'] }}",
            "first_utm_source": "={{ $('Split campaign_id').item.json.output.Source }}",
            "first_utm_medium": "={{ $('Split campaign_id').item.json.output.Medium }}",
            "first_utm_campaign": "={{ $('Split campaign_id').item.json.output.Campaign }}",
            "first_utm_term": "={{ $('Split campaign_id').item.json.output.Term }}",
            "first_utm_content": "={{ $('Split campaign_id').item.json.output.Content }}",
            "first_placement": "={{ $('Split campaign_id').item.json.output.Placement }}",
            "Produktpreis": 0,
            "Anzahlung / Revenue": 0,
            "Anzahl Raten": 0,
            "PLZ": 0,
            "Hausnummer": 0,
            "Count": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Datum",
              "displayName": "Datum",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Zuletzt geändert",
              "displayName": "Zuletzt geändert",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Erstellt",
              "displayName": "Erstellt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "E-Mail",
              "displayName": "E-Mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Vollständiger Name",
              "displayName": "Vollständiger Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Handynummer",
              "displayName": "Handynummer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Produkt",
              "displayName": "Produkt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Produktpreis",
              "displayName": "Produktpreis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Anzahlung / Revenue",
              "displayName": "Anzahlung / Revenue",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Payment Method",
              "displayName": "Payment Method",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Payment Plan / Status",
              "displayName": "Payment Plan / Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Anzahl Raten",
              "displayName": "Anzahl Raten",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Raten",
              "displayName": "Raten",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Land",
              "displayName": "Land",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Stadt",
              "displayName": "Stadt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PLZ",
              "displayName": "PLZ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Strasse ",
              "displayName": "Strasse ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hausnummer",
              "displayName": "Hausnummer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Placement",
              "displayName": "Placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Herkunft Last",
              "displayName": "Lead Herkunft Last",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Herkunft First",
              "displayName": "Lead Herkunft First",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_source",
              "displayName": "first_utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_medium",
              "displayName": "first_utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_campaign",
              "displayName": "first_utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_term",
              "displayName": "first_utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_content",
              "displayName": "first_utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_placement",
              "displayName": "first_placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Affiliate",
              "displayName": "Affiliate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PID",
              "displayName": "PID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "PRID",
              "displayName": "PRID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Affiliate Name",
              "displayName": "Affiliate Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Vorname",
              "displayName": "Vorname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nachname",
              "displayName": "Nachname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Count",
              "displayName": "Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "a5e750b7-819b-430b-9501-a2799e1d704f",
      "name": "Airtable5",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3240,
        680
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "IBvQYb808RuFQZfA",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app7bQ0CiN5j1RECH",
          "mode": "list",
          "cachedResultName": "Final Tracking",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH"
        },
        "table": {
          "__rl": true,
          "value": "tblj0vg3XIYidUfPB",
          "mode": "list",
          "cachedResultName": "All Submissions",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH/tblj0vg3XIYidUfPB"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Create Record (All Submissions) Master3').item.json.id }}",
            "first_utm_source": "={{ $('Split campaign_id').item.json.output.Source }}",
            "first_utm_medium": "={{ $('Split campaign_id').item.json.output.Medium }}",
            "first_utm_campaign": "={{ $('Split campaign_id').item.json.output.Campaign }}",
            "first_utm_term": "={{ $('Split campaign_id').item.json.output.Term }}",
            "first_utm_content": "={{ $('Split campaign_id').item.json.output.Content }}",
            "first_placement": "={{ $('Split campaign_id').item.json.output.Placement }}",
            "first_url_path": "={{ $('Create Record (All Submissions) Master3').item.json.fields['URL Path'] }}",
            "Lead Herkunft First": "={{ $('Create Record (All Submissions) Master3').item.json.fields['Lead Herkunft'] }}",
            "Count": 1
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Datum",
              "displayName": "Datum",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Herkunft",
              "displayName": "Lead Herkunft",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "E-Mail",
              "displayName": "E-Mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Vorname",
              "displayName": "Vorname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nachname",
              "displayName": "Nachname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Telefonnummer",
              "displayName": "Telefonnummer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Placement",
              "displayName": "Placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Count",
              "displayName": "Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL Path",
              "displayName": "URL Path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_source",
              "displayName": "first_utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_campaign",
              "displayName": "first_utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_medium",
              "displayName": "first_utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_term",
              "displayName": "first_utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_content",
              "displayName": "first_utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_placement",
              "displayName": "first_placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_url_path",
              "displayName": "first_url_path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Herkunft First",
              "displayName": "Lead Herkunft First",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Zuletzt geändert",
              "displayName": "Zuletzt geändert",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Erstellt",
              "displayName": "Erstellt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Affiliate",
              "displayName": "Affiliate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "pid",
              "displayName": "pid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prid",
              "displayName": "prid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "a424cce0-33ca-4a6f-8c9a-19a2a09b2cd9",
      "name": "Update Record (All Submissions) Master3",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2820,
        680
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "IBvQYb808RuFQZfA",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appT9Q0lTbgTyRrHE",
          "mode": "list",
          "cachedResultName": "MP LIVE EVENTS",
          "cachedResultUrl": "https://airtable.com/appT9Q0lTbgTyRrHE"
        },
        "table": {
          "__rl": true,
          "value": "tblWLy8iXGxhOEra5",
          "mode": "list",
          "cachedResultName": "All Submissions",
          "cachedResultUrl": "https://airtable.com/appT9Q0lTbgTyRrHE/tblWLy8iXGxhOEra5"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Create Record (All Submissions) EVENTS3').item.json.id }}",
            "first_utm_source": "={{ $('Split campaign_id').item.json.output.Source }}",
            "first_utm_medium": "={{ $('Split campaign_id').item.json.output.Medium }}",
            "first_utm_campaign": "={{ $('Split campaign_id').item.json.output.Campaign }}",
            "first_utm_term": "={{ $('Split campaign_id').item.json.output.Term }}",
            "first_utm_content": "={{ $('Split campaign_id').item.json.output.Content }}",
            "first_placement": "={{ $('Split campaign_id').item.json.output.Placement }}",
            "first_url_path": "={{ $('Create Record (All Submissions) EVENTS3').item.json.fields['URL Path'] }}",
            "Lead Herkunft First": "={{ $('Create Record (All Submissions) EVENTS3').item.json.fields['Lead Herkunft'] }}",
            "Count": 1
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Datum",
              "displayName": "Datum",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Herkunft",
              "displayName": "Lead Herkunft",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "E-Mail",
              "displayName": "E-Mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Vorname",
              "displayName": "Vorname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nachname",
              "displayName": "Nachname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Telefonnummer",
              "displayName": "Telefonnummer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Placement",
              "displayName": "Placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "URL Path",
              "displayName": "URL Path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Count",
              "displayName": "Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_source",
              "displayName": "first_utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_campaign",
              "displayName": "first_utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_medium",
              "displayName": "first_utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_term",
              "displayName": "first_utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_utm_content",
              "displayName": "first_utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_placement",
              "displayName": "first_placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "first_url_path",
              "displayName": "first_url_path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lead Herkunft First",
              "displayName": "Lead Herkunft First",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Erstellt",
              "displayName": "Erstellt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Affiliate",
              "displayName": "Affiliate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "pid",
              "displayName": "pid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prid",
              "displayName": "prid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "DOSM Day 1",
              "displayName": "DOSM Day 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "DOSM Day 2",
              "displayName": "DOSM Day 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "DOSM Day 3",
              "displayName": "DOSM Day 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "DOSM Day 4",
              "displayName": "DOSM Day 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Zuletzt geändert",
              "displayName": "Zuletzt geändert",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "bbd87a6e-f782-4dd6-a313-f02918fe9ce1",
      "name": "Update Record (All Submissions) EVENTS3",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3020,
        680
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "IBvQYb808RuFQZfA",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.superchat.com/v1.0/contacts/{{ $('Update Contact7').item.json.id }}/contact-lists",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "0cdf445e-330f-4179-84a6-faab5838663e"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "cl_0TTozpiYWM96t92uS3ken"
            }
          ]
        },
        "options": {}
      },
      "id": "4eaf4070-2464-4395-8ada-b99d8e636889",
      "name": "Add to Contact List (DOSM Day 2)6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4560,
        720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.superchat.com/v1.0/contacts/{{ $('Create Contact3').item.json.id }}/contact-lists",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "0cdf445e-330f-4179-84a6-faab5838663e"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "cl_0TTozpiYWM96t92uS3ken"
            }
          ]
        },
        "options": {}
      },
      "id": "4f93958d-76f1-4bb2-9926-8b167c4e6f85",
      "name": "Add to Contact List (DOSM Day 2)8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4560,
        960
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.superchat.com/v1.0/contacts/{{ $json.id }}/contact-lists",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "0cdf445e-330f-4179-84a6-faab5838663e"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "cl_54LhEvAPhPbHGB7OFW8Ac"
            }
          ]
        },
        "options": {}
      },
      "id": "49d90082-b6bb-48fd-a8d8-9242db96e506",
      "name": "Add to Contact List (DOSM Day 1)8",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4360,
        720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.superchat.com/v1.0/contacts/{{ $json.id }}/contact-lists",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "0cdf445e-330f-4179-84a6-faab5838663e"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "cl_54LhEvAPhPbHGB7OFW8Ac"
            }
          ]
        },
        "options": {}
      },
      "id": "28f264c0-b0d6-4da2-894d-997e1a651b87",
      "name": "Add to Contact List (DOSM Day 1)9",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4360,
        960
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.superchat.com/v1.0/contacts/{{ $('Create Contact3').item.json.id }}/contact-lists",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "0cdf445e-330f-4179-84a6-faab5838663e"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "cl_TWCb2NsvMh1JycEjaErUv"
            }
          ]
        },
        "options": {}
      },
      "id": "8f416235-20b9-4158-9be7-4ed081ca9bd7",
      "name": "Add to Contact List (DOSM Day 3)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4780,
        960
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.superchat.com/v1.0/contacts/{{ $('Create Contact3').item.json.id }}/contact-lists",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "0cdf445e-330f-4179-84a6-faab5838663e"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "cl_L4jvRFHzuwTyzcPmlEBLa"
            }
          ]
        },
        "options": {}
      },
      "id": "6a78da17-014c-4c1b-9383-3695219987f7",
      "name": "Add to Contact List (DOSM Day 4)2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4980,
        960
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// JSON-Eingabe: Die Struktur entspricht der übergebenen Beispielstruktur\nconst data = $json;\n\n// Extrahiere die Telefonnummer aus payer[phone]\nlet phone = data.body[\"payer[phone]\"];\n\n// Liste aller Ländervorwahlen\nconst countryCodes = [\"1\", \"30\", \"31\", \"32\", \"33\", \"34\", \"36\", \"39\", \"40\", \"41\", \"43\", \"44\", \"45\", \"46\", \"47\", \"48\", \"49\", \"52\", \"62\", \"971\", \"420\", \"423\", \"27\"];\n\n// Funktion zur Bereinigung der Telefonnummer\nfunction cleanPhoneNumber(phone) {\n    // Entferne Leerzeichen, Bindestriche, Klammern und sonstige Sonderzeichen\n    phone = phone.replace(/[\\s()-]/g, \"\");\n\n    // Entferne führende Nullen (vor dem Ländercode)\n    while (phone.startsWith(\"0\")) {\n        phone = phone.substring(1);\n    }\n\n    // Wenn keine \"+\" vorhanden ist, füge sie hinzu (E.164 Format benötigt das \"+\" Zeichen)\n    if (!phone.startsWith(\"+\")) {\n        phone = \"+\" + phone;\n    }\n\n    // Prüfe auf doppelte Ländervorwahl\n    phone = removeDuplicateCountryCode(phone, countryCodes);\n\n    // Ländervorwahl validieren und überprüfen, ob nach der Ländervorwahl keine Null steht\n    for (let code of countryCodes) {\n        const pattern = new RegExp(`^(\\\\+${code})(0+)`); // Überprüfe auf eine oder mehrere Nullen nach dem Ländercode\n        if (pattern.test(phone)) {\n            // Entferne alle führenden Nullen nach der Ländervorwahl\n            phone = phone.replace(pattern, `+$1`); // Ersetze die Nullen durch nichts\n        }\n    }\n\n    // Entferne alle doppelten '+' Zeichen und lasse nur eines übrig\n    phone = phone.replace(/^\\+{2,}/, \"+\");\n\n    return phone;\n}\n\n// Funktion zur Überprüfung auf doppelte Ländervorwahl\nfunction removeDuplicateCountryCode(phone, countryCodes) {\n    for (let code of countryCodes) {\n        const doubleCodePattern = new RegExp(`^\\\\+${code}{2}`);\n        if (doubleCodePattern.test(phone)) {\n            // Entferne die doppelte Ländervorwahl\n            phone = phone.replace(`+${code}${code}`, `+${code}`);\n        }\n    }\n    return phone;\n}\n\n// Telefonnummer bereinigen und formatieren\nconst formattedPhone = cleanPhoneNumber(phone);\n\n// Berechnung der Anzahl der Zeichen inklusive des Plus-Zeichens\nconst phoneLength = formattedPhone.length;\n\n// Ausgabe: Bereinigte Telefonnummer im E.164-Format und die Anzahl der Zeichen\nreturn {\n    \"Phone\": formattedPhone,\n    \"PhoneLength\": phoneLength\n};\n"
      },
      "id": "1cf4f6c3-4c93-4e01-ab2f-61d52d5494d7",
      "name": "format Phone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "a631fcbe-ec0b-4626-a83b-883698e5f3cc",
              "leftValue": "={{ $('format Phone').item.json.PhoneLength }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "29d7edfb-8c66-4410-8ba9-799677445a3e",
              "leftValue": "={{ $('format Phone').item.json.PhoneLength }}",
              "rightValue": 16,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "97e02b28-3a3e-4db6-b1e0-4e2f9f231260",
      "name": "Only continue if number is valid7",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        3460,
        880
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.superchat.com/v1.0/contacts/{{ $('Update Contact7').item.json.id }}/contact-lists",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "0cdf445e-330f-4179-84a6-faab5838663e"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "cl_TWCb2NsvMh1JycEjaErUv"
            }
          ]
        },
        "options": {}
      },
      "id": "97c9578b-bd91-4115-aa83-20220a28c466",
      "name": "Add to Contact List (DOSM Day 3)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4780,
        720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.superchat.com/v1.0/contacts/{{ $('Update Contact7').item.json.id }}/contact-lists",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "0cdf445e-330f-4179-84a6-faab5838663e"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "cl_L4jvRFHzuwTyzcPmlEBLa"
            }
          ]
        },
        "options": {}
      },
      "id": "435f2f08-5794-4559-a08b-35dbbe83d52f",
      "name": "Add to Contact List (DOSM Day 4)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4980,
        720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us-central1-crm-server-mymiapage.cloudfunctions.net/Create_Update_Lead_in_Close_Autosell_Infoproducts2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Webhook').item.json.body['payer[first_name]'] }} {{ $('Webhook').item.json.body['payer[last_name]'] }}"
            },
            {
              "name": "phone",
              "value": "={{ $('format Phone').item.json.Phone }}"
            },
            {
              "name": "email",
              "value": "={{ $('Webhook').item.json.body['payer[email]'] }}"
            },
            {
              "name": "kampagne",
              "value": "📲 Days of Social Media"
            },
            {
              "name": "utm_source",
              "value": "={{ $('Split campaign_id').item.json.output.Source }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $('Split campaign_id').item.json.output.Medium }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $('Split campaign_id').item.json.output.Campaign }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $('Split campaign_id').item.json.output.Term }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $('Split campaign_id').item.json.output.Content }}"
            },
            {
              "name": "placement",
              "value": "={{ $('Split campaign_id').item.json.output.Placement }}"
            },
            {
              "name": "Netto Auftragsvolumen",
              "value": "={{ $('Webhook').item.json.body['product[price]'] }}"
            },
            {
              "name": "produkt",
              "value": "={{ $('Webhook').item.json.body['product[name]'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "89990372-7e55-448d-8feb-cb242b5d9a08",
      "name": "Create/Update & Autosell6",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        880
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "email": "={{ $('Webhook').item.json.body['payer[email]'] }}",
        "updateIfExists": true,
        "additionalFields": {
          "fieldValues": {
            "property": [
              {
                "field": "1",
                "value": "={{ $('Split campaign_id').item.json.output.Source }}"
              },
              {
                "field": "2",
                "value": "={{ $('Split campaign_id').item.json.output.Campaign }}"
              },
              {
                "field": "3",
                "value": "={{ $('Split campaign_id').item.json.output.Medium }}"
              },
              {
                "field": "4",
                "value": "={{ $('Split campaign_id').item.json.output.Term }}"
              },
              {
                "field": "6",
                "value": "={{ $('Split campaign_id').item.json.output.Content }}"
              },
              {
                "field": "9",
                "value": "={{ $('Split campaign_id').item.json.output.Placement }}"
              }
            ]
          },
          "firstName": "={{ $('Webhook').item.json.body['payer[first_name]'] }}",
          "lastName": "={{ $('Webhook').item.json.body['payer[last_name]'] }}",
          "phone": "={{ $('format Phone').item.json.Phone }}"
        }
      },
      "id": "510a2528-0624-4714-bac0-9494c88a8677",
      "name": "Create/Update7",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2820,
        880
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "activeCampaignApi": {
          "id": "teATeM55lqOgZIOH",
          "name": "ActiveCampaign account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.superchat.com/v1.0/contacts/{{ $json.results[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "0cdf445e-330f-4179-84a6-faab5838663e"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"first_name\": \"{{ $('Webhook').item.json.body['payer[first_name]'] }}\",\n  \"last_name\": \"{{ $('Webhook').item.json.body['payer[last_name]'] }}\"\n}",
        "options": {}
      },
      "id": "4cbe8851-d85e-4fd7-9628-015e6c4ece90",
      "name": "Update Contact7",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4160,
        720
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.superchat.com/v1.0/contacts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "0cdf445e-330f-4179-84a6-faab5838663e"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"first_name\": \"{{ $('Webhook').item.json.body['payer[first_name]'] }}\",\n  \"last_name\": \"{{ $('Webhook').item.json.body['payer[last_name]'] }}\",\n  \"handles\": [\n    {\n      \"type\": \"phone\",\n      \"value\": \"{{ $('format Phone').item.json.Phone }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "f0f755b1-5685-446c-9ee7-508bd574fd4e",
      "name": "Create Contact3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4160,
        960
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "5a19e9cf-73ea-4d5d-9c00-15d1146a3137",
              "leftValue": "={{ $json.body['payer[phone]'] }}",
              "rightValue": "@eyl-marketing.de",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "8de9aac5-56d1-41a1-8c7f-3eb3ade64ff3",
              "leftValue": "={{ $('Webhook').item.json.body['product[name]'] }}",
              "rightValue": "Days of Social Media Diamond Ticket",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "60a562c6-9e36-4920-a9a1-4a66b103b6bd",
      "name": "DIAMOND",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        120,
        640
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appT9Q0lTbgTyRrHE",
          "mode": "list",
          "cachedResultName": "MP LIVE EVENTS",
          "cachedResultUrl": "https://airtable.com/appT9Q0lTbgTyRrHE"
        },
        "table": {
          "__rl": true,
          "value": "tblWLy8iXGxhOEra5",
          "mode": "list",
          "cachedResultName": "All Submissions",
          "cachedResultUrl": "https://airtable.com/appT9Q0lTbgTyRrHE/tblWLy8iXGxhOEra5"
        },
        "filterByFormula": "=AND(\n  \"{{ $('Webhook').item.json.body['payer[email]'] }}\"={E-Mail},\n  \"📲 DOSM Gold\"={Lead Herkunft}\n)",
        "returnAll": false,
        "limit": 1,
        "options": {
          "view": {
            "__rl": true,
            "value": "viw00TPimYqsy1HR7",
            "mode": "list",
            "cachedResultName": "Last Click",
            "cachedResultUrl": "https://airtable.com/appT9Q0lTbgTyRrHE/tblWLy8iXGxhOEra5/viw00TPimYqsy1HR7"
          }
        }
      },
      "id": "a81bcfb4-9ac4-4c62-9143-d21e242ca13c",
      "name": "Search Events",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1500,
        640
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "IBvQYb808RuFQZfA",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appT9Q0lTbgTyRrHE",
          "mode": "list",
          "cachedResultName": "MP LIVE EVENTS",
          "cachedResultUrl": "https://airtable.com/appT9Q0lTbgTyRrHE"
        },
        "table": {
          "__rl": true,
          "value": "tblWLy8iXGxhOEra5",
          "mode": "list",
          "cachedResultName": "All Submissions",
          "cachedResultUrl": "https://airtable.com/appT9Q0lTbgTyRrHE/tblWLy8iXGxhOEra5"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Search Events').item.json.id }}",
            "Upsell": "Upsell auf Diamond",
            "Lead Herkunft": "📲 DOSM Diamond"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Datum",
              "displayName": "Datum",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead Herkunft",
              "displayName": "Lead Herkunft",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "E-Mail",
              "displayName": "E-Mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Vorname",
              "displayName": "Vorname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Nachname",
              "displayName": "Nachname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefonnummer",
              "displayName": "Telefonnummer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Placement",
              "displayName": "Placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "URL Path",
              "displayName": "URL Path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Count",
              "displayName": "Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_utm_source",
              "displayName": "first_utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_utm_campaign",
              "displayName": "first_utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_utm_medium",
              "displayName": "first_utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_utm_term",
              "displayName": "first_utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_utm_content",
              "displayName": "first_utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_placement",
              "displayName": "first_placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_url_path",
              "displayName": "first_url_path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead Herkunft First",
              "displayName": "Lead Herkunft First",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Erstellt",
              "displayName": "Erstellt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Affiliate",
              "displayName": "Affiliate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "pid",
              "displayName": "pid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "prid",
              "displayName": "prid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DOSM Day 1",
              "displayName": "DOSM Day 1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DOSM Day 2",
              "displayName": "DOSM Day 2",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DOSM Day 3",
              "displayName": "DOSM Day 3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DOSM Day 4",
              "displayName": "DOSM Day 4",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DOSM Day 1 ID",
              "displayName": "DOSM Day 1 ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DOSM Day 2 ID",
              "displayName": "DOSM Day 2 ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DOSM Day 3 ID",
              "displayName": "DOSM Day 3 ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "DOSM Day 4 ID",
              "displayName": "DOSM Day 4 ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Upsell",
              "displayName": "Upsell",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Zuletzt geändert",
              "displayName": "Zuletzt geändert",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "b659d40c-a6d3-4d1c-bbda-cbc6529fec2d",
      "name": "Update Record (Events)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1940,
        440
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "IBvQYb808RuFQZfA",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "df2f7c21-adfa-4888-87c2-bb550eec949b",
              "leftValue": "={{ $('Search Events').item.json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fe89d320-c2f0-48d2-9145-c90164b3f116",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1720,
        640
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app7bQ0CiN5j1RECH",
          "mode": "list",
          "cachedResultName": "Final Tracking",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH"
        },
        "table": {
          "__rl": true,
          "value": "tblj0vg3XIYidUfPB",
          "mode": "list",
          "cachedResultName": "All Submissions",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH/tblj0vg3XIYidUfPB"
        },
        "filterByFormula": "=AND(\n  \"{{ $('Webhook').item.json.body['payer[email]'] }}\"={E-Mail},\n  \"📲 DOSM Gold\"={Lead Herkunft}\n)",
        "returnAll": false,
        "limit": 1,
        "options": {
          "view": {
            "__rl": true,
            "value": "viwyg9zrk87mN8fTl",
            "mode": "list",
            "cachedResultName": "Last Click",
            "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH/tblj0vg3XIYidUfPB/viwyg9zrk87mN8fTl"
          }
        }
      },
      "id": "a0528ed0-7fbb-4920-92c7-cc44b8999730",
      "name": "Search Record (All Submissions)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2160,
        440
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "IBvQYb808RuFQZfA",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app7bQ0CiN5j1RECH",
          "mode": "list",
          "cachedResultName": "Final Tracking",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH"
        },
        "table": {
          "__rl": true,
          "value": "tblj0vg3XIYidUfPB",
          "mode": "list",
          "cachedResultName": "All Submissions",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH/tblj0vg3XIYidUfPB"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Lead Herkunft": "📲 DOSM Diamond"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Datum",
              "displayName": "Datum",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead Herkunft",
              "displayName": "Lead Herkunft",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "E-Mail",
              "displayName": "E-Mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Vorname",
              "displayName": "Vorname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Nachname",
              "displayName": "Nachname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Telefonnummer",
              "displayName": "Telefonnummer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Placement",
              "displayName": "Placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Count",
              "displayName": "Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "URL Path",
              "displayName": "URL Path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_utm_source",
              "displayName": "first_utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_utm_campaign",
              "displayName": "first_utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_utm_medium",
              "displayName": "first_utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_utm_term",
              "displayName": "first_utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_utm_content",
              "displayName": "first_utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_placement",
              "displayName": "first_placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_url_path",
              "displayName": "first_url_path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead Herkunft First",
              "displayName": "Lead Herkunft First",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Zuletzt geändert",
              "displayName": "Zuletzt geändert",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Erstellt",
              "displayName": "Erstellt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Affiliate",
              "displayName": "Affiliate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "pid",
              "displayName": "pid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "prid",
              "displayName": "prid",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "a64acf51-d941-4d19-8e8d-0b49cb89a1e9",
      "name": "Update Record (All Submissions)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2380,
        440
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "IBvQYb808RuFQZfA",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app7bQ0CiN5j1RECH",
          "mode": "list",
          "cachedResultName": "Final Tracking",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH"
        },
        "table": {
          "__rl": true,
          "value": "tbl4nYxtZoBS5J4tn",
          "mode": "list",
          "cachedResultName": "Mini - Produkte",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH/tbl4nYxtZoBS5J4tn"
        },
        "filterByFormula": "=AND(   \"{{ $('Webhook').item.json.body['payer[email]'] }}\"={E-Mail},   \"Days of Social Media Gold Ticket\"={Produkt} )",
        "returnAll": false,
        "limit": 1,
        "options": {
          "view": {
            "__rl": true,
            "value": "viwYfSJwDXrO63TQL",
            "mode": "list",
            "cachedResultName": "Last Click",
            "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH/tbl4nYxtZoBS5J4tn/viwYfSJwDXrO63TQL"
          }
        }
      },
      "id": "315e4dcc-fefc-4964-81ad-81900a844445",
      "name": "Search Record (Mini-Produkte)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2600,
        440
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "IBvQYb808RuFQZfA",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app7bQ0CiN5j1RECH",
          "mode": "list",
          "cachedResultName": "Final Tracking",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH"
        },
        "table": {
          "__rl": true,
          "value": "tbl4nYxtZoBS5J4tn",
          "mode": "list",
          "cachedResultName": "Mini - Produkte",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH/tbl4nYxtZoBS5J4tn"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Produkt": "={{ $('Webhook').item.json.body['product[name]'] }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Datum",
              "displayName": "Datum",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Zuletzt geändert",
              "displayName": "Zuletzt geändert",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Erstellt",
              "displayName": "Erstellt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "E-Mail",
              "displayName": "E-Mail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Vollständiger Name",
              "displayName": "Vollständiger Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Handynummer",
              "displayName": "Handynummer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Produkt",
              "displayName": "Produkt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Produktpreis",
              "displayName": "Produktpreis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Anzahlung / Revenue",
              "displayName": "Anzahlung / Revenue",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Payment Method",
              "displayName": "Payment Method",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Payment Plan / Status",
              "displayName": "Payment Plan / Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Anzahl Raten",
              "displayName": "Anzahl Raten",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Raten",
              "displayName": "Raten",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Land",
              "displayName": "Land",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Stadt",
              "displayName": "Stadt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PLZ",
              "displayName": "PLZ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Strasse ",
              "displayName": "Strasse ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Hausnummer",
              "displayName": "Hausnummer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_source",
              "displayName": "utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_medium",
              "displayName": "utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_campaign",
              "displayName": "utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_term",
              "displayName": "utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "utm_content",
              "displayName": "utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Placement",
              "displayName": "Placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "URL Path",
              "displayName": "URL Path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead Herkunft Last",
              "displayName": "Lead Herkunft Last",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Lead Herkunft First",
              "displayName": "Lead Herkunft First",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_utm_source",
              "displayName": "first_utm_source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_utm_medium",
              "displayName": "first_utm_medium",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_utm_campaign",
              "displayName": "first_utm_campaign",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_utm_term",
              "displayName": "first_utm_term",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_utm_content",
              "displayName": "first_utm_content",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_placement",
              "displayName": "first_placement",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "first_url_path",
              "displayName": "first_url_path",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Affiliate",
              "displayName": "Affiliate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PID",
              "displayName": "PID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "PRID",
              "displayName": "PRID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Affiliate Name",
              "displayName": "Affiliate Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Vorname",
              "displayName": "Vorname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Nachname",
              "displayName": "Nachname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Count",
              "displayName": "Count",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "4340cdd2-6313-4e88-9b1e-65e6c2ea7b42",
      "name": "Update Record (Mini-Produkte)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2800,
        440
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "IBvQYb808RuFQZfA",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "de44d497-a140-4bb3-a512-0d5bf3973c5c",
              "leftValue": "={{ $('Find Record (First Click)3').item.json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8836b998-b797-4d38-989a-8bb3f5d9392a",
      "name": "FIRST UTM",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        2600,
        680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.webinarjam.com/webinarjam/register/",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "9a284655-a800-47fc-9397-b5748e9c6274"
            },
            {
              "name": "webinar_id",
              "value": "96"
            },
            {
              "name": "first_name",
              "value": "={{ $('Webhook').item.json.body['payer[first_name]'] }}"
            },
            {
              "name": "last_name",
              "value": "={{ $('Webhook').item.json.body['payer[last_name]'] }}"
            },
            {
              "name": "email",
              "value": "={{ $('Webhook').item.json.body['payer[email]'] }}"
            },
            {
              "name": "schedule",
              "value": "104"
            }
          ]
        },
        "options": {}
      },
      "id": "1bff5738-0ffb-4636-8ded-377ccb52093a",
      "name": "Send to WebinarJam",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1080,
        320
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "569760c0-334b-47dc-a21b-c32ef043fd9a",
        "options": {}
      },
      "id": "ba6ddd58-efa7-49be-8590-b9672684bec8",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -80,
        640
      ],
      "webhookId": "569760c0-334b-47dc-a21b-c32ef043fd9a",
      "notes": "https://myablefy.com/cabinet/webhook_endpoints/5353/edit"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-11-06T13:22:23.890Z",
  "versionId": "09af2221-4988-4087-ad10-f198ca8bc4be"
}