workflowsClickup Tag added in Fulfilment or Archiv task  ->Update Superchat Contact.json
{
  "active": false,
  "connections": {
    "ClickUp Trigger": {
      "main": [
        [
          {
            "node": "ClickUp Get Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data": {
      "main": [
        []
      ]
    },
    "Check if Fulfillment or Archiv": {
      "main": [
        [
          {
            "node": "Superchat Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp Get Task": {
      "main": [
        [
          {
            "node": "Check if Fulfillment or Archiv",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Superchat Contact1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Superchat Contact": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-24T17:04:37.259Z",
  "id": "Jr3K2PbRuYvBMj31",
  "meta": null,
  "name": "Clickup Tag added in Fulfilment or Archiv task  ->Update Superchat Contact",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "team": "9015284078",
        "events": [
          "taskTagUpdated"
        ],
        "filters": {
          "spaceId": ""
        }
      },
      "type": "n8n-nodes-base.clickUpTrigger",
      "typeVersion": 1,
      "position": [
        -780,
        -240
      ],
      "id": "85be0465-3a66-45f3-a1e9-df6de61bfe31",
      "name": "ClickUp Trigger",
      "webhookId": "e7750cd5-6b8d-4a3a-918d-24d5de0af839",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "LspYar39p5opLqSn",
          "name": "Clickup Mymiapage OAUTH"
        }
      }
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "email",
              "value": "={{ $('ClickUp Get Task').item.json.custom_fields.find(f => f.name === 'E-Mail')?.value }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        -880,
        -540
      ],
      "id": "c569429a-48d9-48cb-8669-a57162bb5997",
      "name": "Execution Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "592f33fc-ffd5-4b98-9015-a6181ca6a844",
              "leftValue": "={{ $('ClickUp Get Task').item.json.space.id }}",
              "rightValue": "90150901171",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "eba24462-686b-42ec-9681-c70815db085c",
              "leftValue": "={{ $('ClickUp Get Task').item.json.space.id }}\n",
              "rightValue": "90150901462",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -320,
        -240
      ],
      "id": "d34a00bb-8be1-4671-bf97-a8ebe6128b75",
      "name": "Check if Fulfillment or Archiv"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "get",
        "id": "={{ $('ClickUp Trigger').item.json.task_id }}"
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        -560,
        -240
      ],
      "id": "045858b0-fce3-4aa7-9bad-f24218622d5c",
      "name": "ClickUp Get Task",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "LspYar39p5opLqSn",
          "name": "Clickup Mymiapage OAUTH"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('ClickUp Trigger').item.json.history_items?.[0]?.after ? true : false }}\n",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tag Added"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8e294035-4cab-450c-9230-b58fd6bb79b5",
                    "leftValue": "={{ $('ClickUp Trigger').item.json.history_items?.[0]?.before ? true : false }}\n",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tag Removed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        140,
        -240
      ],
      "id": "7442f0d2-9f3c-400b-a572-8a20416b556e",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.superchat.com/v1.0/contacts/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "0cdf445e-330f-4179-84a6-faab5838663e"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": {\n    \"value\": [\n      {\n        \"operator\": \"=\",\n        \"field\": \"mail\",\n        \"value\": \"{{ $('ClickUp Get Task').item.json.custom_fields.find(f => f.name === 'E-Mail')?.value }}\"\n      }\n    ]\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        -240
      ],
      "id": "da5664f0-a0d5-4375-8d8c-493bbbe86e84",
      "name": "Superchat Contact"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://api.superchat.com/v1.0/contacts/{{ $('Superchat Contact').item.json.results[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "0cdf445e-330f-4179-84a6-faab5838663e"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": {\n    \"value\": [\n      {\n        \"operator\": \"=\",\n        \"field\": \"mail\",\n        \"value\": \"{{ $('ClickUp Get Task').item.json.custom_fields.find(f => f.name === 'E-Mail')?.value }}\"\n      }\n    ]\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        -560
      ],
      "id": "2f35fbe9-e06d-4804-999b-a5926d03b41f",
      "name": "Superchat Contact1"
    }
  ],
  "pinData": {
    "ClickUp Trigger": [
      {
        "json": {
          "event": "taskTagUpdated",
          "history_items": [
            {
              "id": "4658274120370047303",
              "type": 1,
              "date": "1753450913839",
              "field": "tag_removed",
              "parent_id": "901502108774",
              "data": {},
              "source": null,
              "user": {
                "id": 62512347,
                "username": "Tarek Port",
                "email": "management@pagencymedia.com",
                "color": "",
                "initials": "TP",
                "profilePicture": "https://attachments.clickup.com/profilePictures/62512347_Bkd.jpg",
                "role": 1,
                "role_subtype": 0
              },
              "before": [
                {
                  "name": "laufzeit abgelaufen",
                  "project_id": "90150901171",
                  "tag_fg": "#388d3c",
                  "tag_bg": "#388d3c",
                  "creator": 62512347
                }
              ]
            }
          ],
          "task_id": "86c4q6jzc",
          "webhook_id": "fbb03c53-5e4b-450e-92e9-06f32415514a"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-25T14:29:40.625Z",
  "versionId": "e6668ccd-631f-41b0-9166-ad3d7417255a"
}