workflowsClickup Tag added in Fulfilment or Archiv task  ->Update Superchat Contact.json
{
  "active": false,
  "connections": {
    "ClickUp Trigger": {
      "main": [
        [
          {
            "node": "ClickUp Get Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data": {
      "main": [
        []
      ]
    },
    "Check if Fulfillment or Archiv": {
      "main": [
        [
          {
            "node": "Superchat Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp Get Task": {
      "main": [
        [
          {
            "node": "Check if Fulfillment or Archiv",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Superchat Contact": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Superchat Contact Add/Remove Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Superchat Contact Add/Remove Tag": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-07-24T17:04:37.259Z",
  "id": "Jr3K2PbRuYvBMj31",
  "meta": null,
  "name": "Clickup Tag added in Fulfilment or Archiv task  ->Update Superchat Contact",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "team": "9015284078",
        "events": [
          "taskTagUpdated"
        ],
        "filters": {
          "spaceId": ""
        }
      },
      "type": "n8n-nodes-base.clickUpTrigger",
      "typeVersion": 1,
      "position": [
        -780,
        -240
      ],
      "id": "85be0465-3a66-45f3-a1e9-df6de61bfe31",
      "name": "ClickUp Trigger",
      "webhookId": "e7750cd5-6b8d-4a3a-918d-24d5de0af839",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "LspYar39p5opLqSn",
          "name": "Clickup Mymiapage OAUTH"
        }
      }
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "email",
              "value": "={{ $('ClickUp Get Task').item.json.custom_fields.find(f => f.name === 'E-Mail')?.value }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        -880,
        -540
      ],
      "id": "c569429a-48d9-48cb-8669-a57162bb5997",
      "name": "Execution Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "592f33fc-ffd5-4b98-9015-a6181ca6a844",
              "leftValue": "={{ $('ClickUp Get Task').item.json.space.id }}",
              "rightValue": "90150901171",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "eba24462-686b-42ec-9681-c70815db085c",
              "leftValue": "={{ $('ClickUp Get Task').item.json.space.id }}\n",
              "rightValue": "90150901462",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -320,
        -240
      ],
      "id": "d34a00bb-8be1-4671-bf97-a8ebe6128b75",
      "name": "Check if Fulfillment or Archiv"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "get",
        "id": "={{ $('ClickUp Trigger').item.json.task_id }}"
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        -560,
        -240
      ],
      "id": "045858b0-fce3-4aa7-9bad-f24218622d5c",
      "name": "ClickUp Get Task",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "LspYar39p5opLqSn",
          "name": "Clickup Mymiapage OAUTH"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.superchat.com/v1.0/contacts/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "0cdf445e-330f-4179-84a6-faab5838663e"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": {\n    \"value\": [\n      {\n        \"operator\": \"=\",\n        \"field\": \"mail\",\n        \"value\": \"{{ $('ClickUp Get Task').item.json.custom_fields.find(f => f.name === 'E-Mail')?.value }}\"\n      }\n    ]\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        -240
      ],
      "id": "da5664f0-a0d5-4375-8d8c-493bbbe86e84",
      "name": "Superchat Contact"
    },
    {
      "parameters": {
        "jsCode": "const clickupTags = $('ClickUp Get Task').first().json.tags || [];\n\nconst tagMap = {\n  'konflikt': 'Konflikt',\n  'archiv': 'archiv',\n  'inaktiv': 'inaktiv',\n  'schwieriger Kunde': 'schwieriger kunde',\n  'schwieriger Kunde!': 'schwieriger kunde!',\n  'storno': 'storno',\n  'w - beim Anwalt': 'w - beim Anwalt',\n  'w - Chargeback': 'w - Chargeback',\n  'w - eingereicht': 'w - eingereicht'\n};\n\nconst mappedTags = clickupTags\n  .map(t => tagMap[t.name.trim()])\n  .filter(Boolean); // remove undefined\n\nif (mappedTags.length === 0) {\n  throw new Error('No valid tags found to map.');\n}\n\nreturn [{ json: { mappedTags } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -240
      ],
      "id": "f6274a47-7d1b-435d-9093-f777e841849d",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.superchat.com/v1.0/contacts/{{ $('Superchat Contact').item.json.results[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "0cdf445e-330f-4179-84a6-faab5838663e"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"custom_attributes\": [\n    {\n      \"id\": \"ca_OvoG4ueeNteLiEZUqfNg5\",\n      \"value\": {{ JSON.stringify($json.mappedTags) }}\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        -240
      ],
      "id": "2f35fbe9-e06d-4804-999b-a5926d03b41f",
      "name": "Superchat Contact Add/Remove Tag"
    }
  ],
  "pinData": {
    "ClickUp Trigger": [
      {
        "json": {
          "event": "taskTagUpdated",
          "history_items": [
            {
              "id": "4658485231165983766",
              "type": 1,
              "date": "1753463497021",
              "field": "tag_removed",
              "parent_id": "901502108774",
              "data": {},
              "source": null,
              "user": {
                "id": 62512347,
                "username": "Tarek Port",
                "email": "management@pagencymedia.com",
                "color": "",
                "initials": "TP",
                "profilePicture": "https://attachments.clickup.com/profilePictures/62512347_Bkd.jpg",
                "role": 1,
                "role_subtype": 0
              },
              "before": [
                {
                  "name": "w - eingereicht",
                  "project_id": "90150901171",
                  "tag_fg": "#6E56CF",
                  "tag_bg": "#000",
                  "creator": -1
                }
              ]
            }
          ],
          "task_id": "86c4q6jzc",
          "webhook_id": "d71e1c92-5b2f-44a6-baaf-bb8cd26671ea"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-25T17:12:34.139Z",
  "versionId": "b3d116a5-61ec-4eeb-825a-0a53432cb9cb"
}