workflows[WF-DF-0013] DOSM Umfrage & Follow up 2025.json
{
  "active": true,
  "connections": {
    "Typeform Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ActiveCampaign": {
      "main": [
        [
          {
            "node": "ActiveCampaign1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable1": {
      "main": [
        [
          {
            "node": "Create/Update Lead in Close4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Airtable2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Contact": {
      "main": [
        [
          {
            "node": "ActiveCampaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create/Update Lead in Close4": {
      "main": [
        [
          {
            "node": "Search Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable2": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-08T11:55:43.133Z",
  "id": "bfqgoyvZCdI8wMLb",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "[WF-DF-0013] DOSM Umfrage & Follow up 2025",
  "nodes": [
    {
      "parameters": {
        "formId": "FiPXL3If",
        "onlyAnswers": false
      },
      "id": "3d3da6e7-379b-4ad0-97c1-bc385272e886",
      "name": "Typeform Trigger",
      "type": "n8n-nodes-base.typeformTrigger",
      "typeVersion": 1.1,
      "position": [
        660,
        280
      ],
      "webhookId": "04580242-0c6b-4b35-9189-04fa8d44c75e",
      "credentials": {
        "typeformApi": {
          "id": "WNBjA8Z9BvJjPQzb",
          "name": "Typeform account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactTag",
        "tagId": "165",
        "contactId": "={{ $json.id }}"
      },
      "id": "8f31c009-9ff4-4275-9186-83cc8a223693",
      "name": "ActiveCampaign",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2140,
        180
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "teATeM55lqOgZIOH",
          "name": "ActiveCampaign account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contactList",
        "listId": 41,
        "contactId": "={{ $json.contact }}"
      },
      "id": "c618e299-7342-4628-a354-aa1d25fc3199",
      "name": "ActiveCampaign1",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        2360,
        180
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "teATeM55lqOgZIOH",
          "name": "ActiveCampaign account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appT9Q0lTbgTyRrHE",
          "mode": "list",
          "cachedResultName": "MP LIVE EVENTS",
          "cachedResultUrl": "https://airtable.com/appT9Q0lTbgTyRrHE"
        },
        "table": {
          "__rl": true,
          "value": "tblpHerbKvNq6XBNU",
          "mode": "list",
          "cachedResultName": "DOSM 2024 Umfrage",
          "cachedResultUrl": "https://airtable.com/appT9Q0lTbgTyRrHE/tblpHerbKvNq6XBNU"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Welche Social Media Kanäle nutzt du hauptsächlich und aktiv?": "={{ $('Code1').item.json['Welche Social Media Kanäle nutzt du hauptsächlich und aktiv?'] }}",
            "Wie ist deine aktuelle berufliche Situation?": "={{ $('Code1').item.json['Wie ist deine aktuelle berufliche Situation?'] }}",
            "Wie alt bist Du?": "={{ $('Code1').item.json['Wie alt bist Du?'] }}",
            "Was ist dein Beruf und in welcher Branche bist du tätig?": "={{ $('Code1').item.json['Was ist dein Beruf und in welcher Branche bist du tätig?'] }}",
            "Wie gewinnst du deine Kunden aktuell?": "={{ $('Code1').item.json['Wie gewinnst du deine Kunden aktuell?'] }}",
            "Wie hoch ist dein Jahresumsatz?": "={{ $('Code1').item.json['Wie hoch ist dein Jahresumsatz?'] }}",
            "Hast du schon einmal ein Coaching für dein Business oder persönliches Wachstum gebucht?": "={{ $('Code1').item.json['Hast du schon einmal ein Coaching für dein Business oder persönliches Wachstum gebucht?'] }}",
            "Wenn du ein 1:1-Meeting mit Mia hättest, welche Frage würdest du ihr stellen?": "={{ $('Code1').item.json['Wenn du ein 1:1-Meeting mit Mia hättest, welche Frage würdest du ihr stellen?'] }}",
            "Wie lange folgst du Mia bereits?": "={{ $('Code1').item.json['Wie lange folgst du Mia bereits?'] }}",
            "Nutzt du Social Media für dein Business oder privat (Personal Brand)?": "={{ $('Code1').item.json['Nutzt du Social Media für dein Business oder privat (Personal Brand)?'] }}",
            "Beschreibe deine aktuelle Reichweite und deinen Stand auf Social Media": "={{ $('Code1').item.json['Beschreibe deine aktuelle Reichweite und deinen Stand auf Social Media'] }}",
            "Was ist dein Traum-Ziel bzw. deine Mission mit Social Media?": "={{ $('Code1').item.json['Was ist dein Traum-Ziel bzw. deine Mission mit Social Media?'] }}",
            "Wie bist du auf die Days of Social Media aufmerksam geworden?": "={{ $('Code1').item.json['Wie bist du auf die Days of Social Media aufmerksam geworden?'] }}",
            "Was war dein persönliches Highlight oder Aha-Moment während des Events?": "={{ $('Code1').item.json['Was war dein persönliches Highlight oder Aha-Moment während des Events?'] }}",
            "Was hat dich überzeugt, dein Ticket für die DOSM zu kaufen?": "={{ $('Code1').item.json['Was hat dich überzeugt, dein Ticket für die DOSM zu kaufen?'] }}",
            "Wenn die Days of Social Media noch einmal stattfinden würden, welche Themenschwerpunkte würdest du dir zusätzlich wünschen?": "={{ $('Code1').item.json['Wenn die Days of Social Media noch einmal stattfinden würden, welche Themenschwerpunkte würdest du dir zusätzlich wünschen?'] }}",
            "Gibt es weitere Speaker, die du spannend fändest?": "={{ $('Code1').item.json['Gibt es weitere Speaker, die du spannend fändest?'] }}",
            "Was können wir deiner Meinung nach verbessern oder ausbauen?": "={{ $('Code1').item.json['Was können wir deiner Meinung nach verbessern oder ausbauen?'] }}",
            "Wie wahrscheinlich ist es, dass du das Event weiterempfehlen würdest?": "={{ $('Code1').item.json['Wie wahrscheinlich ist es, dass du das Event weiterempfehlen würdest?'] }}",
            "Welche dieser Begleitmaterialien oder Tools haben dir am meisten geholfen und warum?": "={{ $('Code1').item.json['Welche dieser Begleitmaterialien oder Tools haben dir am meisten geholfen und warum?'] }}",
            "Wie würdest du dein Social Media Wissen VOR dem Event einschätzen?": "={{ $('Code1').item.json['Wie würdest du dein Social Media Wissen VOR dem Event einschätzen?'] }}",
            "Wie würdest du dein Social Media Wissen NACH dem Event einschätzen?": "={{ $('Code1').item.json['Wie würdest du dein Social Media Wissen NACH dem Event einschätzen?'] }}",
            "Wie hoch ist dein Commitment, die Inhalte aus den DOSM in die Praxis umzusetzen?": "={{ $('Code1').item.json['Wie hoch ist dein Commitment, die Inhalte aus den DOSM in die Praxis umzusetzen?'] }}",
            "Was motiviert dich, die gelernten Inhalte umzusetzen?": "={{ $('Code1').item.json['Was motiviert dich, die gelernten Inhalte umzusetzen?'] }}",
            "Bist du bereits Kunde der Social Chronicles?": "={{ $('Code1').item.json['Bist du bereits Kunde der Social Chronicles?'] }}",
            "Möchtest du zukünftig Updates für die Social Media Days 2025 erhalten?": "={{ $('Code1').item.json['Möchtest du zukünftig Updates für die Social Media Days 2025 erhalten?'] }}",
            "Wie viele Mitarbeiter hast du?": "={{ $('Code1').item.json['Wie viele Mitarbeiter hast du?'] }}",
            "Email": "={{ $('Code1').item.json['Bitte gib deine E-Mail Adresse an'] }}",
            "Vorname": "={{ $json.Vorname }}",
            "Nachname": "={{ $json.Nachname }}",
            "Phone": "={{ $('Code1').item.json['Bitte gib deine Telefonnummer an'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Vorname",
              "displayName": "Vorname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nachname",
              "displayName": "Nachname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Wie alt bist Du?",
              "displayName": "Wie alt bist Du?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Was ist dein Beruf und in welcher Branche bist du tätig?",
              "displayName": "Was ist dein Beruf und in welcher Branche bist du tätig?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Wie ist deine aktuelle berufliche Situation?",
              "displayName": "Wie ist deine aktuelle berufliche Situation?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Wie viele Mitarbeiter hast du?",
              "displayName": "Wie viele Mitarbeiter hast du?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Wie gewinnst du deine Kunden aktuell?",
              "displayName": "Wie gewinnst du deine Kunden aktuell?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Wie hoch ist dein Jahresumsatz?",
              "displayName": "Wie hoch ist dein Jahresumsatz?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hast du schon einmal ein Coaching für dein Business oder persönliches Wachstum gebucht?",
              "displayName": "Hast du schon einmal ein Coaching für dein Business oder persönliches Wachstum gebucht?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Wenn du ein 1:1-Meeting mit Mia hättest, welche Frage würdest du ihr stellen?",
              "displayName": "Wenn du ein 1:1-Meeting mit Mia hättest, welche Frage würdest du ihr stellen?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Wie lange folgst du Mia bereits?",
              "displayName": "Wie lange folgst du Mia bereits?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Welche Social Media Kanäle nutzt du hauptsächlich und aktiv?",
              "displayName": "Welche Social Media Kanäle nutzt du hauptsächlich und aktiv?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nutzt du Social Media für dein Business oder privat (Personal Brand)?",
              "displayName": "Nutzt du Social Media für dein Business oder privat (Personal Brand)?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Beschreibe deine aktuelle Reichweite und deinen Stand auf Social Media",
              "displayName": "Beschreibe deine aktuelle Reichweite und deinen Stand auf Social Media",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Was ist dein Traum-Ziel bzw. deine Mission mit Social Media?",
              "displayName": "Was ist dein Traum-Ziel bzw. deine Mission mit Social Media?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Wie bist du auf die Days of Social Media aufmerksam geworden?",
              "displayName": "Wie bist du auf die Days of Social Media aufmerksam geworden?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Was war dein persönliches Highlight oder Aha-Moment während des Events?",
              "displayName": "Was war dein persönliches Highlight oder Aha-Moment während des Events?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Was hat dich überzeugt, dein Ticket für die DOSM zu kaufen?",
              "displayName": "Was hat dich überzeugt, dein Ticket für die DOSM zu kaufen?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Wenn die Days of Social Media noch einmal stattfinden würden, welche Themenschwerpunkte würdest du dir zusätzlich wünschen?",
              "displayName": "Wenn die Days of Social Media noch einmal stattfinden würden, welche Themenschwerpunkte würdest du dir zusätzlich wünschen?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Gibt es weitere Speaker, die du spannend fändest?",
              "displayName": "Gibt es weitere Speaker, die du spannend fändest?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Was können wir deiner Meinung nach verbessern oder ausbauen?",
              "displayName": "Was können wir deiner Meinung nach verbessern oder ausbauen?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Wie wahrscheinlich ist es, dass du das Event weiterempfehlen würdest?",
              "displayName": "Wie wahrscheinlich ist es, dass du das Event weiterempfehlen würdest?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Welche dieser Begleitmaterialien oder Tools haben dir am meisten geholfen und warum?",
              "displayName": "Welche dieser Begleitmaterialien oder Tools haben dir am meisten geholfen und warum?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Wie würdest du dein Social Media Wissen VOR dem Event einschätzen?",
              "displayName": "Wie würdest du dein Social Media Wissen VOR dem Event einschätzen?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Wie würdest du dein Social Media Wissen NACH dem Event einschätzen?",
              "displayName": "Wie würdest du dein Social Media Wissen NACH dem Event einschätzen?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Wie hoch ist dein Commitment, die Inhalte aus den DOSM in die Praxis umzusetzen?",
              "displayName": "Wie hoch ist dein Commitment, die Inhalte aus den DOSM in die Praxis umzusetzen?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Was motiviert dich, die gelernten Inhalte umzusetzen?",
              "displayName": "Was motiviert dich, die gelernten Inhalte umzusetzen?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Bist du bereits Kunde der Social Chronicles?",
              "displayName": "Bist du bereits Kunde der Social Chronicles?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Möchtest du zukünftig Updates für die Social Media Days 2025 erhalten?",
              "displayName": "Möchtest du zukünftig Updates für die Social Media Days 2025 erhalten?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {
          "typecast": true
        }
      },
      "id": "c0bae2c2-fe38-4989-911a-e53abada4eb7",
      "name": "Airtable1",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1520,
        180
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "IBvQYb808RuFQZfA",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Gehe durch alle Einträge in form_response.answers und extrahiere Fragen und Antworten\nconst answers = $json[\"form_response\"][\"answers\"];\nlet output = {};\n\n// Überprüfe, ob answers ein Objekt ist und iteriere durch die Schlüssel-Wert-Paare\nfor (const [key, value] of Object.entries(answers)) {\n    let question = key; // Die Frage ist der Schlüssel\n    let response;\n\n    // Prüfe, ob die Antwort existiert und ob es ein Array, Objekt oder einfacher Wert ist\n    if (Array.isArray(value)) {\n        // Falls die Antwort ein Array ist, verbinde die Einträge zu einem String mit \", \" als Trennzeichen\n        response = value.join(\", \");\n    } else if (typeof value === \"object\" && value !== null) {\n        // Falls die Antwort ein Objekt ist (z.B., für eine 'other'-Option), extrahiere den 'other'-Wert oder andere Unterwerte\n        response = value.other ? String(value.other).replace(/,/g, \" \") : JSON.stringify(value).replace(/,/g, \" \");\n    } else if (value !== undefined && value !== null) {\n        // Falls die Antwort ein einfacher Wert ist, konvertiere ihn in einen String und ersetze alle Kommas\n        response = String(value).replace(/,/g, \" \");\n    } else {\n        // Falls keine Antwort vorhanden ist, setze einen Standardwert\n        response = \"Nicht verfügbar\";\n    }\n\n    // Entferne doppelte Leerzeichen, falls sie vorhanden sind\n    response = response.replace(/\\s+/g, \" \").trim();\n\n    // Füge die Frage und Antwort als Schlüssel-Wert-Paar zum output-Objekt hinzu\n    output[question] = response;\n}\n\n// Das Ergebnis als Objekt zurückgeben, damit n8n es verarbeiten kann\nreturn [{ json: output }];"
      },
      "id": "846818c8-e27d-4994-8183-3e344000c806",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        180
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "additionalFields": {
          "email": "={{ $('Airtable1').item.json.fields.Email }}"
        }
      },
      "id": "89c110c8-8b3a-4b8b-b7b5-39fd7ca1ab2c",
      "name": "Search Contact",
      "type": "n8n-nodes-base.activeCampaign",
      "typeVersion": 1,
      "position": [
        1940,
        180
      ],
      "credentials": {
        "activeCampaignApi": {
          "id": "teATeM55lqOgZIOH",
          "name": "ActiveCampaign account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appT9Q0lTbgTyRrHE",
          "mode": "list",
          "cachedResultName": "MP LIVE EVENTS",
          "cachedResultUrl": "https://airtable.com/appT9Q0lTbgTyRrHE"
        },
        "table": {
          "__rl": true,
          "value": "tblpHerbKvNq6XBNU",
          "mode": "list",
          "cachedResultName": "DOSM 2024 Umfrage",
          "cachedResultUrl": "https://airtable.com/appT9Q0lTbgTyRrHE/tblpHerbKvNq6XBNU"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Welche Social Media Kanäle nutzt du hauptsächlich und aktiv?": "={{ $json['Welche Social Media Kanäle nutzt du hauptsächlich und aktiv?'] }}",
            "Wie ist deine aktuelle berufliche Situation?": "={{ $json['Wie ist deine aktuelle berufliche Situation?'] }}",
            "Wie alt bist Du?": "={{ $json['Wie alt bist Du?'] }}",
            "Was ist dein Beruf und in welcher Branche bist du tätig?": "={{ $json['Was ist dein Beruf und in welcher Branche bist du tätig?'] }}",
            "Wie gewinnst du deine Kunden aktuell?": "={{ $json['Wie gewinnst du deine Kunden aktuell?'] }}",
            "Wie hoch ist dein Jahresumsatz?": "={{ $json['Wie hoch ist dein Jahresumsatz?'] }}",
            "Hast du schon einmal ein Coaching für dein Business oder persönliches Wachstum gebucht?": "={{ $json['Hast du schon einmal ein Coaching für dein Business oder persönliches Wachstum gebucht?'] }}",
            "Wenn du ein 1:1-Meeting mit Mia hättest, welche Frage würdest du ihr stellen?": "={{ $json['Wenn du ein 1:1-Meeting mit Mia hättest, welche Frage würdest du ihr stellen?'] }}",
            "Wie lange folgst du Mia bereits?": "={{ $json['Wie lange folgst du Mia bereits?'] }}",
            "Nutzt du Social Media für dein Business oder privat (Personal Brand)?": "={{ $json['Nutzt du Social Media für dein Business oder privat (Personal Brand)?'] }}",
            "Beschreibe deine aktuelle Reichweite und deinen Stand auf Social Media": "={{ $json['Beschreibe deine aktuelle Reichweite und deinen Stand auf Social Media'] }}",
            "Was ist dein Traum-Ziel bzw. deine Mission mit Social Media?": "={{ $json['Was ist dein Traum-Ziel bzw. deine Mission mit Social Media?'] }}",
            "Wie bist du auf die Days of Social Media aufmerksam geworden?": "={{ $json['Wie bist du auf die Days of Social Media aufmerksam geworden?'] }}",
            "Was war dein persönliches Highlight oder Aha-Moment während des Events?": "={{ $json['Was war dein persönliches Highlight oder Aha-Moment während des Events?'] }}",
            "Was hat dich überzeugt, dein Ticket für die DOSM zu kaufen?": "={{ $json['Was hat dich überzeugt, dein Ticket für die DOSM zu kaufen?'] }}",
            "Wenn die Days of Social Media noch einmal stattfinden würden, welche Themenschwerpunkte würdest du dir zusätzlich wünschen?": "={{ $json['Wenn die Days of Social Media noch einmal stattfinden würden, welche Themenschwerpunkte würdest du dir zusätzlich wünschen?'] }}",
            "Gibt es weitere Speaker, die du spannend fändest?": "={{ $json['Gibt es weitere Speaker, die du spannend fändest?'] }}",
            "Was können wir deiner Meinung nach verbessern oder ausbauen?": "={{ $json['Was können wir deiner Meinung nach verbessern oder ausbauen?'] }}",
            "Wie wahrscheinlich ist es, dass du das Event weiterempfehlen würdest?": "={{ $json['Wie wahrscheinlich ist es, dass du das Event weiterempfehlen würdest?'] }}",
            "Welche dieser Begleitmaterialien oder Tools haben dir am meisten geholfen und warum?": "={{ $json['Welche dieser Begleitmaterialien oder Tools haben dir am meisten geholfen und warum?'] }}",
            "Wie würdest du dein Social Media Wissen VOR dem Event einschätzen?": "={{ $json['Wie würdest du dein Social Media Wissen VOR dem Event einschätzen?'] }}",
            "Wie würdest du dein Social Media Wissen NACH dem Event einschätzen?": "={{ $json['Wie würdest du dein Social Media Wissen NACH dem Event einschätzen?'] }}",
            "Wie hoch ist dein Commitment, die Inhalte aus den DOSM in die Praxis umzusetzen?": "={{ $json['Wie hoch ist dein Commitment, die Inhalte aus den DOSM in die Praxis umzusetzen?'] }}",
            "Was motiviert dich, die gelernten Inhalte umzusetzen?": "={{ $json['Was motiviert dich, die gelernten Inhalte umzusetzen?'] }}",
            "Bist du bereits Kunde der Social Chronicles?": "={{ $json['Bist du bereits Kunde der Social Chronicles?'] }}",
            "Möchtest du zukünftig Updates für die Social Media Days 2025 erhalten?": "={{ $json['Möchtest du zukünftig Updates für die Social Media Days 2025 erhalten?'] }}",
            "Wie viele Mitarbeiter hast du?": "={{ $json['Wie viele Mitarbeiter hast du?'] }}",
            "Email": "={{ $('Typeform Trigger').item.json.form_response.hidden.email }}",
            "Vorname": "={{ $('Typeform Trigger').item.json.form_response.hidden.firstname }}",
            "Nachname": "={{ $('Typeform Trigger').item.json.form_response.hidden.lastname }}",
            "Phone": "={{ $('Typeform Trigger').item.json.form_response.hidden.phone }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Vorname",
              "displayName": "Vorname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nachname",
              "displayName": "Nachname",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Wie alt bist Du?",
              "displayName": "Wie alt bist Du?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Was ist dein Beruf und in welcher Branche bist du tätig?",
              "displayName": "Was ist dein Beruf und in welcher Branche bist du tätig?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Wie ist deine aktuelle berufliche Situation?",
              "displayName": "Wie ist deine aktuelle berufliche Situation?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Wie viele Mitarbeiter hast du?",
              "displayName": "Wie viele Mitarbeiter hast du?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Wie gewinnst du deine Kunden aktuell?",
              "displayName": "Wie gewinnst du deine Kunden aktuell?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Wie hoch ist dein Jahresumsatz?",
              "displayName": "Wie hoch ist dein Jahresumsatz?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hast du schon einmal ein Coaching für dein Business oder persönliches Wachstum gebucht?",
              "displayName": "Hast du schon einmal ein Coaching für dein Business oder persönliches Wachstum gebucht?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Wenn du ein 1:1-Meeting mit Mia hättest, welche Frage würdest du ihr stellen?",
              "displayName": "Wenn du ein 1:1-Meeting mit Mia hättest, welche Frage würdest du ihr stellen?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Wie lange folgst du Mia bereits?",
              "displayName": "Wie lange folgst du Mia bereits?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Welche Social Media Kanäle nutzt du hauptsächlich und aktiv?",
              "displayName": "Welche Social Media Kanäle nutzt du hauptsächlich und aktiv?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nutzt du Social Media für dein Business oder privat (Personal Brand)?",
              "displayName": "Nutzt du Social Media für dein Business oder privat (Personal Brand)?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Beschreibe deine aktuelle Reichweite und deinen Stand auf Social Media",
              "displayName": "Beschreibe deine aktuelle Reichweite und deinen Stand auf Social Media",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Was ist dein Traum-Ziel bzw. deine Mission mit Social Media?",
              "displayName": "Was ist dein Traum-Ziel bzw. deine Mission mit Social Media?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Wie bist du auf die Days of Social Media aufmerksam geworden?",
              "displayName": "Wie bist du auf die Days of Social Media aufmerksam geworden?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Was war dein persönliches Highlight oder Aha-Moment während des Events?",
              "displayName": "Was war dein persönliches Highlight oder Aha-Moment während des Events?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Was hat dich überzeugt, dein Ticket für die DOSM zu kaufen?",
              "displayName": "Was hat dich überzeugt, dein Ticket für die DOSM zu kaufen?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Wenn die Days of Social Media noch einmal stattfinden würden, welche Themenschwerpunkte würdest du dir zusätzlich wünschen?",
              "displayName": "Wenn die Days of Social Media noch einmal stattfinden würden, welche Themenschwerpunkte würdest du dir zusätzlich wünschen?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Gibt es weitere Speaker, die du spannend fändest?",
              "displayName": "Gibt es weitere Speaker, die du spannend fändest?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Was können wir deiner Meinung nach verbessern oder ausbauen?",
              "displayName": "Was können wir deiner Meinung nach verbessern oder ausbauen?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Wie wahrscheinlich ist es, dass du das Event weiterempfehlen würdest?",
              "displayName": "Wie wahrscheinlich ist es, dass du das Event weiterempfehlen würdest?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Welche dieser Begleitmaterialien oder Tools haben dir am meisten geholfen und warum?",
              "displayName": "Welche dieser Begleitmaterialien oder Tools haben dir am meisten geholfen und warum?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Wie würdest du dein Social Media Wissen VOR dem Event einschätzen?",
              "displayName": "Wie würdest du dein Social Media Wissen VOR dem Event einschätzen?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Wie würdest du dein Social Media Wissen NACH dem Event einschätzen?",
              "displayName": "Wie würdest du dein Social Media Wissen NACH dem Event einschätzen?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Wie hoch ist dein Commitment, die Inhalte aus den DOSM in die Praxis umzusetzen?",
              "displayName": "Wie hoch ist dein Commitment, die Inhalte aus den DOSM in die Praxis umzusetzen?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Was motiviert dich, die gelernten Inhalte umzusetzen?",
              "displayName": "Was motiviert dich, die gelernten Inhalte umzusetzen?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Bist du bereits Kunde der Social Chronicles?",
              "displayName": "Bist du bereits Kunde der Social Chronicles?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Möchtest du zukünftig Updates für die Social Media Days 2025 erhalten?",
              "displayName": "Möchtest du zukünftig Updates für die Social Media Days 2025 erhalten?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ]
        },
        "options": {
          "typecast": true
        }
      },
      "id": "dd468af0-4044-4ee2-9cdd-aa86bb39f935",
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1340,
        400
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "IBvQYb808RuFQZfA",
          "name": "Airtable Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Gehe durch alle Einträge in form_response.answers und extrahiere Fragen und Antworten\nconst answers = $json[\"form_response\"][\"answers\"];\nlet output = {};\n\n// Überprüfe, ob answers ein Objekt ist und iteriere durch die Schlüssel-Wert-Paare\nfor (const [key, value] of Object.entries(answers)) {\n    let question = key; // Die Frage ist der Schlüssel\n    let response;\n\n    // Prüfe, ob die Antwort existiert und ob es ein Array, Objekt oder einfacher Wert ist\n    if (Array.isArray(value)) {\n        // Falls die Antwort ein Array ist, verbinde die Einträge zu einem String mit \", \" als Trennzeichen\n        response = value.join(\", \");\n    } else if (typeof value === \"object\" && value !== null) {\n        // Falls die Antwort ein Objekt ist (z.B., für eine 'other'-Option), extrahiere den 'other'-Wert oder andere Unterwerte\n        response = value.other ? String(value.other).replace(/,/g, \" \") : JSON.stringify(value).replace(/,/g, \" \");\n    } else if (value !== undefined && value !== null) {\n        // Falls die Antwort ein einfacher Wert ist, konvertiere ihn in einen String und ersetze alle Kommas\n        response = String(value).replace(/,/g, \" \");\n    } else {\n        // Falls keine Antwort vorhanden ist, setze einen Standardwert\n        response = \"Nicht verfügbar\";\n    }\n\n    // Entferne doppelte Leerzeichen, falls sie vorhanden sind\n    response = response.replace(/\\s+/g, \" \").trim();\n\n    // Füge die Frage und Antwort als Schlüssel-Wert-Paar zum output-Objekt hinzu\n    output[question] = response;\n}\n\n// Das Ergebnis als Objekt zurückgeben, damit n8n es verarbeiten kann\nreturn [{ json: output }];"
      },
      "id": "86b0c38a-acfb-4e08-9af6-7da4ffc60925",
      "name": "Code2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://us-central1-crm-server-mymiapage.cloudfunctions.net/Create_Update_Lead_in_Close",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=name",
              "value": "={{ $json.fields.Vorname }} {{ $json.fields.Nachname }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.fields.Phone }}"
            },
            {
              "name": "email",
              "value": "={{ $json.fields.Email }}"
            },
            {
              "name": "kampagne",
              "value": "📊 DOSM Umfrage"
            },
            {
              "name": "utm_source",
              "value": "={{ $('Typeform Trigger').item.json.form_response.hidden.utm_source }}"
            },
            {
              "name": "utm_medium",
              "value": "={{ $('Typeform Trigger').item.json.form_response.hidden.utm_medium }}"
            },
            {
              "name": "utm_campaign",
              "value": "={{ $('Typeform Trigger').item.json.form_response.hidden.utm_campaign }}"
            },
            {
              "name": "utm_term",
              "value": "={{ $('Typeform Trigger').item.json.form_response.hidden.utm_term }}"
            },
            {
              "name": "utm_content",
              "value": "={{ $('Typeform Trigger').item.json.form_response.hidden.utm_content }}"
            },
            {}
          ]
        },
        "options": {}
      },
      "id": "ac7723f6-a026-4dec-8ef7-07398c05e089",
      "name": "Create/Update Lead in Close4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1720,
        180
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.form_response.answers['Möchtest du zukünftig Updates für die Social Media Days 2025 erhalten?'] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "If customer said YES"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5b6ee771-4cd9-48a0-bc6a-0ae8673d0b2e",
                    "leftValue": "={{ $json.form_response.answers['Möchtest du zukünftig Updates für die Social Media Days 2025 erhalten?'] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "If customer said NO :("
            }
          ]
        },
        "options": {}
      },
      "id": "3d5aa61d-5d8e-48a6-992b-1627cbce36d8",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        920,
        280
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app7bQ0CiN5j1RECH",
          "mode": "list",
          "cachedResultName": "Final Tracking",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH"
        },
        "table": {
          "__rl": true,
          "value": "tblj0vg3XIYidUfPB",
          "mode": "list",
          "cachedResultName": "All Submissions",
          "cachedResultUrl": "https://airtable.com/app7bQ0CiN5j1RECH/tblj0vg3XIYidUfPB"
        },
        "filterByFormula": "={E-Mail} = \"{{ $json['Bitte gib deine E-Mail Adresse an'] }}\"",
        "returnAll": false,
        "limit": 1,
        "options": {}
      },
      "id": "4a37e678-a26b-432a-83e6-90f74c01d629",
      "name": "Airtable2",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1340,
        180
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "IBvQYb808RuFQZfA",
          "name": "Airtable Account"
        }
      }
    }
  ],
  "pinData": {
    "Typeform Trigger": [
      {
        "json": {
          "event_id": "01JD02GFX6FX0ZV2YR8HJJKHM1",
          "event_type": "form_response",
          "form_response": {
            "form_id": "FiPXL3If",
            "token": "n5oqwzyp1pnl2jdrgtn5oqxzcfmszmaf",
            "landed_at": "2024-11-18T16:42:23Z",
            "submitted_at": "2024-11-18T16:43:19Z",
            "hidden": {
              "email": "",
              "firstname": "",
              "lastname": "",
              "phone": "",
              "utm_campaign": "",
              "utm_content": "",
              "utm_medium": "",
              "utm_source": "",
              "utm_term": ""
            },
            "definition": {
              "id": "FiPXL3If",
              "title": "DOSM Umfrage",
              "fields": [
                {
                  "id": "k7N9SELladR9",
                  "ref": "59891435-cfbc-461a-b4b7-a58c8456b027",
                  "type": "multiple_choice",
                  "title": "Wie alt bist Du?",
                  "properties": {},
                  "choices": [
                    {
                      "id": "g0XvUmuVkd3T",
                      "ref": "46ef0272-1a73-4c6c-8d18-6c6fab360861",
                      "label": "18-24"
                    },
                    {
                      "id": "QR0PQON6gzHj",
                      "ref": "01bd76a7-c58d-4536-967f-37b8a1989cd1",
                      "label": "25-34"
                    },
                    {
                      "id": "Wj9jXAqbRHmO",
                      "ref": "f534d8c7-ceda-462f-8bde-0d6ff2333040",
                      "label": "35-44"
                    },
                    {
                      "id": "Qs13c4q4c5vM",
                      "ref": "e4ff3eb7-ab7e-4015-ba8a-44a135d276bd",
                      "label": "45-54"
                    },
                    {
                      "id": "wUuvaQhJv0I8",
                      "ref": "467bd5a0-11a5-470d-8050-6950d89f02d9",
                      "label": "55+"
                    }
                  ]
                },
                {
                  "id": "NVW4DFra9DN5",
                  "ref": "a0b116ab-7140-4dfd-a251-cc3453b58619",
                  "type": "long_text",
                  "title": "Was ist dein Beruf und in welcher Branche bist du tätig?",
                  "properties": {}
                },
                {
                  "id": "7KMPzJ9eiKxP",
                  "ref": "2081edc0-a535-4f06-ab39-c0ce0a0ffad9",
                  "type": "multiple_choice",
                  "title": "Wie ist deine aktuelle berufliche Situation?",
                  "properties": {},
                  "allow_other_choice": true,
                  "choices": [
                    {
                      "id": "TaZdty1RdlXW",
                      "ref": "500e3fd6-c0c9-450d-8763-3158b1f325cd",
                      "label": "Ich bin Unternehmer"
                    },
                    {
                      "id": "mpQHitdWCbN4",
                      "ref": "4a84dc34-86da-45b4-ac10-7b623508b444",
                      "label": "Ich bin Selbstständig"
                    },
                    {
                      "id": "sCorka2PkSj5",
                      "ref": "19305964-7044-41e5-a1fa-733fa6078826",
                      "label": "Ich bin Angestellt"
                    },
                    {
                      "id": "ztdCuLwO4Mfm",
                      "ref": "82412695-1ef9-4ae0-90f9-fd5a50464d60",
                      "label": "Ich bin Student / Schüler / Azubi"
                    }
                  ]
                },
                {
                  "id": "8dgsVjaGjgUg",
                  "ref": "86257ec6-f209-4f2e-a1a1-d79bc2b09be0",
                  "type": "multiple_choice",
                  "title": "Wie viele Mitarbeiter hast du?",
                  "properties": {},
                  "choices": [
                    {
                      "id": "oh81E54meOp9",
                      "ref": "8b50e617-8ee9-49d6-a82b-4c825955c0ba",
                      "label": "1-10"
                    },
                    {
                      "id": "apQ1DEaVGAMS",
                      "ref": "342664cd-b6bd-4b91-b179-64403937f784",
                      "label": "11-50"
                    },
                    {
                      "id": "6unCphfN43SC",
                      "ref": "a928d540-5bce-4deb-ade9-0bd6964dd10b",
                      "label": "51-100"
                    },
                    {
                      "id": "1xH8wYt96kWQ",
                      "ref": "54d643a5-8f4c-4c3b-836e-bd2745e1cdd1",
                      "label": "100\\*"
                    }
                  ]
                },
                {
                  "id": "R1AEiHPH6Puy",
                  "ref": "fcf3f676-3f22-4e93-9d5e-79aac739f09d",
                  "type": "multiple_choice",
                  "title": "Wie gewinnst du deine Kunden aktuell?",
                  "properties": {},
                  "allow_multiple_selections": true,
                  "allow_other_choice": true,
                  "choices": [
                    {
                      "id": "IAJsjncBd8hm",
                      "ref": "6baef562-ec5d-4360-baab-e35f43ea6e55",
                      "label": "Bekanntenkreis"
                    },
                    {
                      "id": "CRO5axdDa1kK",
                      "ref": "b2d80bbd-68b9-476e-bf14-3d3d535c4d43",
                      "label": "Empfehlungen"
                    },
                    {
                      "id": "AGjOMKQSIk0D",
                      "ref": "22c4f782-fc73-4653-8c61-28fd9fd822eb",
                      "label": "Kaltakquise"
                    },
                    {
                      "id": "ZUMMBHOvCwVg",
                      "ref": "1f7caab4-9800-4dd9-ac2a-e138c3e93597",
                      "label": "Social Media"
                    },
                    {
                      "id": "kRcEFRrrV9kK",
                      "ref": "ce97dc84-3b0a-4309-8f78-7a520e5149ea",
                      "label": "Bezahlte Werbung"
                    },
                    {
                      "id": "CDhSNM4hRvrb",
                      "ref": "ee5fceea-f88f-47dd-8368-6c2979da63dc",
                      "label": "Netzwerk-Events"
                    }
                  ]
                },
                {
                  "id": "MAqXRnu543Pd",
                  "ref": "5b827ab8-d07e-4d42-9cd5-e620d7b95c1a",
                  "type": "multiple_choice",
                  "title": "Wie hoch ist dein Jahresumsatz?",
                  "properties": {},
                  "choices": [
                    {
                      "id": "eXesFkms1E8n",
                      "ref": "853cba82-ab36-45de-a15b-9ad1feb8ae5d",
                      "label": "unter 50.000 €"
                    },
                    {
                      "id": "ChGdU0lxC2A1",
                      "ref": "4c8a3324-70fd-427b-adc5-e1b0c78966af",
                      "label": "50.000 € - 100.000 €"
                    },
                    {
                      "id": "KBYdGF5bpK6B",
                      "ref": "0d7c4c4b-b3fb-4587-a1bf-9294aac92021",
                      "label": "100.000 € – 500.000 €"
                    },
                    {
                      "id": "rhZRZKBF1Hal",
                      "ref": "d3710e31-6a10-4608-bf8e-ae081e42eb0e",
                      "label": "500.000 € – 1 Mio. €"
                    },
                    {
                      "id": "sxNJIUXGQphJ",
                      "ref": "e6a81c28-ea0e-4f07-b4cc-7e7c9e0ab297",
                      "label": "über 1 Mio. €"
                    }
                  ]
                },
                {
                  "id": "PBkKCPr7kICm",
                  "ref": "ec7cd0f2-8d5b-456d-b1b9-addcbce867fe",
                  "type": "multiple_choice",
                  "title": "Hast du schon einmal ein Coaching für dein Business oder persönliches Wachstum gebucht?",
                  "properties": {},
                  "choices": [
                    {
                      "id": "Blxk2veZze1o",
                      "ref": "36010106-2072-412c-96d4-ca9576228007",
                      "label": "Ja, mehrere Male"
                    },
                    {
                      "id": "2hduN9mjT76O",
                      "ref": "839f71df-4054-43f9-9372-57f51a592e6a",
                      "label": "Ja, einmal"
                    },
                    {
                      "id": "LkB2WiI84zlP",
                      "ref": "3206ef12-21cc-4fd7-b9e2-9bb2a16c93a5",
                      "label": "Nein"
                    }
                  ]
                },
                {
                  "id": "fu0ejwTtbxsh",
                  "ref": "7c7699c5-6b6d-40fe-a29f-bb5efc7d26b0",
                  "type": "long_text",
                  "title": "Wenn du ein 1:1-Meeting mit Mia hättest, welche Frage würdest du ihr stellen?",
                  "properties": {}
                },
                {
                  "id": "wRn6zOteb7Ce",
                  "ref": "5a425035-2252-4fea-ab00-6722d0a5efe1",
                  "type": "multiple_choice",
                  "title": "Wie lange folgst du Mia bereits?",
                  "properties": {},
                  "choices": [
                    {
                      "id": "YLxemGTGl0c9",
                      "ref": "007ab76b-67da-4fb7-9220-b4d052ea9edc",
                      "label": "2+ Jahre"
                    },
                    {
                      "id": "Y2QDoSnlTNmv",
                      "ref": "535327f3-58b8-4b45-a3e5-7cfa98b22e9d",
                      "label": "1–2 Jahre"
                    },
                    {
                      "id": "VwNIkXOgQhOo",
                      "ref": "77c30668-3020-49c1-a04e-0e263ac177f0",
                      "label": "6–12 Monate"
                    },
                    {
                      "id": "07HIOvcnloCV",
                      "ref": "8a15cd9d-886d-41e4-83ac-c5515dc6ba11",
                      "label": "3–6 Monate"
                    },
                    {
                      "id": "KiWrYS6u2YCm",
                      "ref": "b855992a-39f0-4cf8-b66e-50ef30f49b28",
                      "label": "1–3 Monate"
                    }
                  ]
                },
                {
                  "id": "HDY9yzsxsswU",
                  "ref": "66ed5e64-1feb-4770-a03b-777d4962cd97",
                  "type": "multiple_choice",
                  "title": "Welche Social Media Kanäle nutzt du hauptsächlich und aktiv?",
                  "properties": {},
                  "allow_multiple_selections": true,
                  "allow_other_choice": true,
                  "choices": [
                    {
                      "id": "5NNcdCgT49AR",
                      "ref": "913a98bd-cacb-4e23-b6cf-d3fb88c74c4c",
                      "label": "LinkedIn"
                    },
                    {
                      "id": "00bsJcfQ6ZtI",
                      "ref": "6bc7078b-7c43-4d7c-92ba-6fd85e538ce2",
                      "label": "Instagram"
                    },
                    {
                      "id": "xao2W7EjDq99",
                      "ref": "c0dc0cb6-085c-4d0f-a093-55b1431e8ea2",
                      "label": "TikTok"
                    },
                    {
                      "id": "bTN3ZcAswTMN",
                      "ref": "85b1e5cc-daaa-4c81-8b68-54dbf21c6c2c",
                      "label": "YouTube"
                    },
                    {
                      "id": "YlmRoKKCOfu4",
                      "ref": "ba14d607-4924-4c52-a1d3-0d8c3d1b7a10",
                      "label": "Facebook"
                    },
                    {
                      "id": "aJR0Wb2JUsr5",
                      "ref": "f517c78b-1ad2-4adb-abd5-c94878c620d3",
                      "label": "Twitter/X"
                    }
                  ]
                },
                {
                  "id": "JrCuAI7CKtrr",
                  "ref": "275e1f9e-6ebb-49c0-8134-9d993e740a9f",
                  "type": "multiple_choice",
                  "title": "Nutzt du Social Media für dein Business oder privat (Personal Brand)?",
                  "properties": {},
                  "choices": [
                    {
                      "id": "STzmC0EziNYA",
                      "ref": "cdd14e7f-a279-49c6-a6a6-db2eada42cd9",
                      "label": "Business"
                    },
                    {
                      "id": "yUBTx9Gf0Vd6",
                      "ref": "ee69241c-ac37-4630-8e83-3e3808eba097",
                      "label": "Privat"
                    },
                    {
                      "id": "LGSdPPhowtk7",
                      "ref": "94ea7247-6fa2-4029-bec8-daed8fa9edfd",
                      "label": "Beides"
                    }
                  ]
                },
                {
                  "id": "liVISQqjonML",
                  "ref": "64e8bc71-d43b-4679-9e52-6edbe0fdb7b4",
                  "type": "multiple_choice",
                  "title": "Beschreibe deine aktuelle Reichweite und deinen Stand auf Social Media",
                  "properties": {},
                  "choices": [
                    {
                      "id": "hSJpkZoT9G8R",
                      "ref": "04a089a3-7786-424d-8209-d2d3c74d0614",
                      "label": "0–1.000 Views"
                    },
                    {
                      "id": "MGlrJIy6vyM1",
                      "ref": "32a5222d-9d39-4628-b2ba-aa2d5f4d4ad1",
                      "label": "1.000–7.000 Views"
                    },
                    {
                      "id": "zACAgpdITRha",
                      "ref": "de6d22c5-e322-40fa-83c7-b5821bb77204",
                      "label": "7.000–30.000 Views"
                    },
                    {
                      "id": "K94GT8uJNpUq",
                      "ref": "43370ff4-3ea7-47ab-84d7-1b420c345453",
                      "label": "30.000-100.000 Views"
                    },
                    {
                      "id": "j9QksoZcCsm2",
                      "ref": "c7ff7c87-adb7-4400-a68b-3693a991ffcf",
                      "label": "> 100.000 Views"
                    }
                  ]
                },
                {
                  "id": "nkHL6wyJnIA8",
                  "ref": "5d6999f5-79eb-46e6-9cdc-13802ccb2b08",
                  "type": "long_text",
                  "title": "Was ist dein Traum-Ziel bzw. deine Mission mit Social Media?",
                  "properties": {}
                },
                {
                  "id": "sNJRR6Wjthrv",
                  "ref": "1a44afdf-daf4-45ab-9d4b-22e0816c015a",
                  "type": "multiple_choice",
                  "title": "Wie bist du auf die Days of Social Media aufmerksam geworden?",
                  "properties": {},
                  "allow_other_choice": true,
                  "choices": [
                    {
                      "id": "269cMhRo8VO3",
                      "ref": "a600e1b0-bb4f-4e98-ab8d-a16369469ebf",
                      "label": "Mias Social Media Kanal"
                    },
                    {
                      "id": "R34WK89Jxk1g",
                      "ref": "f7928609-df23-4780-87d0-a128ee466afd",
                      "label": "Ads"
                    },
                    {
                      "id": "2ZXrdn0mkwrF",
                      "ref": "ac7356d1-87c8-4086-a450-2a849ad3baee",
                      "label": "Empfehlung von Freunden/Kollegen"
                    },
                    {
                      "id": "pqmH5DhOKJ6H",
                      "ref": "9c17f2d7-9e86-473c-a4bb-36bb02433cd0",
                      "label": "Speaker"
                    }
                  ]
                },
                {
                  "id": "x9xsNZD1MqXB",
                  "ref": "a8d41d44-c33a-4acd-b733-9b05e0961093",
                  "type": "long_text",
                  "title": "Was war dein persönliches Highlight oder Aha-Moment während des Events?",
                  "properties": {}
                },
                {
                  "id": "W5ubFg9EpKni",
                  "ref": "aacd25f5-2d6b-4107-97e9-9d6037fd7a48",
                  "type": "multiple_choice",
                  "title": "Was hat dich überzeugt, dein Ticket für die DOSM zu kaufen?",
                  "properties": {},
                  "choices": [
                    {
                      "id": "N0ruSXDxd5sj",
                      "ref": "739abf23-bff0-4633-9043-57ba96f8f0c2",
                      "label": "Die Inhalte"
                    },
                    {
                      "id": "7SPqPpxT9WOq",
                      "ref": "2668cdce-b489-448b-a4df-e77dd1eaa00d",
                      "label": "Empfehlungen"
                    },
                    {
                      "id": "3enfwddwYA7w",
                      "ref": "bea6d111-dfb0-4c92-a7c4-c343b1e80450",
                      "label": "Die Speaker und ihre Expertise"
                    },
                    {
                      "id": "mNBBQaT1rHso",
                      "ref": "de1504fd-ec33-49ed-9904-1df070fbda54",
                      "label": "Mias Community und Netzwerk"
                    },
                    {
                      "id": "HpxY71lSPIKA",
                      "ref": "a887871a-8779-4d85-99e6-474826bad304",
                      "label": "Rabattangebote"
                    }
                  ]
                },
                {
                  "id": "00OM9rwugRRq",
                  "ref": "559fa7f4-e727-4284-b5fd-a3d3781c3e15",
                  "type": "long_text",
                  "title": "Wenn die Days of Social Media noch einmal stattfinden würden, welche Themenschwerpunkte würdest du dir zusätzlich wünschen?",
                  "properties": {}
                },
                {
                  "id": "iHbhATrdGzH2",
                  "ref": "7fc48c23-e3d1-45d9-8375-acbc0a80ec71",
                  "type": "long_text",
                  "title": "Gibt es weitere Speaker, die du spannend fändest?",
                  "properties": {}
                },
                {
                  "id": "xoFkoQLNvmoQ",
                  "ref": "4816a481-3565-41a6-8efd-9f2ee9ba8ad7",
                  "type": "multiple_choice",
                  "title": "Was können wir deiner Meinung nach verbessern oder ausbauen?",
                  "properties": {},
                  "allow_other_choice": true,
                  "choices": [
                    {
                      "id": "mQBRp1I2oPd5",
                      "ref": "2b7e6d1c-f41c-4d1c-9cbc-295ce3a2f457",
                      "label": "Mehr interaktive Q&A-Sessions"
                    },
                    {
                      "id": "0x3LexBmMEZa",
                      "ref": "9059bf3c-8407-4cfd-9510-43532083e413",
                      "label": "Weitere praktische Fallbeispiele"
                    },
                    {
                      "id": "WEJJzXQswSud",
                      "ref": "c2afd213-2aca-4c78-b5e2-bb2f86881d92",
                      "label": "Längere Pausen zwischen den Sessions"
                    },
                    {
                      "id": "7B9aNMrN39rr",
                      "ref": "5f6345db-7ad3-48c5-b61a-542360d30578",
                      "label": "Technik und Ablauf"
                    }
                  ]
                },
                {
                  "id": "exktv8bWN0Vh",
                  "ref": "a25aeaea-35dd-48c7-bea0-9c115c5c2c9d",
                  "type": "opinion_scale",
                  "title": "Wie wahrscheinlich ist es, dass du das Event weiterempfehlen würdest?",
                  "properties": {}
                },
                {
                  "id": "8ESTYzcK0lNH",
                  "ref": "8fdfc4a4-943c-43b3-9378-30a83123493d",
                  "type": "multiple_choice",
                  "title": "Welche dieser Begleitmaterialien oder Tools haben dir am meisten geholfen und warum?",
                  "properties": {},
                  "allow_other_choice": true,
                  "choices": [
                    {
                      "id": "lvCSz2k6E50D",
                      "ref": "8cb6aba5-6927-488c-b717-7a7c0d4c14fa",
                      "label": "Skool-Community"
                    },
                    {
                      "id": "daHJEFurDWxr",
                      "ref": "8cdb3667-d123-4f3d-b3b1-1e25d9331e50",
                      "label": "Workbook"
                    },
                    {
                      "id": "j3S7ocjEvsFp",
                      "ref": "a9dbdcce-8725-48f7-9ada-ad4f388e823e",
                      "label": "Challenges"
                    },
                    {
                      "id": "Y3Gy3rMaMlUB",
                      "ref": "6f68c38f-60de-482d-8273-688308d8092a",
                      "label": "Seperater Instagram Account"
                    }
                  ]
                },
                {
                  "id": "HzgGg9EbcNJb",
                  "ref": "68b4f555-2454-4f40-a9c8-5f0103d77a9b",
                  "type": "opinion_scale",
                  "title": "Wie würdest du dein Social Media Wissen VOR dem Event einschätzen?",
                  "properties": {}
                },
                {
                  "id": "s6aml0pabIse",
                  "ref": "c851542f-be81-4a64-bfea-a6cb9db4e0c7",
                  "type": "opinion_scale",
                  "title": "Wie würdest du dein Social Media Wissen NACH dem Event einschätzen?",
                  "properties": {}
                },
                {
                  "id": "semuVSLXzNzy",
                  "ref": "aaec8fc1-e01d-47f0-87dc-d0496d8c205c",
                  "type": "opinion_scale",
                  "title": "Wie hoch ist dein Commitment, die Inhalte aus den DOSM in die Praxis umzusetzen?",
                  "properties": {}
                },
                {
                  "id": "qpfdTMO8vbBT",
                  "ref": "8d4115ed-b65e-4a52-8376-2021492fb311",
                  "type": "long_text",
                  "title": "Was motiviert dich, die gelernten Inhalte umzusetzen?",
                  "properties": {}
                },
                {
                  "id": "awNK2pU6X9Hj",
                  "ref": "0eb1b24f-7974-4483-9966-c39e25b1c37c",
                  "type": "multiple_choice",
                  "title": "Bist du bereits Kunde der Social Chronicles?",
                  "properties": {},
                  "choices": [
                    {
                      "id": "gP9faqVG6pxO",
                      "ref": "973a69a0-9c4c-4ec6-b73c-64b401e4a066",
                      "label": "Ja, seit unter 6 Monaten"
                    },
                    {
                      "id": "DzLqJR7mtQAA",
                      "ref": "a84e0352-fd8e-40c9-b5b7-76a331959645",
                      "label": "Ja, seit über 6 Monaten"
                    },
                    {
                      "id": "qOSta6NHzGDy",
                      "ref": "d5ba82ec-c800-438d-9005-acaaf82d2f17",
                      "label": "Nein"
                    }
                  ]
                },
                {
                  "id": "aXjOvpyI6izb",
                  "ref": "b20608c4-b18e-4bb3-9620-e1e3935df5da",
                  "type": "yes_no",
                  "title": "Möchtest du zukünftig Updates für die Social Media Days 2025 erhalten?",
                  "properties": {}
                },
                {
                  "id": "IKkTpTpGbofQ",
                  "ref": "59f9ac2d-88d5-412d-80e0-35e41fb5d779",
                  "type": "email",
                  "title": "Bitte gib deine E-Mail Adresse an",
                  "properties": {}
                },
                {
                  "id": "0C98KSj83uxC",
                  "ref": "d0711682-8ac0-4edc-9037-d30d08510a4d",
                  "type": "phone_number",
                  "title": "Bitte gib deine Telefonnummer an",
                  "properties": {}
                }
              ],
              "endings": [
                {
                  "id": "irs30r5WmN0U",
                  "ref": "605e9a0d-2549-4ac2-b353-1a1e698508d8",
                  "title": "Danke für deine Zeit 🥳",
                  "type": "thankyou_screen",
                  "properties": {
                    "description": "Vielen Dank für deine Teilnahme an unserer Umfrage! Dein Feedback ist uns sehr wichtig und hilft uns, unsere Angebote stetig zu verbessern.",
                    "button_text": "Folge mir auf Instagram",
                    "show_button": true,
                    "share_icons": false,
                    "button_mode": "redirect",
                    "redirect_url": "https://www.instagram.com/mymiapage"
                  }
                }
              ]
            },
            "answers": {
              "Wie alt bist Du?": "25-34",
              "Was ist dein Beruf und in welcher Branche bist du tätig?": "dasd",
              "Wie ist deine aktuelle berufliche Situation?": "Ich bin Unternehmer",
              "Wie viele Mitarbeiter hast du?": "1-10",
              "Wie gewinnst du deine Kunden aktuell?": [
                "Empfehlungen",
                "Netzwerk-Events"
              ],
              "Wie hoch ist dein Jahresumsatz?": "unter 50.000 €",
              "Hast du schon einmal ein Coaching für dein Business oder persönliches Wachstum gebucht?": "Ja, einmal",
              "Wenn du ein 1:1-Meeting mit Mia hättest, welche Frage würdest du ihr stellen?": "dasd",
              "Wie lange folgst du Mia bereits?": "3–6 Monate",
              "Welche Social Media Kanäle nutzt du hauptsächlich und aktiv?": [
                "YouTube",
                "Instagram"
              ],
              "Nutzt du Social Media für dein Business oder privat (Personal Brand)?": "Beides",
              "Beschreibe deine aktuelle Reichweite und deinen Stand auf Social Media": "7.000–30.000 Views",
              "Was ist dein Traum-Ziel bzw. deine Mission mit Social Media?": "asdas",
              "Wie bist du auf die Days of Social Media aufmerksam geworden?": "Speaker",
              "Was war dein persönliches Highlight oder Aha-Moment während des Events?": "dasds",
              "Was hat dich überzeugt, dein Ticket für die DOSM zu kaufen?": "Die Speaker und ihre Expertise",
              "Wenn die Days of Social Media noch einmal stattfinden würden, welche Themenschwerpunkte würdest du dir zusätzlich wünschen?": "dasd",
              "Gibt es weitere Speaker, die du spannend fändest?": "asdasd",
              "Was können wir deiner Meinung nach verbessern oder ausbauen?": "Längere Pausen zwischen den Sessions",
              "Wie wahrscheinlich ist es, dass du das Event weiterempfehlen würdest?": 1,
              "Welche dieser Begleitmaterialien oder Tools haben dir am meisten geholfen und warum?": "Challenges",
              "Wie würdest du dein Social Media Wissen VOR dem Event einschätzen?": 1,
              "Wie würdest du dein Social Media Wissen NACH dem Event einschätzen?": 1,
              "Wie hoch ist dein Commitment, die Inhalte aus den DOSM in die Praxis umzusetzen?": 1,
              "Was motiviert dich, die gelernten Inhalte umzusetzen?": "adasd",
              "Bist du bereits Kunde der Social Chronicles?": "Nein",
              "Möchtest du zukünftig Updates für die Social Media Days 2025 erhalten?": true,
              "Bitte gib deine E-Mail Adresse an": "daniel@eyl-marketing.de",
              "Bitte gib deine Telefonnummer an": "+49342423423423423"
            },
            "ending": {
              "id": "irs30r5WmN0U",
              "ref": "605e9a0d-2549-4ac2-b353-1a1e698508d8"
            }
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Berlin",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "zwVmjda7oPTTXCQD"
  },
  "staticData": {
    "node:Typeform Trigger": {
      "webhookId": "n8n-s1qise63a6"
    }
  },
  "tags": [
    {
      "createdAt": "2024-12-10T15:27:46.642Z",
      "updatedAt": "2024-12-10T15:27:46.642Z",
      "id": "VvwxOzqj9tBZMm7s",
      "name": "airtable"
    },
    {
      "createdAt": "2024-12-10T15:27:49.326Z",
      "updatedAt": "2024-12-10T15:27:49.326Z",
      "id": "38bR0ks6f7wVJ5Zj",
      "name": "close"
    },
    {
      "createdAt": "2024-12-10T15:27:43.788Z",
      "updatedAt": "2024-12-10T15:27:43.788Z",
      "id": "CKO2xAwHg9nnscdV",
      "name": "active campaign"
    },
    {
      "createdAt": "2024-12-18T13:48:03.827Z",
      "updatedAt": "2024-12-18T13:48:03.827Z",
      "id": "3HRZFaNnFUl91Ipc",
      "name": "typeform"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-04-22T13:44:11.821Z",
  "versionId": "7f45498a-ef15-4ff6-8d1b-024f35d16cc7"
}