workflowsClickup Tag added in Fulfilment or Archiv task  ->Update Superchat Contact.json
{
  "active": false,
  "connections": {
    "ClickUp Trigger": {
      "main": [
        [
          {
            "node": "ClickUp Get Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execution Data": {
      "main": [
        []
      ]
    },
    "Check if Fulfillment or Archiv": {
      "main": [
        [
          {
            "node": "Superchat Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClickUp Get Task": {
      "main": [
        [
          {
            "node": "Check if Fulfillment or Archiv",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execution Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Superchat Contact": {
      "main": [
        [
          {
            "node": "If Tag was added",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Tag was added": {
      "main": [
        [
          {
            "node": "Switch Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Tags": {
      "main": [
        [
          {
            "node": "Superchat Contact Add Tag",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [],
        [],
        [],
        [],
        [],
        []
      ]
    }
  },
  "createdAt": "2025-07-24T17:04:37.259Z",
  "id": "Jr3K2PbRuYvBMj31",
  "meta": null,
  "name": "Clickup Tag added in Fulfilment or Archiv task  ->Update Superchat Contact",
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "team": "9015284078",
        "events": [
          "taskTagUpdated"
        ],
        "filters": {
          "spaceId": ""
        }
      },
      "type": "n8n-nodes-base.clickUpTrigger",
      "typeVersion": 1,
      "position": [
        -780,
        -240
      ],
      "id": "85be0465-3a66-45f3-a1e9-df6de61bfe31",
      "name": "ClickUp Trigger",
      "webhookId": "e7750cd5-6b8d-4a3a-918d-24d5de0af839",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "LspYar39p5opLqSn",
          "name": "Clickup Mymiapage OAUTH"
        }
      }
    },
    {
      "parameters": {
        "dataToSave": {
          "values": [
            {
              "key": "email",
              "value": "={{ $('ClickUp Get Task').item.json.custom_fields.find(f => f.name === 'E-Mail')?.value }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executionData",
      "typeVersion": 1,
      "position": [
        -880,
        -540
      ],
      "id": "c569429a-48d9-48cb-8669-a57162bb5997",
      "name": "Execution Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "592f33fc-ffd5-4b98-9015-a6181ca6a844",
              "leftValue": "={{ $('ClickUp Get Task').item.json.space.id }}",
              "rightValue": "90150901171",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "eba24462-686b-42ec-9681-c70815db085c",
              "leftValue": "={{ $('ClickUp Get Task').item.json.space.id }}\n",
              "rightValue": "90150901462",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -320,
        -240
      ],
      "id": "d34a00bb-8be1-4671-bf97-a8ebe6128b75",
      "name": "Check if Fulfillment or Archiv"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "get",
        "id": "={{ $('ClickUp Trigger').item.json.task_id }}"
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        -560,
        -240
      ],
      "id": "045858b0-fce3-4aa7-9bad-f24218622d5c",
      "name": "ClickUp Get Task",
      "credentials": {
        "clickUpOAuth2Api": {
          "id": "LspYar39p5opLqSn",
          "name": "Clickup Mymiapage OAUTH"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.superchat.com/v1.0/contacts/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "0cdf445e-330f-4179-84a6-faab5838663e"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": {\n    \"value\": [\n      {\n        \"operator\": \"=\",\n        \"field\": \"mail\",\n        \"value\": \"{{ $('ClickUp Get Task').item.json.custom_fields.find(f => f.name === 'E-Mail')?.value }}\"\n      }\n    ]\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        -240
      ],
      "id": "da5664f0-a0d5-4375-8d8c-493bbbe86e84",
      "name": "Superchat Contact"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.superchat.com/v1.0/contacts/{{ $('Superchat Contact').item.json.results[0].id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "0cdf445e-330f-4179-84a6-faab5838663e"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"custom_attributes\": [\n    {\n      \"name\": \"Tag\",\n      \"value\": [\"laufzeit abgelaufen\"]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        -600
      ],
      "id": "2f35fbe9-e06d-4804-999b-a5926d03b41f",
      "name": "Superchat Contact Add Tag"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b28fc260-e7a1-4bbc-85f6-f771505a29e6",
              "leftValue": "{{ $('ClickUp Trigger').item.json.history_items?.[0]?.after ? true : false }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "ba21ca9e-f2f1-466b-acbd-5f966d79648a",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        140,
        -240
      ],
      "id": "3747349c-140a-41e8-8153-8e6f800052fd",
      "name": "If Tag was added"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('ClickUp Trigger').item.json.history_items[0].after[0].name\n",
                    "rightValue": "inaktiv",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "inaktiv"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0e4119ea-d52e-4864-b29e-d59d7a92f77d",
                    "leftValue": "{{ $('ClickUp Trigger').item.json.history_items[0].after[0].name",
                    "rightValue": "Konflikt",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Konflikt"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1b6d7064-2a6d-446f-be82-e6572d032ff9",
                    "leftValue": "{{ $('ClickUp Trigger').item.json.history_items[0].after[0].name",
                    "rightValue": "archiv",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "archiv"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c1a945fc-fe78-433b-8df7-255add3659ce",
                    "leftValue": "{{ $('ClickUp Trigger').item.json.history_items[0].after[0].name",
                    "rightValue": "schwieriger Kunde",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "schwieriger Kunde"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "460a35db-1e35-4e18-a9ee-7072c8b3e3b9",
                    "leftValue": "{{ $('ClickUp Trigger').item.json.history_items[0].after[0].name",
                    "rightValue": "schwieriger Kunde!",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "schwieriger Kunde!"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0a15a7fa-ae26-41d8-bed2-174e1a27090b",
                    "leftValue": "{{ $('ClickUp Trigger').item.json.history_items[0].after[0].name",
                    "rightValue": "storno",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "storno"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "468b674d-b718-40d6-9f23-4c2acdf5790e",
                    "leftValue": "{{ $('ClickUp Trigger').item.json.history_items[0].after[0].name",
                    "rightValue": "w - beim Anwalt",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "w - beim Anwalt"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9d9f87fa-f1bb-437e-a3ce-fbe9b65818a4",
                    "leftValue": "{{ $('ClickUp Trigger').item.json.history_items[0].after[0].name",
                    "rightValue": "w - Chargeback",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "w - Chargeback"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "09b2b4e1-717e-4d05-acf5-b0b2c565ec07",
                    "leftValue": "{{ $('ClickUp Trigger').item.json.history_items[0].after[0].name",
                    "rightValue": "w - eingereicht",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "w - eingereicht"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        400,
        -520
      ],
      "id": "7442f0d2-9f3c-400b-a572-8a20416b556e",
      "name": "Switch Tags"
    }
  ],
  "pinData": {
    "ClickUp Trigger": [
      {
        "json": {
          "event": "taskTagUpdated",
          "history_items": [
            {
              "id": "4658396919491282435",
              "type": 1,
              "date": "1753458233236",
              "field": "tag",
              "parent_id": "901502108774",
              "data": {},
              "source": null,
              "user": {
                "id": 62512347,
                "username": "Tarek Port",
                "email": "management@pagencymedia.com",
                "color": "",
                "initials": "TP",
                "profilePicture": "https://attachments.clickup.com/profilePictures/62512347_Bkd.jpg",
                "role": 1,
                "role_subtype": 0
              },
              "after": [
                {
                  "name": "inaktiv",
                  "project_id": "90150901171",
                  "tag_fg": "#4466ff",
                  "tag_bg": "#e5484d",
                  "creator": 82611023
                }
              ]
            }
          ],
          "task_id": "86c4q6jzc",
          "webhook_id": "4f6dc89e-e6c1-4a54-8d05-6efe2ae1d642"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-25T16:02:17.624Z",
  "versionId": "44b8054b-952e-41c2-8555-03aa0756ef3a"
}